@page "/create-bt/{id:int}"

@using System.Globalization
@using Application.CQRS.AccountingCQRS.CostCenters.Queries
@using Application.CQRS.AccountingCQRS.Countries.Queries
@using Application.CQRS.AccountingCQRS.GLAccounts.Queries
@using Application.CQRS.AccountingCQRS.VATRates.Queries
@using Application.CQRS.General.Organisations.Queries
@using Application.CQRS.ITWarehouseCQRS.Employees.Queries
@using Application.Forms.Accounting
@using Application.Forms.Accounting.Enums
@using Application.ViewModels.Accounting
@using BOAppFluentUI.Components.Pages
@using BOAppFluentUI.Components.Pages.Accounting.SharedComponents
@using Application.ViewModels.General
@using Microsoft.AspNetCore.Components
@using Microsoft.Build.Construction
@using Microsoft.CodeAnalysis.Elfie.Extensions
@using Microsoft.FluentUI.AspNetCore.Components.Extensions

@inject IConfiguration _configuration
@inject IMediator _mediator
@inject IJSRuntime JS
@inject ILogger<BusinessTravelFormVm> _logger
@inject IToastService _toastService
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
@inject IWebHostEnvironment Environment

<h3>BusinessTrip_CreatePage</h3>

<EditForm Model="formItem"  OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @* FluentGrid Header Table*@
    @if (formItem != null && _organisation != null)
    {
        <FluentGrid Spacing="2" Justify="@Justification" Style="flex-wrap: nowrap; width:800px; padding: 4px;" >
            <FluentGridItem   xs="2" sm="3" md="4" lg="4" xl="4" >
                <FluentLabel><b>Numer: </b></FluentLabel>
            </FluentGridItem>
            <FluentGridItem   xs="2" sm="3" md="4" lg="4" xl="4">
                <FluentLabel>@formItem.Number</FluentLabel>
            </FluentGridItem>
            <FluentGridItem  xs="2" sm="3" md="4" lg="4" xl="4" >
                <FluentLabel><b>Utworzono: </b></FluentLabel>
            </FluentGridItem>
            <FluentGridItem   xs="2" sm="3" md="4" lg="4" xl="4">
                @formItem.CreatedDate.ToString("yyyy-MM-dd")
            </FluentGridItem>
        </FluentGrid>
        <FluentGrid Spacing="2" Justify="@Justification" Style="flex-wrap: nowrap; max-width: fit-content; padding: 4px;">
            <FluentGridItem  Style="min-width: 120px; max-width: 150px;" >
                <FluentLabel><b>Organizacja: </b></FluentLabel>
            </FluentGridItem>
            <FluentGridItem  Style="min-width: 150px; max-width: 200px;"  >
                <FluentLabel>@_organisation.Name</FluentLabel>
            </FluentGridItem>
            <FluentGridItem Style="min-width: 120px; max-width: 150px;"  >
                <FluentLabel><b>Zgłaszający: </b></FluentLabel>
            </FluentGridItem>
            <FluentGridItem  Style="min-width: 150px; max-width: 200px;" >
                @formItem.EmployeeName
            </FluentGridItem>
        </FluentGrid>
    }
    @* Header Table *@
    @if (formItem != null && _organisation != null)
    {
        <div class="form-section">
            <table class="info-table">
                <tr>
                    <td><b>Numer:</b></td>
                    <td>@formItem.Number</td>
                    <td><b>Zgłoszone: </b></td>
                    <td>@formItem.CreatedDate.ToString("yyyy-MM-dd")</td>
                </tr>
                <tr>
                    <td><b>Organizacja:</b></td>
                    <td>@_organisation.Name</td>
                    <td><b>Zgłaszający:</b></td>
                    <td>@formItem.EmployeeName</td>
                </tr>
            </table>
        </div>
    }
    
    @* New *@
    <FluentGrid Spacing="2" Justify="@Justification" Style="flex-wrap: nowrap; max-width: fit-content; padding: 4px;">
        <FluentGridItem  class="form-section" xs="2" sm="3" md="4" lg="4" xl="4">
            <div>
                <FluentLabel><b>Pracownik: </b></FluentLabel>
            </div>
            <div>
                <FluentAutocomplete TOption="EmployeeVm"
                                    Disabled="@IsEmployeeDisabled"
                                    Class="bold-label"
                                    AutoComplete="on"
                                    OnOptionsSearch="@OnAssigneeSearch"
                                    Placeholder="Select assignee..."
                                    MaximumSelectedOptions="1"
                                    OptionText="@(p => p.LongName + ' ' + p.Position)"
                                    @bind-SelectedOptions="@SelectedEmpl"
                                    @bind-SelectedOptions:after="@HandleAssigneeChange"
                                    Width="200px"/>
            </div>
        </FluentGridItem>
        <FluentGridItem class="form-section" xs="2" sm="3" md="4" lg="4" xl="4">
            <div>
                <FluentLabel><b>Status: </b></FluentLabel>
            </div>
            <div>
                @* <FluentTextField @bind-Value="@formItem.Status" *@
                @*                  @bind-Value:after="@(HandleStatusChange)"/> *@
                <FluentCombobox Items="@_Statuses"
                                @bind-Value="@formItem.Status"
                                @bind-Value:after="@(HandleStatusChange)"
                                AllowFreeform="false"
                                Placeholder="wskaż status"
                                Width="150px"/>
            </div>
        </FluentGridItem>
    </FluentGrid>
    @* Employee *@
    <div class="form-section">

       
    </div>
    @* Destination and Objective *@

    <FluentGrid Spacing="2" Justify="@Justification" Style="flex-wrap: nowrap; max-width: fit-content; padding: 4px;">
        <FluentGridItem  class="form-section" xs="12" sm="6" md="4" lg="3" xl="2">
            <div>
                <FluentLabel><b>Kraj docelowy:</b> </FluentLabel>
            </div>
            <div>
                <FluentAutocomplete TOption="CountryVm"
                                    Disabled="@IsDestinationDisabled"
                                    AutoComplete="on"
                                    OnOptionsSearch="@OnCountrySearch"
                                    Placeholder="Wybierz kraj docelowy..."
                                    MaximumSelectedOptions="1"
                                    OptionText="@(p => p.Name)"
                                    @bind-SelectedOptions="@SelectedCountry"
                                    @bind-SelectedOptions:after="HandleCountryAdd"
                                    Width="150px"/>
                <ValidationMessage For="@(() => formItem.DestinationCountry)" class="validation-error"/>
            </div>
        </FluentGridItem>
        <FluentGridItem class="form-section" xs="12" sm="6" md="4" lg="3" xl="2" >
            <div>
                <FluentLabel><b>Miasto:</b></FluentLabel>
            </div>
            <div>
                <FluentCombobox Items="@_cities"
                                Disabled="@IsDestinationDisabled"
                                @bind-Value="formItem.Destination"
                                AllowFreeform="true"
                                Placeholder="Wybierz lub wprowadź..."
                                Width="150px"/>
            </div>
        </FluentGridItem>
        <FluentGridItem class="form-section" xs="12" sm="6" md="4" lg="3" xl="2" >
            <div>
                <FluentLabel><b >Cel podrózy:</b> </FluentLabel>
            </div>
            <div>
                <FluentAutocomplete TOption="string"
                                    Disabled="@IsDestinationDisabled"
                                    AutoComplete="on"
                                    OnOptionsSearch="@OnObjectiveSearch"
                                    Placeholder="Wybierz cel podrózy..."
                                    MaximumSelectedOptions="1"
                                    @bind-SelectedOptions="@SelectedObjective"
                                    bind-SelectedOptions:after="@HandleObjectiveChange"
                                    Width="150px"/>
            </div>
        </FluentGridItem>

    </FluentGrid>
    
    <div class="form-section">
    </div>
    @* Dates *@
    <div class="form-section">
        <div>
            <FluentLabel><b>Początek: </b></FluentLabel>
        </div>
        <div>
            <DateTimePickerComponent
                DateTimeValue="@formItem.StartDate"
                Disabled="@IsDateTimeDisabled"
                DateTimeValueChanged="@(e => HandleDateTimeChanged(e, "from"))"
            />
        </div>
        <div>
            <FluentLabel><b>Koniec: </b></FluentLabel>
        </div>
        <div>
            <DateTimePickerComponent
                DateTimeValue="@formItem.EndDate"
                Disabled="@IsDateTimeDisabled"
                DateTimeValueChanged="@(e => HandleDateTimeChanged(e, "to"))"/>
        </div>
        @if (!string.IsNullOrEmpty(DateTimeValidationMessage))
        {
            <div class="validation-error">
                <p style="color:red;">@DateTimeValidationMessage</p></div>
        }
      
    </div>
    @* Transportation *@
    <div class="form-section">
        <div Style="width: 125px;">
            <FluentLabel Style="width: 100%;"><b>Środki transportu: </b></FluentLabel>
        </div>
        <div >
            <FluentSelect TOption="string"
                          Disabled="@IsTransportationDisabled"
                          Items="@Conveyances"
                          Placeholder="wybierz środek lokomocji"
                          Multiple="false"
                          @bind-Value="@SelectedConveyanceTxt"
                          @bind-Value:after="HandleConveyanceStringChange"
                          Width = "150px"
                          />
        </div>
        @if (IsCompanyCar)
        {   <div Style="max-width: 175px">
                <FluentLabel Style="width: auto;"><b>Numer rejestracyjny:</b></FluentLabel>
            </div>
            <div Style="width: 125px;">
                <FluentTextField Disabled="@IsTransportationDisabled"    Style="width: 100%;" @bind-Value="@formItem.CompanyVehicleNumber" />
            </div>
        }
        @if (IsPrivateCar)
        {
            <div Style="max-width: 175px">
                <FluentLabel Style="width: auto;"><b>Numer rejestracyjny:</b></FluentLabel>
            </div>
            <div Style="width: 100px">
                <FluentTextField
                    Disabled="@IsTransportationDisabled"
                    @bind-Value:get="@formItem.PrivateVehicleNumber"
                    @bind-Value:set="@(value => formItem.PrivateVehicleNumber = value)"
                    Style="width: auto;"/>
            </div>
            <div Style="max-width: 175px">
                <FluentLabel Style="width: auto;"><b>Pojemność silnika: </b></FluentLabel>
            </div>
            <div Style="width: 100px">
                <FluentNumberField
                    Disabled="@IsTransportationDisabled"
                    @bind-Value:get="@formItem.PrivateVehicleEngineSize"
                    @bind-Value:set="@(value => formItem.PrivateVehicleEngineSize = value)"
                    Style="width: auto;"/>
            </div>
            <div Style="width: 150px">
                <FluentLabel Style="width: auto;"><b>Planowany przebieg: </b></FluentLabel>
            </div>
            <div Style="width: 100px">
                <FluentNumberField
                    Disabled="@IsMileageDisabled"
                    @bind-Value:get="@formItem.PrivateVehicleMilage"
                    @bind-Value:set="@(value => formItem.PrivateVehicleMilage = value)"
                    Style="width: auto;"/>
            </div>
        }
        @if (IsPublicTransport)
        {
            <div>
                <FluentSwitch Id = "publictransportId"
                              Label="Opłacone przez firmę: "
                              Disabled="@IsTransportationDisabled"
                              @bind-Value:get="@formItem.PublicTransportPaid"
                              @bind-Value:set="@HandlePublicTransportPaidChanged"/>
            </div>
            <FluentTooltip Anchor="publictransportId" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Right Delay=50>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu</FluentTooltip>
        }
    </div>
    <ValidationMessage For="@(() => formItem.CompanyVehicleNumber)" class="validation-error"/>
    <ValidationMessage For="@(() => formItem.PrivateVehicleNumber)" class="validation-error"/>
    @* Advance Payment *@
    <div class="form-section">
        <div>
            <FluentLabel><b>Zaliczka: </b></FluentLabel>
        </div>
        <div>
            <FluentSwitch   Disabled="@IsAdvancedPaymentDisabled"
                            @bind-Value:get="@formItem.AdvancePayment"
                            @bind-Value:set="@HandleAdvancePaymentPaidChanged"/>
        </div>
        
        @if (formItem.AdvancePayment)
        {
            <div>
                <FluentLabel><b>Kwota: </b></FluentLabel>
            </div>
            <div>
                <FluentNumberField
                    Disabled="@IsAdvancedPaymentDisabled"
                    @bind-Value:get="@formItem.AdvancePaymentAmount"
                    @bind-Value:set="@(value => formItem.AdvancePaymentAmount = value)"
                    Style="width: 100px"/> PLN
            </div>

            @if (AdvancePaymentMethodsInt != null)
            {
                <div>
                    <FluentLabel><b>Wypłata: </b></FluentLabel>
                </div>
                <div>
                    <FluentSelect
                        Disabled="@IsAdvancedPaymentDisabled"
                        Items=@AdvancePaymentMethodsInt
                        TOption="Option<int>"
                        OptionText="@(a => a.Text)"
                        OptionValue="@(a => a.Value.ToString())"
                        OptionSelected="@(a => a.Selected)"
                        @bind-Value="@AdvancePaymentCashString"
                        Width = "150px"
                    />
                </div>
            }

            @if (!formItem.AdvancePaymentCash.GetValueOrDefault())
            {
                <div>
                    <FluentAutocomplete TOption="Location"
                                        Disabled="@IsAdvancedPaymentDisabled"
                                        SelectValueOnTab="true"
                                        AutoComplete="on"
                                        Items="@_locations"
                                        OnOptionsSearch="@OnLocationSearch"
                                        Placeholder="wybierz lokalizację..."
                                        Multiple=true
                                        MaximumSelectedOptions="1"
                                        OptionText="@(p => p.SapNumber + ' ' + p.Name)"
                                        @bind-SelectedOptions="@_selectedLocation"
                                        @bind-SelectedOptions:after="@HandleLocationChange"
                                        Width="180px" />
                </div>
                
            }
            else if (formItem.AdvancePaymentCash.GetValueOrDefault())
            {
                <div>
                    <FluentLabel><b>Podaj numer konta: </b></FluentLabel>
                </div>
                <div>
                    <FluentTextField
                        Disabled="@IsAdvancedPaymentDisabled"
                        @bind-Value="@formItem.BankAccountNumber"/>
                </div>
            }
            @formItem.BankAccountNumber
        }
    </div>
    @if (formItem.Status == "Kasa" || formItem.Status == "Ksiegowosc")
    {
        <div class="new-form-section @(formItem.Status == "Kasa" ? "kasa" : "ksiegowosc")">
            <div>
                <FluentLabel><b>Wypłata zaliczki </b></FluentLabel>
            </div>
            <div>
                <FluentLabel><b>Kasjerka: </b></FluentLabel>
            </div>
            <div>
                <FluentTextField
                    Disabled="true"
                    @bind-Value="@formItem.PayoutCashier.LongName"/>
            </div>

            <div Style="width: 100px">
                <FluentTextField Label="KW: "
                                 Disabled="@(!IsCashPayoutEnabled())"
                                 @bind-Value="@formItem.CashPayoutNumber"
                                 Style="width: auto;"/>
            </div>

        </div>
    }
    @if (formItem.Status == "KasaRozliczenie" || formItem.Status == "Rozliczone")
    {
        <div class="form-section">
            <div>
                <FluentLabel><b>Rozliczenie zaliczki</b></FluentLabel>
            </div>
            <div>
                <FluentLabel><b>Kasjerka: </b></FluentLabel>
            </div>
            <div>
                <FluentTextField
                    Disabled="true"
                    @bind-Value="@formItem.ReceiptCashier.LongName"/>
            </div>

            <div Style="width: 150px">
                <FluentTextField Label="KW: "
                                 Disabled="@(!IsCashReceiptEnabled())"
                                 @bind-Value="@formItem.CashReceiptNumber"
                                 Style="width: auto;"/>
            </div>
        </div>
    }


    <hr>
    @if (ShowStages)
    {
        <hr>
        @* List of stages - if country is not PL add Country Trip and then abroad trip and again country trip*@
        <h4>Etapy: </h4>
        <table>
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Kraj: </th>
                <th>Od: </th>
                <th>Do: </th>
                <th>Diet: </th>
                <th>TimeSpan: </th>
                <th>Diet Value:</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var stage in formItem.Stages)
            {
                <tr>
                    <td>@stage.Id</td>
                    <td>
                        <div>
                            @stage.CountryName
                        </div>
                    </td>
                    <td style="background-color: #f0f8ff; padding: 5px;" class="od-column">
                        <DateTimePickerComponent Label=""
                                                 DateTimeValue="@stage.StartDate"
                                                 DateTimeValueChanged="@(value => HandleStageDateTimeChanged(value, stage, nameof(stage.StartDate), stage.Id))" />
                    </td>
                    <td style="background-color: #ffe4e1; padding: 5px;" class="do-column">
                        <DateTimePickerComponent Label=""
                                                 DateTimeValue="@stage.EndDate"
                                                 DateTimeValueChanged="@(value => HandleStageDateTimeChanged(value, stage, nameof(stage.EndDate), stage.Id))" />
                    </td>
                    <td>
                        @(stage.AllowanceOrigin + stage.AllowanceAbroad)
                    </td>
                    <td>
                        @stage.timeSpan
                    </td>
                    <td>
                        @(stage.AllowanceOriginValue + stage.AllowanceAbroadValue) @(stage.CountryCurrency)
                    </td>
                </tr>
            }
            </tbody>
        </table>
        @if (!string.IsNullOrEmpty(StagesDatesErrorMessage))
        {
            <div class="validation-error"><p style="color:red;">@StagesDatesErrorMessage</p></div>
        }
    }
    @if (ShowAccomodations)
    {
        <hr>
        @* List of Accommodations - added and removed as Stages*@
        <h4>Noclegi: </h4>
        <table>
            <thead>
            <tr>
                <th>Etap</th>
                <th>Państwo</th>
                <th>Noclegi</th>
                <th>Rachunek</th>
                <th>Kwota</th>
                <th>Stawka</th>
                <th>Currency</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var accommodation in formItem.Accommodations)
            {
                <tr>
                
                    <td> Etap: @accommodation.StageId</td>
                    <td>@accommodation.CountryName</td>
                    <td>@accommodation.Nights</td>
                    <td>
                    
                        <FluentSwitch @bind-Value:get="@accommodation.HasInvoices"
                                      @bind-Value:set="@(value => HandleAccommodationHasInvoices(accommodation, value))" />
                    </td>
                    <td>
                        <FluentNumberField @bind-Value:get="@accommodation.InvoicesAmount"
                                           @bind-Value:set="@(value => HandleAccommodationInvoicesAmount(accommodation, value))"
                                           Disabled="!accommodation.HasInvoices"
                                           Style="@(accommodation.HasInvoices ? "" : "color: gray;")">
                        </FluentNumberField>
                    </td>
                    <td>
                        <span style="@(accommodation.HasInvoices ? "color: gray;" : "")">
                            @accommodation.AllowanceRate
                        </span>
                    </td>
                    <td>
                        <span style="@(accommodation.HasInvoices ? "color: gray;" : "")">
                            @accommodation.AllowanceRateCurrency
                        </span>
                    </td>
                    <td>
                        @accommodation.Total
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    @if (ShowMeals)
    {
        <hr>
        <h4>Zapewnione posiłki: </h4>
        <table>
            <thead title="Posiłki zapewnione:">
            <tr>
                <th>Etap</th>
                <th>CountryName</th>
                <th>Breakfasts</th>
                <th>Lunches</th>
                <th>Dinners</th>
                <th>Total</th>
                <th>Dni</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var meal in formItem.Meals)
            {
                <tr>

                    <td>@meal.StageId</td>
                    <td>@meal.CountryName</td>
                    <td>
                        <FluentNumberField Disabled="@((meal.Duration == 0) ? true : false)"
                                           Min = "0"
                                           Max="@meal.Nights.ToString()" 
                                           @bind-Value:get="@meal.CoveredBreakfasts"
                                           @bind-Value:set="(value => HandleMealChanged(meal, value, nameof(meal.CoveredBreakfasts)))"
                        />
                    </td>
                    <td>
                        <FluentNumberField Disabled="@((meal.Duration == 0) ? true : false)" 
                                           Min = "0"
                                           Max="@meal.Duration.ToString()"
                                           @bind-Value:get="@meal.CoveredDinners"
                                           @bind-Value:set="(value => HandleMealChanged(meal, value, nameof(meal.CoveredDinners)))"
                        />
                    </td>
                    <td>
                        <FluentNumberField Disabled="@((meal.Duration == 0) ? true : false)" 
                                           Min = "0" 
                                           Max="@meal.Duration.ToString()" 
                                           @bind-Value:get="@meal.CoveredLunches"
                                           @bind-Value:set="(value => HandleMealChanged(meal, value, nameof(meal.CoveredLunches)))" 
                        />
                    </td>
                    <td>@meal.Total</td>
                    <td>@meal.Duration</td>
                </tr>
            }
            </tbody>
        </table>
    }
    @if (ShowLocalTravels)
    {
        <hr>
        <h4>Ryczałt na pokrycie kosztów dojazdu środkami komunikacji</h4>
        <table>
            <thead >
            <tr>
                <th>Etap</th>
                <th>CountryName</th>
                <th>Days</th>
                <th>AllowanceRate</th>
                <th>Total</th>
                <th>Duration</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var localTravel in formItem.LocalTravels)
            {
                <tr>

                    <td>@localTravel.StageId</td>
                    <td>@localTravel.CountryName</td>
                    <td>
                        <FluentNumberField Disabled="@((localTravel.Duration == 0) ? true : false)"
                                           Min = "0"
                                           Max="@localTravel.Duration.ToString()"
                                           @bind-Value:get="@localTravel.Days"
                                           @bind-Value:set="(value => HandleLocalTravelChanged(localTravel, value))"
                        />
                    </td>
                    <td>
                        @localTravel.AllowanceRate
                    </td>
                    <td>@localTravel.Total @localTravel.AllowanceRateCurrency</td>
                
                    <td>@localTravel.Duration</td>
                </tr>
            }
            </tbody>
        </table>
    }
    @if (ShowTransits)
    {
        <hr>
        <h4>Dojazd z dworca/lotniska do Hotelu: </h4>
        <FluentRadioGroup 
            @bind-Value:get="formItem.Transit.Directions" 
            @bind-Value:set="HandleTransitDirectionsChanged">
            <FluentRadio Value="0">Mam rachunek/bilet w obie strony</FluentRadio>
            <FluentRadio Value="1">Mam rachunek/bilet w jedną stronę</FluentRadio>
            <FluentRadio Value="2">Nie mam rachunku/biletu w żadnym kierunku</FluentRadio>
        </FluentRadioGroup>
        <hr>
        <br>
    }
    @if (ShowBills)
    {
        <table class="fluent-table" style="width: auto">
            <caption class="fluent-caption">
                Pozostałe rachunki i bilety
            </caption>
            <thead class="fluent-thead">
                <tr>
                    <th style="width: 50px;">Lp.</th>
                    <th style="width: 100px;">Kwota brutto</th>
                    <th style="width: 125px;">Uzasadnienie</th>
                    <th style="width: 80px;">Załącznik</th>
                    <th style="width: 30px;">Akcje</th>



                </tr>
            </thead>
            <tbody>
                @foreach (var bill in formItem.Bills)
                {
                    
                    <tr class="fluent-row">
                        <td>@bill.Id</td>
                        <td>
                            <FluentNumberField 
                                Disabled="@IsBillsDisabled"
                                Min="0"
                                @bind-Value:get="@bill.Amount"
                                @bind-Value:set="(value => HandleBillChanged(bill, value))"
                                width="100px"
                            />
                        </td>
                        <td>
                            <FluentCombobox
                                            Disabled="@IsBillsDisabled"
                                            Items="@_billReasons"
                                            @bind-Value="@bill.Reason"
                                            AllowFreeform="false"
                                            Placeholder="Wybierz lub wprowadź..."
                                            Width="125px"/>
                        </td>
                        <td>
                            <div>
                                @{ var attbillId = $"attbillId-{bill.Id}"; }
                                <FluentButton Id="@attbillId" Disabled="@IsBillsDisabled" IconEnd="@(new Icons.Filled.Size20.Attach())" OnClick="@(() => UploadFileForBill(bill))"/>
                                @if (bill.FilePath is not null)
                                {
                                    <FluentTooltip Anchor="@attbillId" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Right Delay=50>Wymień załącznik</FluentTooltip>
                                    var billId = $"billId-{bill.Id}"; 
                                    <FluentButton Id="@billId" Disabled="@IsBillsDisabled" IconEnd="@(new Icons.Regular.Size20.DeleteOff())" OnClick="@(() => RemoveFileFromBill(bill))"/>
                                    <FluentTooltip Anchor="@billId" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Right Delay=50>Usuń załącznik</FluentTooltip> 
                                    var billViewId = $"billViewId-{bill.Id}"; 
                                    <FluentButton Id="@billViewId" Disabled="@IsBillsDisabled" IconEnd="@(new Icons.Filled.Size20.ArrowDownload())" OnClick="@(() => ViewAttachment(bill.AttUrl))"/>
                                    <FluentTooltip Anchor="@billViewId" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Right Delay=50>Pobierz/Otwórz załącznik</FluentTooltip>
                                } else {
                                    <FluentTooltip Anchor="@attbillId" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Right Delay=50>Dodaj załącznik</FluentTooltip>
                                            
                                }
                                
                            </div>
                        </td>
                        <td>
                            @{
                                var billRemId = $"billRemId-{bill.Id}";
                            }
                            <div>
                                <FluentButton Id="@billRemId" Disabled="@IsBillsDisabled" IconEnd="@(new Icons.Filled.Size20.Delete())" OnClick="@(() => RemoveBill(bill))"/>
                                <FluentTooltip Anchor="@billRemId" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Right Delay=50>Usuń rachunek/bilet</FluentTooltip>
                            </div>
                        </td>
                    </tr>
                    @if (EnterInvoiceMapping)
                    {
                        <tr class="fluent-row">
                            <td colspan="7"> <!-- Adjust colspan to match the number of columns -->
                                <InvoiceMappingEditComponent Disabled="@IsInvoiceMappingDisabled" InvoiceMapping="@bill.InvoiceMappings.First()" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <FluentButton Id="addBill" IconEnd="@(new Icons.Regular.Size20.Add())" OnClick="@(() => AddBill())" />
        <FluentTooltip Anchor="addBill" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Right Delay=50>Dodaj rachunek lub bilet</FluentTooltip>
        <hr>
 
    }
    @if (ShowSummary)
    {
        <table class="fluent-table">
            <caption class="fluent-caption">
                Posumowanie:
            </caption>
            <thead class="fluent-thead">
                <tr>
                    <th style="width: 150px;">Dieta krajowa</th>
                    <th style="width: 150px;">Dieta zagraniczna</th>
                    <th style="width: 150px;">Suma należnych diet krajowych</th>
                    <th style="width: 150px;">Suma należnych diet zagranicznych</th>
                    <th style="width: 150px;">Potrącenie za posiłki krajowe</th>
                    <th style="width: 150px;">Potrącenie za posiłki zagraniczne</th>
                    <th style="width: 150px;">Ryczałt za nocleg krajowy</th>
                    <th style="width: 150px;">Ryczałt za nocleg zagraniczny</th>
                </tr>
            </thead>
            <tbody>
                <tr class="fluent-row">
                    <td>
                        @formItem.AllowancePL
                    </td>
                    <td>
                        @formItem.AllowanceNotPL
                    </td>
                    <td>
                        @formItem.SumAllowancePL
                    </td>
                    <td>
                        @formItem.SumAllowanceNotPL
                    </td>
                    <td>
                        @formItem.DeductionMealsPL
                    </td>
                    <td>
                        @formItem.DeductionMealsNotPL
                    </td>
                    <td>
                        @formItem.AccomodationAllowanceSumPL
                    </td>
                    <td>
                        @formItem.AccomodationAllowanceSumNotPL
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
</EditForm>
<InputFile id="fileInput" OnChange="HandleFileUpload" accept=".png, .jpg, .pdf" style="display: none;" />
@code {

    # region Declarations

        [Parameter] public int Id { get; set; }
        JustifyContent Justification = JustifyContent.FlexStart;
    # region General
        // private EditContext _editContext;
        private BusinessTravelFormVm formItem = new BusinessTravelFormVm();
        private FormUserContext _userContext = new FormUserContext("BusinessTrip", "Technician");
        private OrganisationRoleForFormVm approverL1 { get; set; }
        private OrganisationRoleForFormVm approverL2 { get; set; }
        private OrganisationRoleForFormVm approverL3 { get; set; }
        private OrganisationRoleForFormVm approverL4 { get; set; }
        private OrganisationRoleForFormVm approverL5 { get; set; }
        private bool al1 = false;
        private bool al2 = false;
        private bool al3 = false;
        private bool al4 = false;
        private bool al5 = false;
        private bool ApproveButton = true;
        private bool SendButton = true;
        private OrganisationVm _organisation { get; set; }
        private WorkflowTemplateVm wf { get; set; }
        private string FormName = "BusinessTravelFormVm";
        private bool local = true;
        
        private IQueryable<EmployeeVm> Employees { get; set; }
        private IEnumerable<EmployeeVm> SelectedEmpl { get; set; }
        private IQueryable<string> _Statuses = Enum.GetValues(typeof(Statuses))
            .Cast<Statuses>().Select(c => c.ToString()).AsQueryable();

    #endregion
    #region Time
    
        private DateTime SelectedStartDate = DateTime.Now;
        private DateTime SelectedEndDate = DateTime.Now;
        private DateOnly? SelectedDateFrom { get; set; } = DateOnly.FromDateTime(DateTime.Now);
        private TimeOnly? SelectedTimeFrom { get; set; } = TimeOnly.FromDateTime(DateTime.Now);
        private DateTime? SelectedDateTimeFrom { get; set; }

        private DateOnly? SelectedDateTo { get; set; } = DateOnly.FromDateTime(DateTime.Now);
        private TimeOnly? SelectedTimeTo { get; set; } = TimeOnly.FromDateTime(DateTime.Now);
        private DateTime? SelectedDateTimeTo { get; set; }
        private string DateTimeValidationMessage { get; set; } = string.Empty;
        private string StagesDatesErrorMessage { get; set; } = string.Empty;

    #endregion Time
    #region Finance
    
        public string AdvancePaymentCashString
        {
            get => formItem.AdvancePaymentCash.HasValue ? (formItem.AdvancePaymentCash.Value ? "1" : "0") : null;
            set => formItem.AdvancePaymentCash = value switch
            {
                "1" => true,
                "0" => false,
                _ => (bool?)null
            };
        }
        private List<Option<int>> AdvancePaymentMethodsInt = new()
        {
            { new Option<int> { Value = 0, Text = "Wypłata w Kasie", Selected = true } },
            { new Option<int> { Value = 1, Text = "Wypłata przelewem" } },
        };
    
        private Bill CurrentBillForUpload { get; set; } = new Bill();
        private IQueryable<string> _billReasons = Enum.GetValues(typeof(BillReasons))
            .Cast<BillReasons>().Select(c => c.ToString()).AsQueryable();
        private IEnumerable<CountryVm> SelectedCountry { get; set; }
        private IQueryable<CountryVm> Countries { get; set; }
        private CountryVm Origin { get; set; }
        private IEnumerable<Location> _locations { get; set; } = new List<Location>().AsQueryable();
        IEnumerable<Location> _selectedLocation = Array.Empty<Location>();

    #endregion
    #region DestinationsObjectivesMeans
        private List<CountryVm> SelectedCountries { get; set; } = new();
        private string SelectedCity { get; set; } = string.Empty;
        private IQueryable<string> _cities = Enum.GetValues(typeof(Cities))
            .Cast<Cities>().Select(c => c.ToString()).AsQueryable();
        private IEnumerable<string> SelectedObjective { get; set; }
        private IQueryable<string> _objectives = Enum.GetValues(typeof(Objectives))
            .Cast<Objectives>().Select(c => c.ToString()).AsQueryable();
        private IQueryable<string> Conveyances = new List<string>
        {
            "Samochód służbowy",
            "Samochód prywatny",
            "Transport publiczny"
        }.AsQueryable();
        private IEnumerable<string> SelectedConveyance { get; set; }
        private string SelectedConveyanceTxt { get; set; }
        private bool IsPrivateCar { get; set; } = false;
        private bool IsCompanyCar { get; set; } = false;
        private bool IsPublicTransport { get; set; } = false;

    #endregion
    #region SteeringBools
        private bool ShowStages { get; set; } = false;
        private bool ShowAccomodations { get; set; } = false;
        private bool ShowMeals { get; set; } = false;
        private bool ShowLocalTravels { get; set; } = false;
        private bool ShowTransits { get; set; } = false;
        private bool ShowCashier { get; set; } = false;
        private bool ShowBills { get; set; } = false;
        private bool ShowSummary { get; set; } = false;
        private bool EnterInvoiceMapping { get; set; } = false;
    #endregion

    #region EnableBools

        private bool IsAdvancedPaymentDisabled { get; set; } = false; //wyłącza kontrolki do zaliczki
        private bool IsCashPayoutNumberDisabled { get; set; } = false; //wyłącza kontrolki do zaliczki
        private bool IsDateTimeDisabled { get; set; } = false; //wyłącza możliwość zmiany dat
        private bool IsDestinationDisabled { get; set; } = true; //wyłącza możliwość zmiany celu podróży
        private bool IsEmployeeDisabled { get; set; } = true; //wyłącza możliwość zmiany delegowanego
        private bool IsTransportationDisabled { get; set; } = true; //wyłącza sekcję transportową
        private bool IsMileageDisabled { get; set; } = true;
        private bool IsBillsDisabled { get; set; } = true; //wyłącza możliwość zmiany wprowadzonych rachunków
        private bool IsInvoiceMappingDisabled { get; set; } = true; //wyłącza możliwość edycji dekretacji faktury
        
    #endregion
        
    # endregion

    protected override async Task OnInitializedAsync()
    {
        // _editContext = new EditContext(formItem);
        try
        {
            formItem.StartDate = DateTime.Now;
            formItem.EndDate = DateTime.Now.AddHours(2);
        }
        catch (Exception ex)
        {
            _toastService.ShowError($"An error occurred during initialization: {ex.Message}");
        }

        await Utils.GetUserName(_authenticationStateProvider, _userContext, _mediator);
        
        Console.WriteLine();
        Countries = await _mediator.Send(new GetAllCountryQuery());
        SelectedCountries = new List<CountryVm> { Countries.FirstOrDefault(c => c.Name == "Polska") };
        SelectedCountry = SelectedCountries;
        Origin = SelectedCountries[0];

        
        
        Employees = await _mediator.Send(new GetAllEmployeesQuery());
        _locations = await _mediator.Send(new GetLocationsQuery());

        if (SelectedCountry != null && SelectedCountry.Any())
        {
            await AddStage(SelectedCountry.First());
            var firststage = formItem.Stages[0];
            RecalculateStages(firststage.Id, nameof(firststage.EndDate));
            RecalculateAccomodations();
            RecalculateMeals();
        }
        else
        {
            // Handle the case where SelectedCountry is null or empty
        }

        if (formItem.Status == "Rejestracja")
        {
            SetupFormRejestracja();
        }
        Console.WriteLine();
    }
    private async Task AddStage(CountryVm country)
    {
        var duration = (formItem.EndDate.Value - formItem.StartDate.Value).TotalDays;
        var firstStage = new Stage()
        {
            Id = formItem.Stages.Count() + 1,
            CountryCode = country.CountryCode,
            CountryName = country.Name,
            CountryAllowance = country.Allowance,
            CountryCurrency = country.CurrencyVmName,
            StartDate = formItem.StartDate,
            EndDate = formItem.EndDate,
            Duration = Math.Round((decimal)duration, 2)
        };
        formItem.Stages.Add(firstStage);
        ValidateDates();

        var firstAccomodation = new Accommodation()
        {

            StageId = firstStage.Id,
            CountryCode = country.CountryCode,
            CountryName = country.Name,
            Duration = firstStage.Duration,
            AllowanceRate = country.AccomodationAllowance,
            AllowanceRateCurrency = country.CurrencyVmName,
            HasInvoices = false,
            InvoicesAmount = 0,
            Total = country.AccomodationAllowance * firstStage.Duration
        };
        formItem.Accommodations.Add(firstAccomodation);

        var firstMeal = new Meals()
        {
            StageId = firstStage.Id,
            CountryCode = country.CountryCode,
            CountryName = country.Name,
            AllowanceRate = country.Allowance,
            AllowanceRateCurrency = country.CurrencyVmName,
            Duration = (int)Math.Ceiling(firstStage.AllowanceOrigin.GetValueOrDefault() + firstStage.AllowanceAbroad.GetValueOrDefault())
        };
        formItem.Meals.Add(firstMeal);

        var firstLocalTravel = new LocalTravel()
        {
            StageId = firstStage.Id,
            CountryCode = country.CountryCode,
            CountryName = country.Name,
            AllowanceRate = country.LocalTravelAllowance,
            AllowanceRateCurrency = country.CurrencyVmName,
            Duration = (int)Math.Ceiling(firstStage.AllowanceOrigin.GetValueOrDefault() + firstStage.AllowanceAbroad.GetValueOrDefault())
        };
        formItem.LocalTravels.Add(firstLocalTravel);

        if (firstStage.CountryCode != "PL")
        {
            formItem.Transit = new Transit()
            {
                StageId = firstStage.Id,
                CountryCode = country.CountryCode,
                CountryName = country.Name,
                AllowanceRate = country.TravelAllowance,
                AllowanceRateCurrency = country.CurrencyVmName,
            };
            RecalculateTransit();
        }

        RecalculateStages(firstStage.Id, nameof(firstStage.EndDate));
        RecalculateAccomodations();
        RecalculateMeals();
        RecalculateLocalTravels();

    }

    #region OnSearch
    
        private void OnLocationSearch(OptionsSearchEventArgs<Location> e)
        {
            if (e.Text != null)
            {
                e.Items = _locations.Where(a => 
                    a.Name.Contains(e.Text, StringComparison.OrdinalIgnoreCase) || 
                    a.SapNumber.Contains(e.Text, StringComparison.OrdinalIgnoreCase)).ToList();
            }
        }
        
        private void OnCountrySearch(OptionsSearchEventArgs<CountryVm> e)
        {
            if (e.Text != null)
            {
                e.Items = Countries.Where(a => a.Name.Contains(e.Text, StringComparison.OrdinalIgnoreCase));
            }
        }
        private void OnObjectiveSearch(OptionsSearchEventArgs<string> e)
        {
            if (e.Text != null)
            {
                e.Items = _objectives.Where(a => a.Contains(e.Text, StringComparison.OrdinalIgnoreCase));
            }
        }
        private void OnAssigneeSearch(OptionsSearchEventArgs<EmployeeVm> e)
        {
            if (e.Text != null)
            {
                e.Items = Employees.Where(a => a.LongName.Contains(e.Text, StringComparison.OrdinalIgnoreCase));
            }
        }
    #endregion OnSearch
    #region OnChange
        private void HandleStatusChange()
        {
            SetupForm(formItem.Status);
        }
        private void HandleTransitDirectionsChanged(int value)
        {
            formItem.Transit.Directions = value;
            formItem.Transit.Total = formItem.Transit.Directions switch
            {
                0 => 0,
                1 => formItem.Transit.AllowanceRate,
                2 => formItem.Transit.AllowanceRate * 2,
                _ => formItem.Transit.Total
            };
        }
        private void HandleLocationChange()
        {
            formItem.CashPoint = _selectedLocation.FirstOrDefault();

            Console.WriteLine();
        }
        private async Task HandleBillChanged(Bill bill, decimal v)
        {
            bill.Amount = v;
        }
        private async Task HandleLocalTravelChanged(LocalTravel l, int v)
        {
            l.Days = v;
            RecalculateLocalTravels();
        }
        private async Task HandleMealChanged(Meals m, int v, string p)
        {
            var property = m.GetType().GetProperty(p);
            if (property != null && property.CanWrite)
            {
                property.SetValue(m, v);
            }

            RecalculateMeals();
        }
        private async Task HandleStageIncluded(Stage stage, bool value)
        {
            stage.Included = value;
            formItem.Accommodations[stage.Id - 1].Included = value;
            formItem.Meals[stage.Id - 1].Included = value;

            RecalculateAccomodations();
        }
        private async Task HandleAccommodationInvoicesAmount(Accommodation accommodation, decimal? value)
        {
            accommodation.InvoicesAmount = accommodation.Total = value;
        }
        private async Task HandleAccommodationHasInvoices(Accommodation accommodation, bool value)
        {
            accommodation.InvoicesAmount = 0;

            if (value)
            {
                accommodation.HasInvoices = value;
                accommodation.InvoicesAmount = 0;
                accommodation.Total = 0;
            }
            else
            {
                accommodation.HasInvoices = value;
                RecalculateAccomodations();
                // accommodation.Total = accommodation.AllowanceRate * accommodation.Duration;

            }
        }
        private async Task HandleCountryChange()
        {
            Console.WriteLine(SelectedCountry.Count());

            if (SelectedCountry.FirstOrDefault() == null)
            {

            }
            else
            {
                // formItem.Countries = SelectedCountry;
                //
                // formItem.Countries = SelectedEmpl.FirstOrDefault();
                // Role.EmpId = SelectedEmpl.FirstOrDefault().EnovaEmpId;
            }

            StateHasChanged();
        }
        private async Task HandleCountryAdd()
        {
            var newCountry = SelectedCountry.FirstOrDefault();
            formItem.DestinationCountry = newCountry;
            // Console.WriteLine(SelectedCountry.Count());1
            if (newCountry != null)
            {
                // Check if the new country is already in the list
                if (!SelectedCountries.Any(c => c.Name == newCountry.Name))
                {
                    if (SelectedCountries.Count < 2)
                    {
                        // Initially add the first country
                        SelectedCountries.Add(newCountry);
                        AddStage(newCountry);
                        AddStage(Origin);

                    }
                    else
                    {
                        // Update the second country
                        SelectedCountries[1] = newCountry;
                        formItem.Stages[1].CountryCode = newCountry.CountryCode;
                        formItem.Stages[1].CountryName = newCountry.Name;
                    }
                }
                else if (SelectedCountries.Count >= 2 && SelectedCountries[1].Name != newCountry.Name)
                {
                    if (formItem.Stages.Count > 2)
                    {
                        var originStage = formItem.Stages[2]; // Get the stage at index 2
                        formItem.Stages.Remove(originStage); // Remove it
                        var originAccomodation = formItem.Accommodations[2];
                        formItem.Accommodations.Remove(originAccomodation);
                        var originMeal = formItem.Meals[2];
                        formItem.Meals.Remove(originMeal);
                        var originLocalTravel = formItem.LocalTravels[2];
                        formItem.LocalTravels.Remove(originLocalTravel);
                    }

                    // Update the second country if it's different from the current second country
                    SelectedCountries.Remove(SelectedCountries[1]);
                    var stageToRemove = formItem.Stages[1];
                    formItem.Stages.Remove(stageToRemove);
                    var accomodationToRemove = formItem.Accommodations[1];
                    formItem.Accommodations.Remove(accomodationToRemove);
                    var mealToRemove = formItem.Meals[1];
                    formItem.Meals.Remove(mealToRemove);
                    var localTravelToRemove = formItem.LocalTravels[1];
                    formItem.LocalTravels.Remove(localTravelToRemove);
                }
            }

            StateHasChanged();
        }
        private async Task HandleObjectiveChange()
        {
            
            Console.WriteLine(SelectedObjective.Count());
            
            if (SelectedObjective.FirstOrDefault() == null)
            {

            }
            else
            {
                formItem.Objective = SelectedObjective.ToString();
            }

            StateHasChanged();
        }
        private async Task HandleCityChange(string value)
        {
            Console.WriteLine();
            formItem.Destination = value;

            StateHasChanged();
        } // Currently not in use.
        private async Task HandleAssigneeChange()
        {
            Console.WriteLine(SelectedEmpl.Count());

            if (SelectedEmpl.FirstOrDefault() == null)
            {

            }
            else
            {
                var emp = SelectedEmpl.FirstOrDefault();
                formItem.EmployeeName = emp.LongName;
                formItem.EnovaEmpId = emp.EnovaEmpId.ToString();
                _organisation = await _mediator.Send(new GetOrganisationByEmpSapNumberQuery(emp.SapNumber));

            }

            StateHasChanged();
        }
        private async Task HandleConveyanceChange()
        {
            Console.WriteLine(SelectedConveyance.Count());

            if (SelectedConveyance.FirstOrDefault() == "Samochód prywatny")
            {
                IsPrivateCar = true;
                IsCompanyCar = false;
                IsPublicTransport = false;
                ShowTransits = false;
            }
            else if (SelectedConveyance.FirstOrDefault() == "Samochód służbowy")
            {
                IsPrivateCar = false;
                IsCompanyCar = true;
                IsPublicTransport = false;
                ShowTransits = false;
            }
            else if (SelectedConveyance.FirstOrDefault() == "Transport publiczny")
            {
                IsPrivateCar = false;
                IsCompanyCar = false;
                IsPublicTransport = true;
                ShowTransits = true;
            }

            StateHasChanged();
        }
        private async Task HandleConveyanceStringChange()
        {
            // Console.WriteLine(SelectedConveyanceTxt.Count());
            if (SelectedConveyanceTxt == "Samochód prywatny")
            {
                Console.WriteLine(SelectedConveyanceTxt);
                IsPrivateCar = true;
                IsCompanyCar = false;
                IsPublicTransport = false;
                formItem.PrivateVehicle = true;
                formItem.CompanyVehicle = false;
            }
            else if (SelectedConveyanceTxt == "Samochód służbowy")
            {
                Console.WriteLine(SelectedConveyanceTxt);
                IsPrivateCar = false;
                IsCompanyCar = true;
                IsPublicTransport = false;
                formItem.PrivateVehicle = false;
                formItem.CompanyVehicle = true;
                formItem.PublicTransport = false;
                formItem.PublicTransportPaid = false;
            }
            else if (SelectedConveyanceTxt == "Transport publiczny")
            {
                Console.WriteLine(SelectedConveyanceTxt);
                IsPrivateCar = false;
                IsCompanyCar = false;
                IsPublicTransport = true;
                formItem.PrivateVehicle = false;
                formItem.CompanyVehicle = false;
                formItem.PublicTransport = true;
                formItem.PublicTransportPaid = false;
            }

            if (formItem.Status == "Rozliczenie" || formItem.Status == "Ksiegowosc")
            {
                ShowTransits = true;
            }

            StateHasChanged();
        }
        private async Task HandlePublicTransportPaidChanged(bool value)
        {
            formItem.PublicTransportPaid = value;
        }
        private async Task HandleAdvancePaymentPaidChanged(bool value)
        {
            formItem.AdvancePayment = value;
        }
        private async Task HandleDateTimeChanged(DateTime? dateTime, string p)
        {
            if (p == "to")
            {
                formItem.EndDate = dateTime;
                if (formItem.Stages.Any())
                {
                    formItem.Stages.Last().EndDate = dateTime;
                }
            }
            else if (p == "from")
            {
                formItem.StartDate = dateTime;
                if (formItem.Stages.Any())
                {
                    formItem.Stages.First().StartDate = dateTime;
                }
            }

            RecalculateStages(0, "skip");
            RecalculateAccomodations();
            RecalculateMeals();
            RecalculateLocalTravels();
            ValidateDates();
        }
        private async Task HandleStageDateTimeChanged(DateTime? value, Stage stage, string propertyName, int stageId)
        {
            if (propertyName == nameof(stage.StartDate))
            {
                stage.StartDate = value;
            }
            else if (propertyName == nameof(stage.EndDate))
            {
                stage.EndDate = value;
                if (formItem.Stages.LastOrDefault() == stage && propertyName == nameof(stage.EndDate))
                {
                    // Update formItem.EndDate to the EndDate of the last stage
                    formItem.EndDate = stage.EndDate;
                }
            }

            RecalculateStages(stageId, propertyName);
            RecalculateAccomodations();
            RecalculateMeals();
            RecalculateLocalTravels();
            ValidateDates();
        }
        private async Task RecalculateStages(int? stageId, string? propertyName)
        {
            if (!(stageId == 0 && propertyName == "skip"))
            {
                var updatedStageIndex = formItem.Stages.FindIndex(s => s.Id == stageId);
                if (updatedStageIndex == -1) return;
                var updatedStage = formItem.Stages[updatedStageIndex];
                if (propertyName == nameof(updatedStage.EndDate) && updatedStage.EndDate.HasValue)
                {
                    // Update the next stage's StartDate if it exists
                    if (updatedStageIndex + 1 < formItem.Stages.Count)
                    {
                        var nextStage = formItem.Stages[updatedStageIndex + 1];

                        // Set the next stage's StartDate to be one minute after the current EndDate
                        nextStage.StartDate = updatedStage.EndDate.Value.AddMinutes(1);
                    }
                }

                if (propertyName == nameof(updatedStage.StartDate) && updatedStage.StartDate.HasValue)
                {
                    // Update the previous stage's EndDate if it exists
                    if (updatedStageIndex > 0)
                    {
                        var previousStage = formItem.Stages[updatedStageIndex - 1];

                        // Set the previous stage's EndDate to be one minute before the current StartDate
                        previousStage.EndDate = updatedStage.StartDate.Value.AddMinutes(-1);
                    }
                }
            }

            // Recalculate the duration for all stages
            foreach (var stage in formItem.Stages)
            {
                if (stage.StartDate < stage.EndDate)
                {
                    // Calculate duration and timespan
                    stage.Duration = Math.Round((decimal)(stage.EndDate.Value - stage.StartDate.Value).TotalDays, 2);
                    stage.timeSpan = TimeSpan.FromHours(Math.Round((stage.EndDate.Value - stage.StartDate.Value).TotalHours));

                    // Reset Allowance values
                    stage.AllowanceOriginValue = 0;
                    stage.AllowanceAbroadValue = 0;
                    stage.AllowanceOrigin = 0;
                    stage.AllowanceAbroad = 0;

                    if (stage.CountryCode == "PL")
                    {
                        formItem.AllowancePL = stage.CountryAllowance;
                        // Calculate AllowanceOrigin factor and value
                        if (stage.timeSpan.TotalHours < 8)
                        {
                            stage.AllowanceOrigin = 0;
                        }
                        else if (stage.timeSpan.TotalHours >= 8 && stage.timeSpan.TotalHours < 12)
                        {
                            stage.AllowanceOrigin = 0.5m;
                            stage.AllowanceOriginValue = stage.CountryAllowance / 2;
                        }
                        else if (stage.timeSpan.TotalHours >= 12 && stage.timeSpan.TotalHours <= 24)
                        {
                            stage.AllowanceOrigin = 1;
                            stage.AllowanceOriginValue = stage.CountryAllowance;
                        }

                        if (stage.timeSpan.TotalHours > 24)
                        {
                            // Calculate for additional full days
                            var fullDays = (int)(stage.timeSpan.TotalHours / 24);
                            stage.AllowanceOrigin += fullDays;
                            stage.AllowanceOriginValue += fullDays * stage.CountryAllowance;

                            // Calculate for the remaining hours
                            var remainingHours = stage.timeSpan.TotalHours % 24;
                            if (remainingHours < 8)
                            {
                                stage.AllowanceOrigin += 0.5m;
                                stage.AllowanceOriginValue += stage.CountryAllowance / 2;
                            }
                            else
                            {
                                stage.AllowanceOrigin += 1;
                                stage.AllowanceOriginValue += stage.CountryAllowance;
                            }
                        }
                    }
                    else
                    {
                        formItem.AllowanceNotPL = stage.CountryAllowance;
                        // Calculate AllowanceAbroad factor and value
                        if (stage.timeSpan.TotalHours < 8)
                        {
                            stage.AllowanceAbroad = 0.33m;
                            stage.AllowanceAbroadValue = Math.Round(stage.CountryAllowance / 3, 2);
                        }
                        else if (stage.timeSpan.TotalHours >= 8 && stage.timeSpan.TotalHours <= 12)
                        {
                            stage.AllowanceAbroad = 0.5m;
                            stage.AllowanceAbroadValue = stage.CountryAllowance / 2;
                        }
                        else if (stage.timeSpan.TotalHours >= 12 && stage.timeSpan.TotalHours <= 24)
                        {
                            stage.AllowanceAbroad = 1;
                            stage.AllowanceAbroadValue = stage.CountryAllowance;
                        }

                        if (stage.timeSpan.TotalHours > 24)
                        {
                            // Calculate for additional full days
                            var fullDays = (int)(stage.timeSpan.TotalHours / 24);
                            stage.AllowanceAbroad += fullDays;
                            stage.AllowanceAbroadValue += fullDays * stage.CountryAllowance;

                            // Calculate for the remaining hours
                            var remainingHours = stage.timeSpan.TotalHours % 24;
                            if (remainingHours > 0 && remainingHours < 8)
                            {
                                stage.AllowanceAbroad += 0.33m;
                                stage.AllowanceAbroadValue += Math.Round(stage.CountryAllowance / 3, 2);
                            }
                            else if (remainingHours >= 8 && remainingHours < 12)
                            {
                                stage.AllowanceAbroad += 0.5m;
                                stage.AllowanceAbroadValue += stage.CountryAllowance / 2;
                            }
                            else if (remainingHours >= 12 && remainingHours <= 24)
                            {
                                stage.AllowanceAbroad += 1;
                                stage.AllowanceAbroadValue += stage.CountryAllowance;
                            }
                        }
                    }
                }
                else
                {
                    stage.Duration = 0;
                    stage.AllowanceOrigin = 0;
                    stage.AllowanceAbroad = 0;
                }
            }
        }
        private async Task RecalculateMeals()
        {
            foreach (var meal in formItem.Meals)
            {
                meal.Duration = 0;
                var stage = formItem.Stages[meal.StageId - 1];
                if (stage != null)
                {
                    meal.Duration = (int)Math.Ceiling(stage.AllowanceOrigin.GetValueOrDefault() + stage.AllowanceAbroad.GetValueOrDefault());
                    meal.Included = (stage.AllowanceOriginValue + stage.AllowanceAbroadValue) == 0 ? false : stage.Included;
                    // meal.Total = (stage.AllowanceOrigin.GetValueOrDefault() + stage.AllowanceAbroad.GetValueOrDefault()) * meal.AllowanceRate;
                    meal.Total = 0;
                    if (meal.CountryCode != "PL")
                    {
                        meal.Total -= (meal.CoveredBreakfasts * meal.AllowanceRate * 0.15m);
                        meal.Total -= (meal.CoveredLunches * meal.AllowanceRate * 0.3m);
                        meal.Total -= (meal.CoveredDinners * meal.AllowanceRate * 0.3m);
                    }
                    else
                    {
                        meal.Total -= (meal.CoveredBreakfasts * meal.AllowanceRate / 4);
                        meal.Total -= (meal.CoveredLunches * meal.AllowanceRate / 2);
                        meal.Total -= (meal.CoveredDinners * meal.AllowanceRate / 4);
                    }

                    meal.Nights = CalculateNights(stage.StartDate.Value, stage.EndDate.Value);
                    // var num = meal.Total;
                    meal.Total = Math.Round(meal.Total, 2);
                }

                Console.WriteLine();
            }
        }
        private async Task RecalculateAccomodations()
        {
            foreach (var accommodation in formItem.Accommodations)
            {

                var stage = formItem.Stages[accommodation.StageId - 1];
                if (stage != null)
                {
                    accommodation.Duration = stage.Duration;
                    accommodation.Included = stage.Included;
                    if (stage.StartDate.HasValue && stage.EndDate.HasValue)
                    {
                        // Calculate the number of nights
                        accommodation.Nights = CalculateNights(stage.StartDate.Value, stage.EndDate.Value);
                    }

                    if (accommodation.Included)
                    {
                        if (!accommodation.HasInvoices)
                        {
                            accommodation.Total = accommodation.Nights.GetValueOrDefault() * accommodation.AllowanceRate / 4;
                        }
                    }
                    else
                    {
                        accommodation.Total = 0;
                    }

                }
            }
        }
        private async Task RecalculateLocalTravels()
        {

            foreach (var localTravel in formItem.LocalTravels)
            {
                var stage = formItem.Stages[localTravel.StageId - 1];
                localTravel.Duration = (int)Math.Ceiling(stage.AllowanceOrigin.GetValueOrDefault() + stage.AllowanceAbroad.GetValueOrDefault());
                localTravel.Total = localTravel.Days * localTravel.AllowanceRate;

            }
        }
        private async Task RecalculateTransit()
        {

            if (formItem.Transit != null)
            {
                formItem.Transit.Total = formItem.Transit.Directions * formItem.Transit.AllowanceRate;
            }

            ;
        }
        private int CalculateNights(DateTime startDate, DateTime endDate)
        {
            int nights = 0;

            // Adjust the time range to the period we care about (9:00 PM to 7:00 AM)
            TimeSpan nightStart = new TimeSpan(21, 0, 0); // 9:00 PM
            TimeSpan nightEnd = new TimeSpan(7, 0, 0); // 7:00 AM

            DateTime currentStart = startDate;
            DateTime currentEnd = endDate;

            // Loop through each day in the range
            while (currentStart.Date <= currentEnd.Date)
            {
                DateTime nightStartTime = currentStart.Date.Add(nightStart);
                DateTime nightEndTime = currentStart.Date.AddDays(1).Add(nightEnd);

                // Determine overlap between the stage time and the night period
                DateTime overlapStart = nightStartTime > currentStart ? nightStartTime : currentStart;
                DateTime overlapEnd = nightEndTime < currentEnd ? nightEndTime : currentEnd;

                if (overlapStart < overlapEnd)
                {
                    // Calculate the duration of overlap
                    TimeSpan overlapDuration = overlapEnd - overlapStart;

                    // Count continuous 6-hour periods
                    nights += (int)(overlapDuration.TotalHours / 6);
                }

                // Move to the next day
                currentStart = currentStart.AddDays(1).Date;
            }

            return nights;
        }
        private async Task ValidateDates()
        {
            // Check if the overall start date is before the end date
            if (formItem.StartDate > formItem.EndDate)
            {
                DateTimeValidationMessage = "Start date must be before or equal to end date.";
            }
            else
            {
                DateTimeValidationMessage = string.Empty;
            }

            // Check intermediate dates within stages using LINQ
            var invalidStage = formItem.Stages
                .Select((stage, index) => new { stage, index })
                .FirstOrDefault(x =>
                    x.stage.StartDate > x.stage.EndDate ||
                    (x.index < formItem.Stages.Count - 1 && x.stage.EndDate >= formItem.Stages[x.index + 1].StartDate));

            if (invalidStage != null)
            {
                if (invalidStage.stage.StartDate > invalidStage.stage.EndDate)
                {
                    StagesDatesErrorMessage = $"Stage {invalidStage.stage.Id}: Start date must be before or equal to end date.";
                }
                else
                {
                    StagesDatesErrorMessage = $"Stage {invalidStage.stage.Id}: End date must be before the start date of the next stage.";
                }
            }
            else
            {
                // Clear the error message if all dates are valid
                StagesDatesErrorMessage = string.Empty;
            }
        }

    #endregion OnChange
    #region Actions

        private async Task AddEmployee(EmployeeVm newEmployee)
        {
            var employeesList = new List<EmployeeVm>();

            employeesList.Add(newEmployee);

            SelectedEmpl = employeesList;
        }
        private async Task RemoveBill(Bill bill)
        {
            RemoveFileFromBill(bill);
            formItem.Bills.Remove(bill);
        }
        private async Task AddBill()
        {
            formItem.Bills.Add(new Bill()
            {
                Id = formItem.Bills.Count() + 1,
                InvoiceMappings = new List<InvoiceMapping>
                {
                    new InvoiceMapping()
                }
                    
            });
        }
        private async Task ViewAttachment(string url)
        {
            // Navigate to the URL in a new tab

            string url2 = _navigationManager.BaseUri + url;
            await JS.InvokeVoidAsync("open", url, "_blank");
        }
        private async Task ConsoleLog(string logMessage)
        {
            await JS.InvokeVoidAsync("logMessage", logMessage);
        }
        
    #endregion
    #region FilesManagement

        private async Task HandleFileUpload(InputFileChangeEventArgs e)
        {
            if (CurrentBillForUpload != null)
            {
                var uploadedFile = e.File;
                if (uploadedFile != null)
                {
                    CurrentBillForUpload.FilePath = await FileUtils.UploadFile(uploadedFile, CurrentBillForUpload.Id.ToString(), Environment.WebRootPath);
                    CurrentBillForUpload.OriginalFileName = uploadedFile.Name;
                    CurrentBillForUpload.AttUrl = FileUtils.GenerateUrl(CurrentBillForUpload.FilePath, Environment.WebRootPath);
                }
            }
        }
        private void RemoveFileFromBill(Bill bill)
        {
            FileUtils.RemoveFile(bill.FilePath);
            bill.FilePath = null;
            bill.OriginalFileName = null;
            bill.AttUrl = null;
        }
        private void UploadFileForBill(Bill bill)
        {
            CurrentBillForUpload = bill;
            JS.InvokeVoidAsync("triggerFileUpload");
        }
        private void SaveBillFiles()
        {
            foreach (var bill in formItem.Bills)
            {
                if (!string.IsNullOrEmpty(bill.FilePath))
                {
                    var newFilePath = Path.Combine(
                        Environment.WebRootPath,
                        "BusinessTravels",
                        formItem.CreatedDate.ToString("yyyy"),
                        formItem.CreatedDate.ToString("yyyyMM"),
                        formItem.CreatedDate.ToString("yyyyMMdd"),
                        $"{Guid.NewGuid()}_{bill.Id}{Path.GetExtension(bill.FilePath)}");

                    FileUtils.MoveFile(bill.FilePath, newFilePath);
                    bill.FilePath = newFilePath;

                    // Update the public-facing URL for the file.
                    bill.AttUrl = FileUtils.GenerateUrl(newFilePath, Environment.WebRootPath);
                }
            }
        }

    #endregion
    #region SetupForm

    private void ResetForm()
    {
        ShowAccomodations = false;
        ShowMeals = false;
        ShowStages = false;
        ShowLocalTravels = false;
        ShowTransits = false;
        ShowCashier = false;
        ShowBills = false;
        ShowSummary = false;
        EnterInvoiceMapping = false;
        StateHasChanged();
    }
    private async Task SetupForm(string status)
    {
        _organisation = await _mediator.Send(new GetOrganisationByEmpSapNumberQuery(_userContext.Employee.SapNumber));
        ResetForm();
        
        await ConsoleLog($"Selected status: {formItem.Status} \n ShowAccomodations = {ShowAccomodations.ToString()} \n ShowMeals = {ShowMeals.ToString()} \n  ShowStages = {ShowStages.ToString()} \n  ShowLocalTravels = {ShowLocalTravels.ToString()} \n  ShowTransits = {ShowTransits.ToString()} \n  ShowCashier = {ShowCashier.ToString()} \n  ShowBills = {ShowBills.ToString()} \n  ShowSummary = {ShowSummary.ToString()} \n  EnterInvoiceMapping = {EnterInvoiceMapping.ToString()}");
        
        if (status == "Rejestracja") SetupFormRejestracja();
        else if (status.StartsWith("AprobataL") ) SetupFormAprobata(status);
        else if (status == "Kasa") SetupFormKasa();
        else if (status == "Rozliczenie") SetupFormRozliczenie();
        else if (status == "Ksiegowosc") SetupFormKsiegowosc();
        else if (status == "Rozliczone") SetupFormRozliczone();
        else if (status == "Zamkniete") SetupFormZamkniete();
        StateHasChanged();
        await ConsoleLog($"Selected status: {formItem.Status} \n ShowAccomodations = {ShowAccomodations.ToString()} \n ShowMeals = {ShowMeals.ToString()} \n  ShowStages = {ShowStages.ToString()} \n  ShowLocalTravels = {ShowLocalTravels.ToString()} \n  ShowTransits = {ShowTransits.ToString()} \n  ShowCashier = {ShowCashier.ToString()} \n  ShowBills = {ShowBills.ToString()} \n  ShowSummary = {ShowSummary.ToString()} \n  EnterInvoiceMapping = {EnterInvoiceMapping.ToString()}");

    }
    private async Task SetupFormRejestracja()
    {
        await AddEmployee(_userContext.Employee);
        formItem.EmployeeName = _userContext.LongName;
        formItem.EnovaEmpId = _userContext.EnovaEmpId;
        _organisation = await _mediator.Send(new GetOrganisationByEmpSapNumberQuery(_userContext.Employee.SapNumber));
        formItem.OrganisationSapNumber = _organisation.SapNumber;
        
        ShowAccomodations = false;
        ShowMeals = false;
        ShowStages = false;
        ShowLocalTravels = false;
        ShowTransits = false;
        ShowCashier = false;
        ShowBills = false;
        ShowSummary = false;
        EnterInvoiceMapping = false;
        
        IsAdvancedPaymentDisabled = false;
        IsDateTimeDisabled = false;
        IsDestinationDisabled = false; //wyłącza możliwość zmiany celu podróży
        IsEmployeeDisabled = false; //wyłącza możliwość zmiany pracownika
        IsInvoiceMappingDisabled = true;

        IsTransportationDisabled = false;
        IsMileageDisabled = false;
        IsCashPayoutNumberDisabled = true;
        
        StateHasChanged();
    }
    private async Task SetupFormKasa()
    {
        ShowAccomodations = false;
        ShowMeals = false;
        ShowStages = false;
        ShowLocalTravels = false;
        ShowTransits = false;
        ShowCashier = false;
        ShowBills = false;
        ShowSummary = false;
        EnterInvoiceMapping = false;
        
        IsAdvancedPaymentDisabled = true;
        IsDateTimeDisabled = true;
        IsDestinationDisabled = true;
        IsEmployeeDisabled = true;
        IsInvoiceMappingDisabled = true;
        
        IsTransportationDisabled = true;
        IsMileageDisabled = true;
        IsCashPayoutNumberDisabled = false;

        formItem.PayoutCashier = _userContext.Employee;
        formItem.PayoutCashierEmpId = _userContext.EnovaEmpId;
    }
    private async Task SetupFormRozliczenie()
    {
        ShowAccomodations = true;
        ShowMeals = true;
        ShowStages = true;
        ShowLocalTravels = true;
        ShowTransits = true;
        ShowCashier = true;
        ShowBills = true;
        ShowSummary = true;
        EnterInvoiceMapping = true;
        
        IsAdvancedPaymentDisabled = true;
        IsDateTimeDisabled = false;
        IsDestinationDisabled = true;
        IsEmployeeDisabled = true;

        IsBillsDisabled = false;
        IsInvoiceMappingDisabled = false;
        IsTransportationDisabled = false;
        IsTransportationDisabled = true;
        IsMileageDisabled = false;
        IsCashPayoutNumberDisabled = true;

    }
    private async Task SetupFormKsiegowosc()
    {
        ShowAccomodations = true;
        ShowMeals = true;
        ShowStages = true;
        ShowLocalTravels = true;
        ShowTransits = true;
        ShowCashier = true;
        ShowBills = true;
        ShowSummary = true;
        EnterInvoiceMapping = true;
        
        IsAdvancedPaymentDisabled = true;
        IsDateTimeDisabled = false;
        IsDestinationDisabled = true;
        IsEmployeeDisabled = true;
        IsBillsDisabled = true;
        IsInvoiceMappingDisabled = false;
        
        IsTransportationDisabled = true;
        IsMileageDisabled = true;
        IsCashPayoutNumberDisabled = true;
      
    }
    private async Task SetupFormKasaRozliczenie()
    {
        ShowAccomodations = false;
        ShowMeals = false;
        ShowStages = false;
        ShowLocalTravels = false;
        ShowTransits = false;
        ShowCashier = false;
        ShowBills = false;
        ShowSummary = false;
        EnterInvoiceMapping = false;
        
        IsAdvancedPaymentDisabled = true;
        IsDateTimeDisabled = true;
        IsDestinationDisabled = true;
        IsEmployeeDisabled = true;
        IsInvoiceMappingDisabled = true;
        
        IsTransportationDisabled = true;
        IsMileageDisabled = true;
        IsCashPayoutNumberDisabled = true;
        
        formItem.PayoutCashier = _userContext.Employee;
        formItem.PayoutCashierEmpId = _userContext.EnovaEmpId;
    }
    private async Task SetupFormRozliczone()
    {
        ShowAccomodations = false;
        ShowMeals = false;
        ShowStages = false;
        ShowLocalTravels = false;
        ShowTransits = false;
        ShowCashier = false;
        ShowBills = false;
        ShowSummary = false;
        EnterInvoiceMapping = false;
        
        IsAdvancedPaymentDisabled = true;
        IsDateTimeDisabled = true;
        IsDestinationDisabled = true;
        IsEmployeeDisabled = true;
        IsBillsDisabled = true;
        IsInvoiceMappingDisabled = true;
        
        IsTransportationDisabled = true;
        IsMileageDisabled = true;
        IsCashPayoutNumberDisabled = true;
        
    }
    private async Task SetupFormZamkniete()
    {
        ShowAccomodations = false;
        ShowMeals = false;
        ShowStages = false;
        ShowLocalTravels = false;
        ShowTransits = false;
        ShowCashier = false;
        ShowBills = false;
        ShowSummary = false;
        EnterInvoiceMapping = false;
        
        IsAdvancedPaymentDisabled = true;
        IsDateTimeDisabled = true;
        IsDestinationDisabled = true;
        IsEmployeeDisabled = true;
        IsBillsDisabled = true;
        
        IsTransportationDisabled = true;
        IsMileageDisabled = true;
        IsCashPayoutNumberDisabled = true;
    }
    private async Task SetupFormAprobata(string status)
    {
        if (status == "AprobataL1")
        {
            ShowAccomodations = false;
            ShowMeals = false;
            ShowStages = false;
            ShowLocalTravels = false;
            ShowTransits = false;
            ShowCashier = false;
            ShowBills = false;
            ShowSummary = false;
            
        } else if (status == "AprobataL2")
        {
            ShowAccomodations = false;
            ShowMeals = false;
            ShowStages = false;
            ShowLocalTravels = false;
            ShowTransits = false;
            ShowCashier = false;
            ShowBills = false;
            ShowSummary = false;
            
        } else if (status == "AprobataL11")
        {
            ShowAccomodations = false;
            ShowMeals = false;
            ShowStages = false;
            ShowLocalTravels = false;
            ShowTransits = false;
            ShowCashier = false;
            ShowBills = true;
            ShowSummary = true;
           
        } else if (status == "AprobataL12")
        {
            ShowAccomodations = false;
            ShowMeals = false;
            ShowStages = false;
            ShowLocalTravels = false;
            ShowTransits = false;
            ShowCashier = false;
            ShowBills = true;
            ShowSummary = true;
            
            
        }
        EnterInvoiceMapping = false;
        IsAdvancedPaymentDisabled = true;
        IsDateTimeDisabled = true;
        IsDestinationDisabled = true;
        IsEmployeeDisabled = true;
        IsBillsDisabled = true;
        IsInvoiceMappingDisabled = true;
        
        IsTransportationDisabled = true;
        IsMileageDisabled = true;
        IsCashPayoutNumberDisabled = true;
    }
    
    private bool IsCashPayoutEnabled() //pole do wpisania numeru KW
    {
        return formItem.Status == "Kasa";
    }
    private bool IsCashReceiptEnabled() //pole do wpisania numeru KW
    {
        return formItem.Status == "KasaRozliczenie";
    }
    #endregion
    private void HandleValidSubmit(EditContext arg)
        {
            throw new NotImplementedException();
        }

}

<style>
    div {
        /*flex-shrink: 0; /* Prevent shrinking of elements */
    }
    .flex-container {
        display: flex; /* Enables horizontal alignment */
        align-items: center; /* Vertically centers items */
        gap: 10px; /* Adds space between elements */
        flex-wrap: wrap; /* Wraps to the next line if there's not enough space */
    }
    .flex-container > * {
        flex-shrink: 0; /* Prevents items from shrinking */
        margin: 0; /* Optional: Resets any margin */
    }
    .form-section {
        display: flex;
        flex-wrap: wrap; /* Allows wrapping if content overflows */
        gap: 15px; /* Spacing between child divs */
        margin-bottom: 15px;
    }
    .form-section > div {
        display: flex;
        align-items: center; /* Vertically centers content within each div */
        gap: 10px; /* Spacing between elements inside the div */
    }
    .new-form-sectionbbb {
        display: flex;
        flex-wrap: wrap; /* Allows wrapping if content overflows */
        gap: 15px; /* Spacing between child divs */
        margin-bottom: 15px; /* Matches other form sections */
        border: 2px solid;
        border-radius: 8px; /* Rounded corners */
        padding: 10px; /* Space inside the border */
        margin: 10px 0; /* Space outside the div */
        align-items: center; /* Vertically center content */
    }
    .new-form-section {
        display: flex; /* Enable horizontal alignment */
        flex-wrap: nowrap; /* Prevent wrapping to the next line */
        align-items: center; /* Vertically align content */
        justify-content: flex-start; /* Align items to the start of the line */
        border: 2px solid;
        border-radius: 8px; /* Rounded corners */
        padding: 10px;
        margin: 10px 0;
        background-color: lightblue; /* Default background color */
        gap: 15px; /* Spacing between child divs */
        width: fit-content;
    }

    /* Child divs inside the form section */
    .new-form-section > div {
        display: flex;
        align-items: center; /* Center content within the div */
    }

    /* Background color for "Kasa" status */
    .new-form-section.kasa {
        background-color: #f9f9f9;
        border-color: #1e90ff; /* Matching blue border */
    }

    /* Background color for "Ksiegowosc" status */
    .new-form-section.ksiegowosc {
        background-color: #d2ddff;
        border-color: #a9a9a9; /* Matching grey border */
    }
    
    .fluent-grid-item {
        flex-shrink: 0; /* Prevents shrinking of elements */
    }
    .autocomplete-container {
        display: flex;
        align-items: center;
        gap: 10px; /* Adjust spacing as needed */
    }
    .autocomplete-container .fluent-autocomplete {
        display: flex;
        flex-direction: row; /* Forces label and control to align horizontally */
        align-items: center;
    }
    table {
        border-collapse: collapse; /* Optional: For a cleaner look */
        /*width: 750px; /* Optional: Adjust to fit your container */
    }
    th, td {
        padding: 5px; /* Adds padding inside each cell */
        text-align: left; /* Optional: Align text to the left */
    }
    td:first-child, th:first-child {
        padding-left: 0; /* Removes padding on the left of the first cell */
    }
    tr:first-child .od-column {
        border-top-left-radius: 10px;
    }
    tr:first-child .do-column {
        border-top-right-radius: 10px;
    }
    tr:last-child .od-column {
        border-bottom-left-radius: 10px;
    }
    tr:last-child .do-column {
        border-bottom-right-radius: 10px;
    }
    .info-table {
        width: 650px;
        margin-bottom: 10px;
    }
    .info-table td {
        padding: 10px;
    }
    .fluent-grid {
        display: flex;
        gap: 10px; /* Adjust the gap as needed */
    }
    .fluent-grid-item {
        display: flex;
        flex-direction: row;
        gap: 10px; /* Adjust the gap between date and time pickers */
    }
    .custom-grid-item {
        width: 150px;
    }
    .bold-label {
        font-weight: bold;
    }
    .validation-error {
        color: red;
        margin-bottom: 10px;
    }
    .fluent-table {
        border-collapse: collapse;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .fluent-caption {
        caption-side: top;
        text-align: left;
        font-size: 1em;
        font-weight: bold;
        padding: 5px;
        background-color: dimgrey;
        color: white;
    }
    .fluent-thead {
        background-color: lightgrey;
        color: dimgray;
    }
    .fluent-thead th {
        padding: 5px;
        text-align: left;
        
    }
    .fluent-row {
        
    }
    .fluent-row td {
        padding: 5px;
    }
    .fluent-row div {
        display: flex;
        align-items: center;
    }
    .fluent-row div FluentButton {
        margin-right: 5px;
    }
</style>
<script>
    function triggerFileUpload() {
        document.getElementById("fileInput").click();
    };
    window.logMessage = (message) => {
        console.log(message);
    };
</script>

