@* Country Edit Component *@
@using Application.ViewModels.Accounting
@using Application.CQRS.ITWarehouseCQRS.Currencies.Queries
@using Application.DTOs
@using Application.ViewModels
@using MediatR

@inject IMediator _mediator
@implements IDialogContentComponent<CountryVm>

<!-- Header -->
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<!-- Body -->
<FluentDialogBody Style="overflow-y: auto; overflow-x: auto;">
    <EditForm EditContext="_editContext">
        @* <FluentValidationValidator @ref="_fluentValidator" /> *@
        <DataAnnotationsValidator />
        <FluentSplitter Orientation="@orientation" BarSize="6" Panel1MinSize="15%" Panel1Size="30%">

            <Panel1>
                <div>
                    <div class="card">
                        <FluentTextField Id="Code" @bind-Value="@Content.CountryCode" Placeholder="Enter country code">CountryCode:</FluentTextField>
                        <FluentValidationMessage For="@(() => Content.CountryCode)" />
                    </div>

                    <div class="card">
                        <FluentTextField Id="Name" @bind-Value="@Content.Name" Placeholder="Enter country name">Name:</FluentTextField>
                        <FluentValidationMessage For="@(() => Content.Name)" />
                    </div>

                    <div class="card">
                        Country belongs to the EU
                        <FluentCheckbox Id="IsEU" @bind-Value="@Content.IsEU"></FluentCheckbox>
                        <FluentValidationMessage For="@(() => Content.IsEU)" />
                    </div>

                    <div class="card">
                        Is PL:
                        <FluentCheckbox Id="IsPL" @bind-Value="@Content.IsPL"></FluentCheckbox>
                        <FluentValidationMessage For="@(() => Content.IsPL)" />
                    </div>

                    <div class="card">
                        <FluentSelect TOption="CurrencyVm"
                                      Label="Select currency..."
                                      Items="@itemCurrencyList"
                                      Id="CurrencyId"
                                      Width="150px"
                                      Height="250px"
                                      OptionValue="@(p => p.Id.ToString())"
                                      OptionText="@(p => p.Name)"
                                      @bind-SelectedOption="@Content.currencyVm"
                                      @onchange="onChangeCurrency" />
                    </div>

                    <div class="card">
                        <FluentNumberField Id="Allowance" @bind-Value="@Content.Allowance" Placeholder="Enter allowance">Allowance:</FluentNumberField>
                        <FluentValidationMessage For="@(() => Content.Allowance)" />
                    </div>
                    <div>
                        <FluentButton Appearance="Appearance.Accent" OnClick="@CalculateFields">Oblicz</FluentButton>
                        <FluentButton Appearance="Appearance.Accent" OnClick="@ChangeEditMode">Edytuj</FluentButton>
                    </div>

                </div>
            </Panel1>

            <Panel2>
                <FluentSplitter Orientation="@orientation" BarSize="6" Panel1MinSize="30%" Panel1Size="50%">
                    <Panel1>
                        <div>
                            <div class="card">
                                <FluentNumberField Id="AllowanceFirstDay8H" @bind-Value="@Content.AllowanceFirstDay8H" Disabled="editMode">AllowanceFirstDay8H:</FluentNumberField>
                                <FluentValidationMessage For="@(() => Content.AllowanceFirstDay8H)" />
                            </div>
                            <div class="card">
                                <FluentNumberField Id="AllowanceFirstDay12H" @bind-Value="@Content.AllowanceFirstDay12H" Disabled="editMode">AllowanceFirstDay12H:</FluentNumberField>
                                <FluentValidationMessage For="@(() => Content.AllowanceFirstDay12H)" />
                            </div>
                            <div class="card">
                                <FluentNumberField Id="AllowanceNextDay8H" @bind-Value="@Content.AllowanceNextDay8H" Disabled="editMode">AllowanceNextDay8H:</FluentNumberField>
                                <FluentValidationMessage For="@(() => Content.AllowanceNextDay8H)" />
                            </div>
                            <div class="card">
                                <FluentNumberField Id="AllowanceNextDay12H" @bind-Value="@Content.AllowanceNextDay12H" Disabled="editMode">AllowanceNextDay12H:</FluentNumberField>
                                <FluentValidationMessage For="@(() => Content.AllowanceNextDay12H)" />
                            </div>

                        </div>
                    </Panel1>
                    <Panel2>
                        <div>
                            <div class="card">
                                <FluentNumberField Id="BreakfastReduction" @bind-Value="@Content.BreakfastReduction" Disabled="editMode">BreakfastReduction:</FluentNumberField>
                                <FluentValidationMessage For="@(() => Content.BreakfastReduction)" />
                            </div>
                            <div class="card">
                                <FluentNumberField Id="LunchReduction" @bind-Value="@Content.LunchReduction" Disabled="editMode">LunchReduction:</FluentNumberField>
                                <FluentValidationMessage For="@(() => Content.LunchReduction)" />
                            </div>
                            <div class="card">
                                <FluentNumberField Id="DinnerReduction" @bind-Value="@Content.DinnerReduction" Disabled="editMode">DinnerReduction:</FluentNumberField>
                                <FluentValidationMessage For="@(() => Content.DinnerReduction)" />
                            </div>
                            <div class="card">
                                <FluentNumberField Id="AccomodationAllowance" @bind-Value="@Content.AccomodationAllowance" Disabled="editMode">AccomodationAllowance:</FluentNumberField>
                                <FluentValidationMessage For="@(() => Content.AccomodationAllowance)" />
                            </div>
                            <div class="card">
                                <FluentNumberField Id="TravelAllowance" @bind-Value="@Content.TravelAllowance" Disabled="editMode">TravelAllowance:</FluentNumberField>
                                <FluentValidationMessage For="@(() => Content.TravelAllowance)" />
                            </div>
                            <div class="card">
                                <FluentNumberField Id="LocalTravelAllowance" @bind-Value="@Content.LocalTravelAllowance" Disabled="editMode">LocalTravelAllowance:</FluentNumberField>
                                <FluentValidationMessage For="@(() => Content.LocalTravelAllowance)" />
                            </div>

                        </div>

                    </Panel2>
                </FluentSplitter>
            </Panel2>
        </FluentSplitter>
        @* <FluentButton OnClick="() => ShowCurrentValue()">Show Current IsEU Value</FluentButton> *@

    </EditForm>
</FluentDialogBody>

<!-- Footer -->
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync" Disabled="isCalculated">Save</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

@code {
    [Parameter]
    public CountryVm Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;


    private EditContext _editContext;

    private FluentValidationValidator? _fluentValidator;

    private IQueryable<CurrencyVm> itemCurrencyList { get; set; }

    private bool editMode = true;

    private bool isCalculated = true;

    Orientation orientation = Orientation.Horizontal;

    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Content);
        itemCurrencyList = await _mediator.Send(new GetAllCurrenciesForSelectQuery());
        isCalculated = Content.Id <= 0;
        base.OnInitialized();
    }

    private void ChangeEditMode()
    {
        editMode = !editMode;
    }

    private void onChangeCurrency(ChangeEventArgs e)
    {
        var selected = itemCurrencyList.FirstOrDefault(c => c.Id == int.Parse(e.Value.ToString()));
        Content.CurrencyId = selected.Id;
        Content.CurrencyVmName = selected.Name;
        // Console.WriteLine("e.Value " + e.Value);
        // Console.WriteLine("Przed: " + Content.CurrencyVm.Id + " " + Content.CurrencyVm.Name);
        // Console.WriteLine("Po: " + Content.CurrencyVmId + " " + Content.CurrencyVmName);
    }

    // private void HandleCurrencyChange(string newValue)
    // {
    //     if (Content.CurrencyVm.Id != null)
    //     {
    //         Content.CurrencyVmId = Content.CurrencyVm.Id;
    //     }
    //     else
    //     {
    //         Content.CurrencyVmId = 1;
    //     }

    // }

    private void CalculateFields()
    {
        Console.WriteLine("Click");
        Clear();
        if (Content.IsPL && !Content.IsEU || Content.IsPL && Content.IsEU)
        {
            Content.AllowanceFirstDay8H = Content.Allowance * 0;
            Content.AllowanceFirstDay12H = Content.Allowance / 2;
            Content.AllowanceNextDay8H = Content.Allowance / 2;
            Content.AllowanceNextDay12H = Content.Allowance;
            Content.BreakfastReduction = Content.Allowance / 4;
            Content.LunchReduction = Content.Allowance / 2;
            Content.DinnerReduction = Content.Allowance / 4;
            Content.AccomodationAllowance = Content.Allowance * 1.5m;
            Content.TravelAllowance = Content.Allowance * 0;
            Content.LocalTravelAllowance = Content.Allowance * 0.2m;
            isCalculated = false;
        }
        else if (Content.IsEU && !Content.IsPL)
        {
            Content.AllowanceFirstDay8H = Content.Allowance / 3;
            Content.AllowanceFirstDay12H = Content.Allowance / 2;
            Content.AllowanceNextDay8H = Content.Allowance / 3;
            Content.AllowanceNextDay12H = Content.Allowance / 2;
            Content.BreakfastReduction = Content.Allowance * 0.15m;
            Content.LunchReduction = Content.Allowance * 0.3m;
            Content.DinnerReduction = Content.Allowance * 0.3m;
            Content.AccomodationAllowance = Content.Allowance * 1.5m;
            Content.TravelAllowance = Content.Allowance * 0.5m;
            Content.LocalTravelAllowance = Content.Allowance * 0.1m;
            isCalculated = false;
        }
        StateHasChanged();
    }

    private void Clear()
    {
        Content.AllowanceFirstDay8H = 0;
        Content.AllowanceFirstDay12H = 0;
        Content.AllowanceNextDay8H = 0;
        Content.AllowanceNextDay12H = 0;
        Content.BreakfastReduction = 0;
        Content.LunchReduction = 0;
        Content.DinnerReduction = 0;
        Content.AccomodationAllowance = 0;
        Content.TravelAllowance = 0;
        Content.LocalTravelAllowance = 0;
    }

    private async Task SaveAsync()
    {
        Console.WriteLine("SaveAsync starts...");
        if (_editContext.Validate())
        {
            Console.WriteLine("EditContext Validation OK!...");
            await Dialog.CloseAsync(Content);
        }
        else
        {
            Console.WriteLine("EditContext Validation NOT OK!...");
            return;
        }
        if (Content.Id != 0)
        {
            await Dialog.CloseAsync(Content);
        }
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }

}
