@page "/countries"
@using Application.CQRS.AccountingCQRS.Countries.Queries
@using Application.CQRS.AccountingCQRS.Countries.Commands
@using Application.ViewModels.Accounting
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Policy = "Technician")]

@inject IMediator _mediator
@inject IDialogService _dialogService
@inject IToastService _toastService

<h3>Countries</h3>

@if (country == null)
{
    <FluentProgressRing>Loading...</FluentProgressRing>
}
else
{
    <p>
        Show:
        <FluentCheckbox @bind-Value="showDailyAllowances">Daily Allowances</FluentCheckbox>
        <FluentCheckbox @bind-Value="showMealReductions">Meal Reductions</FluentCheckbox>
        <FluentCheckbox @bind-Value="showTravelAndAccommodation">Travel and Accommodation Allowances</FluentCheckbox>

    </p>
    <FluentDataGrid Items="@country"
                    TGridItem="CountryVm"
                    ResizableColumns=true
                    Style="height: 600px; overflow:auto;"
                    ShowHover="true"
                    GridTemplateColumns="200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px">
        <PropertyColumn Property="@(c => c.Id)" Sortable="true" Align="Align.Start" Tooltip="true" />
        <PropertyColumn Property="@(c => c.CountryCode)" Sortable="true" Align="Align.Start" Tooltip="true" />
        <PropertyColumn Property="@(c => c.Name)" Sortable="true" Align="Align.Start" Tooltip="true" />
        <PropertyColumn Property="@(c => c.IsEU)" Sortable="true" Align="Align.Start" Tooltip="true" />
        <PropertyColumn Property="@(c => c.IsPL)" Sortable="true" Align="Align.Start" Tooltip="true" />
        <PropertyColumn Property="@(c => c.CurrencyVmName)" Sortable="true" Align="Align.Start" Tooltip="true" />
        <PropertyColumn Property="@(c => c.Allowance)" Sortable="true" Align="Align.Start" Tooltip="true" />
        @if (showDailyAllowances)
        {
            <PropertyColumn Property="@(c => c.AllowanceFirstDay8H)" Sortable="true" Align="Align.Start" Tooltip="true" />
            <PropertyColumn Property="@(c => c.AllowanceFirstDay12H)" Sortable="true" Align="Align.Start" Tooltip="true" />
            <PropertyColumn Property="@(c => c.AllowanceNextDay8H)" Sortable="true" Align="Align.Start" Tooltip="true" />
            <PropertyColumn Property="@(c => c.AllowanceNextDay12H)" Sortable="true" Align="Align.Start" Tooltip="true" />
        }

        @if (showMealReductions)
        {
            <PropertyColumn Property="@(c => c.BreakfastReduction)" Sortable="true" Align="Align.Start" Tooltip="true" />
            <PropertyColumn Property="@(c => c.LunchReduction)" Sortable="true" Align="Align.Start" Tooltip="true" />
            <PropertyColumn Property="@(c => c.DinnerReduction)" Sortable="true" Align="Align.Start" Tooltip="true" />
        }

        @if (showTravelAndAccommodation)
        {
            <PropertyColumn Property="@(c => c.AccomodationAllowance)" Sortable="true" Align="Align.Start" Tooltip="true" />
            <PropertyColumn Property="@(c => c.TravelAllowance)" Sortable="true" Align="Align.Start" Tooltip="true" />
            <PropertyColumn Property="@(c => c.LocalTravelAllowance)" Sortable="true" Align="Align.Start" Tooltip="true" />
        }

        <TemplateColumn Title="Actions" Align="Align.End">
            <FluentButton IconEnd="@(new Icons.Regular.Size20.BookOpen())" OnClick="@(() => View(context))" />
            <FluentButton IconEnd="@(new Icons.Regular.Size20.Edit())" OnClick="@(() => EditItem(context))" />
            <FluentButton IconEnd="@(new Icons.Regular.Size20.Delete())" OnClick="@(() => Delete(context))" />
        </TemplateColumn>
    </FluentDataGrid>
    <FluentButton IconStart="@(new Icons.Regular.Size20.Add())" OnClick="@(() => AddPanel())" />

}

@code {
    private IQueryable<CountryVm> country;

    private bool deleteConfirm = false;

    private bool showDailyAllowances { get; set; } = false;
    private bool showMealReductions { get; set; } = false;
    private bool showTravelAndAccommodation { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        country = await _mediator.Send(new GetAllCountryQuery());
    }

    // private void HandleRowFocus(FluentDataGridRow<CountryVm> row)
    // {
    //     View(row.Item);
    // }

    private async Task View(CountryVm item)
    {
        await _dialogService.ShowInfoAsync
    (
        message: $"Country ID: {item.Id}" +
                 $"Code {item.CountryCode}" +
                 $"Name: {item.Name}" +
                 $"Currency: {item.CurrencyVmName}" +
                 $"Is EU:{(item.IsEU ? "Yes" : "No")}"
    );
    }

    private async Task Delete(CountryVm item)
    {
        var dialog = await _dialogService.ShowConfirmationAsync(
            $"You are about to delete Country: {item.Name} \n Are you sure?",
            "Yes",
            "No",
            "Confirm delete operation");
        var result = await dialog.Result;
        deleteConfirm = result.Cancelled;
        ToastIntent intent;
        string message = string.Empty;

        if (deleteConfirm)
        {
            intent = ToastIntent.Error;
            message = "Country has not been deleted!";
        }
        else
        {
            var i = await _mediator.Send(new DeleteCountryCommand(item.Id));
            intent = ToastIntent.Success;
            message = "Country has been deleted!";
        }

        _toastService.ShowToast(intent, message, 3000);
        await Load();
    }

    private async Task EditItem(CountryVm item)
    {
        ToastIntent intent;
        string message = string.Empty;
        int resultId = 0;

        var dialog = await _dialogService.ShowDialogAsync<Country_Edit_Component>(item, new DialogParameters()
            {
                Height = "70%",
                Width = "50%",
                Title = item.Id > 0 ? "Update Country..." : "Create New Country",
                PreventDismissOnOverlayClick = false,
                PreventScroll = true,
            });

        var result = await dialog.Result;

        if (!result.Cancelled && result.Data != null)
        {
            var final = (CountryVm)result.Data;

            if (final.Id > 0)
            {
                resultId = await _mediator.Send(new UpdateCountryCommand(final));
                intent = ToastIntent.Success;
                message = "Country has been updated!";
            }
            else if (final.Id == 0)
            {
                resultId = await _mediator.Send(new CreateCountryCommand(final));
                intent = ToastIntent.Success;
                message = "Country has been created!";
            }
            else
            {
                intent = ToastIntent.Warning;
                message = "Something went really wrong!";
            }
        }
        else if (result.Cancelled)
        {
            intent = ToastIntent.Info;
            message = "Operation Cancelled...";
        }
        else
        {
            intent = ToastIntent.Error;
            message = "Something went wrong!!!";
        }

        await Load();
        _toastService.ShowToast(intent, message, 3000);
    }

    private async Task AddPanel()
    {
        var item = new CountryVm();
        await EditItem(item);
    }
}
