@* Country Edit Component *@
@using Application.ViewModels.Accounting

@inject IMediator _mediator
@implements IDialogContentComponent<CountryVm>

<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync"
                  Disabled="@(!_editContext.Validate())">Save</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

<FluentDialogBody>
    <EditForm EditContext="_editContext">
        <FluentValidationValidator @ref="_fluentValidator" />

        <FluentTextField Id="Code" @bind-Value="@Content.Code" Placeholder="Enter country code">Code:</FluentTextField>
        <FluentValidationMessage For="@(() => Content.Code)" />

        <FluentTextField Id="Name" @bind-Value="@Content.Name" Placeholder="Enter country name">Name:</FluentTextField>
        <FluentValidationMessage For="@(() => Content.Name)" />

        <FluentCheckbox Id="IsEU" @bind-Value="@Content.IsEU">IsEU: </FluentCheckbox>
        <FluentValidationMessage For="@(() => Content.IsEU)" />
        @* <FluentButton OnClick="() => ShowCurrentValue()">Show Current IsEU Value</FluentButton> *@


        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="validation-error"><p style="color:red;">@errorMessage</p></div>
        }
    </EditForm>
</FluentDialogBody>

@code {

    [Parameter]
    public CountryVm Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    private EditContext _editContext;

    private FluentValidationValidator? _fluentValidator;

    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Content);
        base.OnInitialized();
    }

    // private void ShowCurrentValue()
    // {
    //     Console.WriteLine($"IsEU: {Content.IsEU}");
    // }

    private async Task SaveAsync()
    {
        await Dialog.CloseAsync(Content);
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }
}
