@* Country Edit Component *@
@using Application.ViewModels.Accounting
@using Application.CQRS.ITWarehouseCQRS.Currencies.Queries
@using Application.DTOs
@using Application.ViewModels
@using MediatR

@inject IMediator _mediator
@implements IDialogContentComponent<CountryVm>

<head>
    <link href="forms-tables.css" rel="stylesheet" />
</head>

<!-- Header -->
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<!-- Body -->
<FluentDialogBody Orientation="Orientation.Horizontal">
    <EditForm EditContext="_editContext">
        <DataAnnotationsValidator />

        <table class="table-container">
            <tbody>
                <tr>
                    <td class="table-caption" style="text-align: left; border-right: none;">Państwo:</td>
                    <td>
                        <FluentTextField Id="Name" @bind-Value="@Content.Name" Placeholder="Wpisz nazwę państwa" style="width: 200px;"></FluentTextField>
                        <FluentValidationMessage For="@(() => Content.Name)" />
                    </td>
                    <td class="table-caption" style="text-align: left; border-right: none;">Kod państwa:</td>
                    <td>
                        <FluentTextField Id="Code" @bind-Value="@Content.CountryCode" Placeholder="Wpisz kod państwa" style="width: 200px;"></FluentTextField>
                        <FluentValidationMessage For="@(() => Content.CountryCode)" />
                    </td>
                </tr>

                <tr>
                    <td class="table-caption" style="text-align: left; border-right: none;">Czy jest to Polska?</td>
                    <td>
                        <FluentCheckbox Id="IsPL" Value="@Content.IsPL" ValueChanged="@(e => OnCheckboxChange("IsPL", e))" />
                        <FluentValidationMessage For="@(() => Content.IsPL)" />
                    </td>
                    <td class="table-caption" style="text-align: left; border-right: none;">Czy należy do UE?</td>
                    <td>
                        <FluentCheckbox Id="IsEU" Value="@Content.IsEU" ValueChanged="@(e => OnCheckboxChange("IsEU", e))" />
                        <FluentValidationMessage For="@(() => Content.IsEU)" />
                    </td>
                </tr>
                <tr>
                    <td class="table-caption" style="text-align: left; border-right: none;">Waluta:</td>
                    <td>
                        <FluentSelect TOption="CurrencyVm" Items="@itemCurrencyList" Id="CurrencyId" Width="150px" Height="250px"
                                      OptionValue="@(p => p.Id.ToString())" OptionText="@(p => p.Name)" @bind-SelectedOption="@Content.currencyVm" @onchange="onChangeCurrency" />
                    </td>
                    <td class="table-caption" style="text-align: left; border-right: none;">Wysokość diety:</td>
                    <td>
                        <FluentNumberField Id="Allowance" Value="@Content.Allowance" ValueChanged="@((decimal e) => OnAmountChange(e))" Placeholder="Wpisz wysokość diety" style="width: 200px;"></FluentNumberField>
                        <FluentValidationMessage For="@(() => Content.Allowance)" />
                    </td>
                </tr>
                <tr>
                    <td class="table-caption" style="text-align: left; border-right: none;">Dieta podróżna:</td>
                    <td>
                        <FluentNumberField Id="TravelAllowance" @bind-Value="@Content.TravelAllowance" style="width: 200px;"></FluentNumberField>
                        <FluentValidationMessage For="@(() => Content.TravelAllowance)" />
                    </td>
                    <td class="table-caption" style="text-align: left; border-right: none;">Dieta za podróż lokalną:</td>
                    <td>
                        <FluentNumberField Id="LocalTravelAllowance" @bind-Value="@Content.LocalTravelAllowance" style="width: 200px;"></FluentNumberField>
                        <FluentValidationMessage For="@(() => Content.LocalTravelAllowance)" />
                    </td>
                </tr>
                <tr>
                    <td class="table-caption" style="text-align: left; border-right: none;">Maksymalny koszt hotelu:</td>
                    <td>
                        <FluentNumberField Id="MaxHotelCost" @bind-Value="@Content.MaxHotelCost" style="width: 200px;"></FluentNumberField>
                        <FluentValidationMessage For="@(() => Content.MaxHotelCost)" />
                    </td>
                </tr>
            </tbody>
        </table>

    </EditForm>
</FluentDialogBody>

<!-- Footer -->
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync" Disabled="isCalculated">Zapisz</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Anuluj</FluentButton>
</FluentDialogFooter>

@code {
    [Parameter] public CountryVm Content { get; set; } = default!;

    [CascadingParameter] public FluentDialog Dialog { get; set; } = default!;


    private EditContext _editContext;
    private FluentValidationValidator? _fluentValidator;
    private IQueryable<CurrencyVm> itemCurrencyList { get; set; }
    JustifyContent Justification = JustifyContent.FlexStart;
    private bool isCalculated = true;
    bool isPL, isEU;
    Orientation orientation = Orientation.Horizontal;

    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Content);
        itemCurrencyList = await _mediator.Send(new GetAllCurrenciesForSelectQuery());
        isCalculated = Content.Id <= 0;
        base.OnInitialized();
    }

    // private void ChangeEditMode()
    // {
    //     editMode = !editMode;
    // }

    private void onChangeCurrency(ChangeEventArgs e)
    {
        var selected = itemCurrencyList.FirstOrDefault(c => c.Id == int.Parse(e.Value.ToString()));
        Content.CurrencyId = selected.Id;
        Content.CurrencyVmName = selected.Name;
        // Console.WriteLine("e.Value " + e.Value);
        // Console.WriteLine("Przed: " + Content.CurrencyVm.Id + " " + Content.CurrencyVm.Title);
        // Console.WriteLine("Po: " + Content.CurrencyVmId + " " + Content.CurrencyVmName);
    }

    // private void HandleCurrencyChange(string newValue)
    // {
    //     if (Content.CurrencyVm.Id != null)
    //     {
    //         Content.CurrencyVmId = Content.CurrencyVm.Id;
    //     }
    //     else
    //     {
    //         Content.CurrencyVmId = 1;
    //     }

    // }


    private void OnCheckboxChange(string fieldName, bool newValue)
    {
        Console.WriteLine($"Checkbox changed: {fieldName} = {newValue}");

        if (fieldName == "IsPL")
        {
            Content.IsPL = newValue;
        }
        else if (fieldName == "IsEU")
        {
            Content.IsEU = newValue;
        }

        CalculateFields();
    }

    private void OnAmountChange(decimal newAmount)
    {
        Console.WriteLine($"Amount changed: Allowance = {newAmount}");
        Content.Allowance = newAmount;
        CalculateFields();
    }

    private void CalculateFields()
    {
        Console.WriteLine($"Calculating fields for Allowance: {Content.Allowance}");
        if (Content.IsPL)
        {
            Console.WriteLine("Using PL rules");
            Content.TravelAllowance = Content.Allowance * 0;
            Content.LocalTravelAllowance = Content.Allowance * 0.2m;
            isCalculated = false;
        }
        else if (!Content.IsPL)
        {
            Console.WriteLine("Using EU rules");
            Content.TravelAllowance = Content.Allowance * 0.5m;
            Content.LocalTravelAllowance = Content.Allowance * 0.1m;
            isCalculated = false;
        }
        else
        {
            Console.WriteLine("Clearing fields");
            Clear();
        }
    }

    private void Clear()
    {
        Content.TravelAllowance = 0;
        Content.LocalTravelAllowance = 0;
    }

    private async Task SaveAsync()
    {
        Console.WriteLine("SaveAsync starts...");
        if (_editContext.Validate())
        {
            Console.WriteLine("EditContext Validation OK!...");
            await Dialog.CloseAsync(Content);
        }
        else
        {
            Console.WriteLine("EditContext Validation NOT OK!...");
            return;
        }

        if (Content.Id != 0)
        {
            await Dialog.CloseAsync(Content);
        }
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }

}
<style>

</style>