@page "/itcmdbsettings"
@inject NavigationManager _navMan

<h3>ITCMDBSettings</h3>

<FluentGrid Justify="@Justification">
        <FluentGridItem xs="@xssize" sm="@smsize">
        <FluentCard>
            <FluentStack Orientation="Orientation.Vertical"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         VerticalAlignment="VerticalAlignment.Center"
                         >
                <FluentIcon Value="@(new Icons.Regular.Size24.BookStar())" />
                <h4>Categories</h4>
                
                <FluentButton BackgroundColor="var(--accent-fill-rest)"
                              Color="var(--neutral-fill-rest)"
                              OnClick="@(()=>_navMan.NavigateTo("/categories"))">
                    Categories
                </FluentButton>
            </FluentStack>
            </FluentCard>
        </FluentGridItem>
        <FluentGridItem xs="@xssize" sm="@smsize">
        <FluentCard >
            <FluentStack Orientation="Orientation.Vertical"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         VerticalAlignment="VerticalAlignment.Center"
                         >
                <FluentIcon Value="@(new Icons.Regular.Size24.BookTheta())" />
                <h4>Category Types</h4>
                <FluentButton BackgroundColor="var(--accent-fill-rest)"
                              Color="var(--neutral-fill-rest)"
                              OnClick="@(()=>_navMan.NavigateTo("/categorytypes"))">
                    CategoryTypes
                </FluentButton>
                </FluentStack>
            </FluentCard>
        </FluentGridItem>
    <FluentGridItem xs="@xssize" sm="@smsize">
        <FluentCard>
            <FluentStack Orientation="Orientation.Vertical"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         VerticalAlignment="VerticalAlignment.Center"
                         >
                <FluentIcon Value="@(new Icons.Regular.Size24.CurrencyDollarEuro())" />
                <h4>Currencies</h4>
                <FluentButton BackgroundColor="var(--accent-fill-rest)"
                              Color="var(--neutral-fill-rest)"
                              OnClick="@(()=>_navMan.NavigateTo("/currency"))">
                    Currencies
                </FluentButton>
            </FluentStack>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="@xssize" sm="@smsize">
        <FluentCard>
            <FluentStack Orientation="Orientation.Vertical"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         VerticalAlignment="VerticalAlignment.Center"
                         >
                <FluentIcon Value="@(new Icons.Regular.Size24.ChevronDownUp())" />
                <h4>Units</h4>
                <FluentButton BackgroundColor="var(--accent-fill-rest)"
                              Color="var(--neutral-fill-rest)"
                              OnClick="@(()=>_navMan.NavigateTo("/units"))">
                    Units
                </FluentButton>
            </FluentStack>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="@xssize" sm="@smsize">
        <FluentCard>
            <FluentStack Orientation="Orientation.Vertical"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         VerticalAlignment="VerticalAlignment.Center"
                         >
                <FluentIcon Value="@(new Icons.Regular.Size24.NoteEdit())" />
                <h4>Notes</h4>
                <FluentButton BackgroundColor="var(--accent-fill-rest)"
                              Color="var(--neutral-fill-rest)"
                              OnClick="@(()=>_navMan.NavigateTo("/notes"))">
                    
                    Notes
                </FluentButton>
            </FluentStack>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="@xssize" sm="@smsize">
        <FluentCard>
            <FluentStack Orientation="Orientation.Vertical"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         VerticalAlignment="VerticalAlignment.Center"
                         >
                <FluentIcon Value="@(new Icons.Regular.Size24.ChannelShare())" />
                <h4>States</h4>
                <FluentButton BackgroundColor="var(--accent-fill-rest)"
                              Color="var(--neutral-fill-rest)"
                              OnClick="@(()=>_navMan.NavigateTo("/states"))">
                    States
                </FluentButton>
            </FluentStack>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="@xssize" sm="@smsize">
        <FluentCard>
            <FluentStack Orientation="Orientation.Vertical"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         VerticalAlignment="VerticalAlignment.Center"
                         >
                <FluentIcon Value="@(new Icons.Regular.Size24.BuildingFactory())" />
                <h4>Vendors</h4>
                <FluentButton BackgroundColor="var(--accent-fill-rest)"
                              Color="var(--neutral-fill-rest)"
                              OnClick="@(()=>_navMan.NavigateTo("/vendors"))">
                              Vendors
                </FluentButton>
            </FluentStack>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xs="@xssize" sm="@smsize">
        <FluentCard>
            <FluentStack Orientation="Orientation.Vertical"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         VerticalAlignment="VerticalAlignment.Center"
                         >
                <FluentIcon Value="@(new Icons.Regular.Size24.BuildingSwap())" />
                <h4>Warehouses</h4>
                <FluentButton BackgroundColor="var(--accent-fill-rest)"
                              Color="var(--neutral-fill-rest)"
                              OnClick="@(()=>_navMan.NavigateTo("/Warehouses"))">
                              Warehouses
                </FluentButton>
            </FluentStack>
        </FluentCard>
    </FluentGridItem>
        <FluentGridItem xs="@xssize" sm="@smsize">
        <FluentCard>
            <FluentStack Orientation="Orientation.Vertical"
                         HorizontalAlignment="HorizontalAlignment.Center"
                         VerticalAlignment="VerticalAlignment.Center"
                         >
                <FluentIcon Value="@(new Icons.Regular.Size24.PhoneLaptop())" />
                <h4>Parts</h4>
                <FluentButton BackgroundColor="var(--accent-fill-rest)"
                              Color="var(--neutral-fill-rest)"
                              OnClick="@(()=>_navMan.NavigateTo("/Parts"))">
                    Parts
                </FluentButton>
            </FluentStack>
        </FluentCard>
    </FluentGridItem>

</FluentGrid>
           


@code {
    JustifyContent Justification = JustifyContent.Center;

    public int xssize { get; set; } = 2;
    public int smsize { get; set; } = 2;

    private async Task JakasFunkcja()
        {
            _navMan.NavigateTo("/itcmdbsettings");
        }
}
