@using Application.CQRS.General.Organisations.Queries
@using Application.ViewModels.Accounting
@using Application.ViewModels.General
@inject IMediator _mediator
<table>
    <tbody>
        <tr class="fluent-row">
            <td>
                <FluentAutocomplete TOption="Location"
                SelectValueOnTab="true"
                AutoComplete="on"
                Items="@Locations"
                OnOptionsSearch="@OnLocationSearch"
                Placeholder="Wybierz lokalizację..."
                Multiple=true
                MaximumSelectedOptions="1"
                OptionText="@(p => p.SapNumber + ' ' + p.Name)"
                @bind-SelectedOptions="@SelectedLocation"
                @bind-SelectedOptions:after="@HandleLocationChange"
                Width="150px" />
            </td>
            <td>
                <FluentAutocomplete TOption="CostCenterVm"
                SelectValueOnTab="true"
                AutoComplete="on"
                Items="@CostCenters"
                OnOptionsSearch="@OnCostCenterSearch"
                Placeholder="Wybierz MPK..."
                Multiple=true
                MaximumSelectedOptions="1"
                OptionText="@(p => p.MPK + ' ' + p.Description)"
                @bind-SelectedOptions="@SelectedCostCenter"
                @bind-SelectedOptions:after="@HandleCostCenterChange"
                Width="150px" />
            </td>
            <td>
                <FluentAutocomplete TOption="GLAccountVm"
                SelectValueOnTab="true"
                AutoComplete="on"
                Items="@GLAccounts"
                OnOptionsSearch="@OnGLAccountSearch"
                Placeholder="Wybierz konto..."
                Multiple=true
                MaximumSelectedOptions="1"
                OptionText="@(p => p.AccountNumber + ' ' + p.Description)"
                @bind-SelectedOptions="@SelectedGLAccount"
                @bind-SelectedOptions:after="@HandleGLAccountChange"
                Width="150px" />
            </td>
            <td>
                <FluentAutocomplete TOption="VATRateVm"
                SelectValueOnTab="true"
                AutoComplete="on"
                Items="@VATRates"
                OnOptionsSearch="@OnVATRateSearch"
                Placeholder="Wybierz stawkę VAT..."
                Multiple=true
                MaximumSelectedOptions="1"
                OptionText="@(p => p.Percentage.ToString() + ' ' + p.Name)"
                @bind-SelectedOptions="@SelectedVATRate"
                @bind-SelectedOptions:after="@HandleVATRateChange"
                Width="150px" />
            </td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter] public InvoiceMapping Posting { get; set; }
    private IEnumerable<Location> Locations { get; set; }
    [Parameter] public IEnumerable<CostCenterVm> CostCenters { get; set; }
    [Parameter] public IEnumerable<GLAccountVm> GLAccounts { get; set; }
    [Parameter] public IEnumerable<VATRateVm> VATRates { get; set; }


    IEnumerable<Location> SelectedLocation = Array.Empty<Location>();
    IEnumerable<CostCenterVm> SelectedCostCenter = Array.Empty<CostCenterVm>();
    IEnumerable<GLAccountVm> SelectedGLAccount = Array.Empty<GLAccountVm>();
    IEnumerable<VATRateVm> SelectedVATRate = Array.Empty<VATRateVm>();

    protected override async Task OnInitializedAsync()
    {
        Locations = await _mediator.Send(new GetLocationsQuery());
    }

    private void HandleLocationChange()
    {
        Posting.Location = SelectedLocation.FirstOrDefault();

        Console.WriteLine();
    }
    private void HandleCostCenterChange()
    {
        Posting.CostCenter = SelectedCostCenter.FirstOrDefault();

        Console.WriteLine();
    }
    private void HandleGLAccountChange()
    {
        Posting.GLAccount = SelectedGLAccount.FirstOrDefault();

        Console.WriteLine();
    }
    private void HandleVATRateChange()
    {
        Posting.VATRate = SelectedVATRate.FirstOrDefault();

        Console.WriteLine();
    }
    private void OnLocationSearch(OptionsSearchEventArgs<Location> e)
    {
        e.Items = Locations.Where(g => g.Name.Contains(e.Text, StringComparison.OrdinalIgnoreCase)
        || g.SapNumber.Contains(e.Text, StringComparison.OrdinalIgnoreCase));
    }
    private void OnCostCenterSearch(OptionsSearchEventArgs<CostCenterVm> e)
    {
        e.Items = CostCenters.Where(g => g.MPK.Contains(e.Text, StringComparison.OrdinalIgnoreCase)
        || g.Description.Contains(e.Text, StringComparison.OrdinalIgnoreCase));
    }
    private void OnGLAccountSearch(OptionsSearchEventArgs<GLAccountVm> e)
    {
        e.Items = GLAccounts.Where(g => g.AccountNumber.Contains(e.Text, StringComparison.OrdinalIgnoreCase)
        || g.Description.Contains(e.Text, StringComparison.OrdinalIgnoreCase));
    }
    private void OnVATRateSearch(OptionsSearchEventArgs<VATRateVm> e)
    {
        e.Items = VATRates.Where(g => g.Name.Contains(e.Text, StringComparison.OrdinalIgnoreCase)
        || g.Percentage.ToString().Contains(e.Text, StringComparison.OrdinalIgnoreCase));
    }
}
