@page "/accountingnote"
@* Accounting Note Edit Component *@
@using Application.CQRS.ITWarehouseCQRS.Companies.Queries
@using Application.Forms
@using Application.CQRS.ITWarehouseCQRS.Employees.Queries
@using Application.ViewModels.Accounting
@using Application.ViewModels.General
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Application.Interfaces

@inject IMediator _mediator
@* @implements IDialogContentComponent<AccountingNoteFormVm> *@
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Noty księgowe</h3>
<EditForm EditContext="_editContext">
    <table class="table-container">
        <thead>
            <tr class="table-caption">
                <th style="text-align: left; border-right: none; font-size: large;" colspan="2">
                    Informacje Ogólne
                </th>
                <th style="text-align: right; border-left: none; font-size: large;" colspan="2">
                    Status: @Content.Status | Numer: @Content.NoteNumber
                </th>
            </tr>
            <tr class="table-header-left table-caption">
                <th style="width: 130px;">Doradca serwisowy:</th>
                <th style="width: 150px;">Dealer:</th>
                <th style="width: 150px;">Ubezpieczyciel:</th>
                <th style="width: 120px;">Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <FluentTextField @bind-Value="@Content.ServiceAdvisor"></FluentTextField>
                </td>
                <td>
                    <FluentCombobox TOption="string"
                                    Items="@orgs"
                                    Id="OrgId"
                                    Width="150px"
                                    Height="250px"
                                    @bind-Value="@Content.Dealer" />
                </td>
                <td>
                    <FluentCombobox TOption="string"
                                    Items="@insurer"
                                    Id="InsurerId"
                                    Width="150px"
                                    Height="250px"
                                    @bind-Value="@Content.Insurer" />
                </td>
                <td>
                    <FluentDatePicker @bind-Value="@SelectedValue" />
                </td>
            </tr>

            <tr class="table-header-left table-caption">
                <th style="width: 130px;">VIN:</th>
                <th style="width: 150px;">Rejestracja:</th>
                <th style="width: 130px;">Numer zlecenia:</th>
                <th style="width: 120px;">Numer szkody:</th>
            </tr>
            <tr>
                <td>
                    <FluentTextField Id="VIN"
                                     @bind-Value="@Content.VIN"
                                     Placeholder="Wpisz VIN" />
                </td>
                <td>
                    <FluentTextField Id="Registration"
                                     @bind-Value="@Content.Registration"
                                     Placeholder="Wpisz rejestrację" />

                </td>
                <td>
                    <FluentTextField Id="OrderNumber"
                                     @bind-Value="Content.OrderNumber"
                                     Placeholder="Wpisz numer zlecenia" />

                </td>
                <td>
                    <FluentTextField Id="DamageNumber"
                                     @bind-Value="Content.DamageNumber"
                                     Placeholder="Wpisz numer szkody" />

                </td>
            </tr>
            <tr class="table-header-left table-caption">
                <th>Metoda płatności:</th>
                <th>Kwota:</th>
                <th>Termin płatności:</th>
            </tr>
            <tr>
                <td>
                    <FluentSelect Items=@PaymentMethodsInt
                                  OptionText="@(i => i.Text)"
                                  OptionValue="@(a => a.Value.ToString())"
                                  OptionSelected="@(a => a.Selected)"
                                  @bind-Value="@PaymentCashString"
                                  @bind-Value:after="@OnPaymentChanged" />
                </td>
                <td>
                    <FluentNumberField Id="Amount"
                                       @bind-Value="Content.Amount"
                                       Placeholder="Wpisz kwotę">
                    </FluentNumberField>

                </td>
                <td>
                    <FluentDatePicker @bind-Value="@SelectedValueTo" />
                </td>
            </tr>
            <tr>
                <th class="table-header-left table-caption">Treść noty:</th>
                <th colspan="3"> <FluentTextField /> </th>
            </tr>
            <tr>
                <th class="table-header-left table-caption">Załącznik:</th>
                <th colspan="3">
                    <FluentInputFile @ref="@myFileUploader"
                                     DragDropZoneVisible="false"
                                     Mode="InputFileMode.SaveToTemporaryFolder"
                                     Multiple="true"
                                     AnchorId="MyUploadLoadingButton"
                                     MaximumFileSize="@(100 * 1024 * 1024)"
                                     Accept=".mp4, .mov, .avi"
                                     OnProgressChange="@(e =>
                     {
                         _formUploading = true;
                         progressPercent = e.ProgressPercent;
                         progressTitle = e.ProgressTitle;
                     })"
                                     OnCompleted="@OnCompleted" />

                    <FluentProgress Min="0" Max="100" Visible="@(progressPercent > 0)" Value="@progressPercent" />
                    <FluentLabel Alignment="HorizontalAlignment.Center">
                        @progressTitle
                    </FluentLabel>

                    <FluentButton Id="MyUploadLoadingButton" Loading="_formUploading" Appearance="Appearance.Accent">
                        Wybierz...
                    </FluentButton>

                    @if (Files.Any())
                    {
                        <h4>Plik(i) przesłane:</h4>
                        <ul>
                            @foreach (var file in Files)
                            {
                                <li>
                                    <b>@file.Name</b> 🔹
                                    @($"{Decimal.Divide(file.Size, 1024):N} KB") 🔹
                                    @file.ContentType 🔹
                                    @file.LocalFile?.FullName
                                    @file.ErrorMessage
                                </li>
                            }
                        </ul>
                    }
                </th>
            </tr>
        </tbody>
    </table>
    @if (Content.Status == "Rejestracja")
    {
        <FluentSpacer Width="@buttonSpacer" />

        <FluentButton IconEnd="@(new Icons.Regular.Size16.Globe())"
                      Id="SendFormId"
                      Appearance="Appearance.Accent"
                      OnClick="@SendForm"
                      BackgroundColor="var(--accent-fill-rest)"
                      Style="width: 100px">
            Wyślij
        </FluentButton>
    }

    <FluentSpacer Width="@buttonSpacer" />

    <FluentButton IconEnd="@(new Icons.Regular.Size16.Globe())"
                  Appearance="Appearance.Accent"
                  Id="CancelFormId"
                  OnClick="@CancelForm"
                  BackgroundColor="var(--info)"
                  Style="width: 100px">
        Anuluj
    </FluentButton>
</EditForm>


@code {
    [Parameter] public int Id { get; set; }
    private EditContext _editContext;
    private bool isLoading { get; set; } = true;
    public AccountingNoteFormVm Content { get; set; } = new AccountingNoteFormVm();
    private ClaimsPrincipal? user { get; set; }
    private string username { get; set; }
    private EmployeeVm emp { get; set; }
    private DateTime? SelectedValue { get; set; } = DateTime.Today;
    private DateTime? SelectedValueTo { get; set; } = DateTime.Today.AddDays(14);
    private IQueryable<CompanyVm> itemCompaniesList { get; set; }
    private int buttonSpacer = 100;
    private CompanyVm selectedCompany;

    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Content);
        var dealIq = await _mediator.Send(new GetAllCompaniesByTypeIdQuery(4));
        orgs = dealIq.Select(dealer => dealer.Name).AsQueryable();

        var insurerIq = await _mediator.Send(new GetAllCompaniesByTypeIdQuery(2));
        insurer = insurerIq.Select(dealer => dealer.Name).AsQueryable();

        // Console.WriteLine($"Liczba elementów: {itemCompaniesList.Count()}");
        // foreach (var company in itemCompaniesList)
        // {
        //     Console.WriteLine($"Firma: {company.Name} (ID: {company.Id})");
        // }
        AssignStatusBool();
        GenerateNoteNumber();
        await RefreshClaims();
    }
    private IQueryable<string> orgs { get; set; }
    private IQueryable<string> insurer { get; set; }

    bool _formUploading;
    FluentInputFile? myFileUploader = default!;
    int? progressPercent;
    string? progressTitle;

    FluentInputFileEventArgs[] Files = Array.Empty<FluentInputFileEventArgs>();

    public string PaymentCashString
    {
        get => Content.PaymentMethod;  // Teraz przechowujemy stringa
        set => Content.PaymentMethod = value;
    }
    private void OnPaymentChanged()
    {
        Console.WriteLine("PaymentChanged");
    }

    private List<Option<int>> PaymentMethodsInt = new()
        {
            { new Option<int> { Value = 0, Text = "Przelew"} },
            { new Option<int> { Value = 1, Text = "Gotówka" } },
        };

    void OnCompleted(IEnumerable<FluentInputFileEventArgs> files)
    {
        Files = files.ToArray();
        progressPercent = myFileUploader!.ProgressPercent;
        progressTitle = myFileUploader!.ProgressTitle;

        // For the demo, delete these files.
        foreach (var file in Files)
        {
            file.LocalFile?.Delete();
        }
        _formUploading = false;
        StateHasChanged();
    }

    // private void HandleCompanyChange(ChangeEventArgs e)
    // {
    //     var selectedComapany = itemCompaniesList.FirstOrDefault(c => c.Id == int.Parse(e.Value.ToString()));
    //     Content.CompanyVmId = selectedComapany.Id;
    //     Content.CompanyVmName = selectedComapany.Title;

    // }

    private void AssignStatusBool()
    {
        
    }

    private async Task RefreshClaims()
    {
        try
        {
            var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authenticationState.User;
            var nameClaim = user.Claims.FirstOrDefault(c => c.Type == "name");
            Content.ServiceAdvisor = nameClaim?.Value;
        }
        catch (Exception ex)
        {
            // Handle any errors
        }
    }

    private void GenerateNoteNumber()
    {
        var dateNow = DateTime.Now;
        Content.NoteNumber = $"NT_{dateNow.Year - 2000:D2}{dateNow.Month:D2}{dateNow.Day:D2}_{dateNow.Hour:D2}{dateNow.Minute:D2}{dateNow.Second:D2}";
    }

    private async Task SaveForm()
    {
        if(_editContext.Validate())
        {
            
        }
    }
}
