@* Accounting Note Edit Component *@
@using Application.CQRS.ITWarehouseCQRS.Companies.Queries
@using Application.Forms
@using Application.CQRS.ITWarehouseCQRS.Employees.Queries
@using Application.ViewModels.Accounting
@using Application.ViewModels.General
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Application.Interfaces

@inject IMediator _mediator
@implements IDialogContentComponent<AccountingNoteFormVm>
@inject AuthenticationStateProvider AuthenticationStateProvider

<!-- Header -->
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<!-- Body -->
<FluentDialogBody Style="overflow-y: auto; overflow-x: auto;">
    <EditForm EditContext="_editContext">
        @* <FluentValidationValidator @ref="_fluentValidator" /> *@
        <DataAnnotationsValidator />
        <div class="card">
            <FluentTextField Id="NoteNumber" @bind-Value="@Content.NoteNumber" Disabled="true">NoteNumber:</FluentTextField>
            <FluentValidationMessage For="@(() => Content.NoteNumber)" />
        </div>
        <div class="card">
            <FluentDatePicker Id="Date" Label="Date:" AriaLabel="To" @bind-Value="@SelectedValue" />
            <FluentValidationMessage For="@(() => Content.Date)" />
        </div>
        <div class="card">
            <FluentTextField Id="CreatedBy" @bind-Value="@Content.CreatedBy" Disabled="true">Doradca serwisowy:</FluentTextField>
            <FluentValidationMessage For="@(() => Content.CreatedBy)" />
        </div>
@*          <div class="card">
            <FluentCombobox TOption="CompanyVm"
                            Autocomplete="ComboboxAutocomplete.Inline"
                            Label="Select company:"
                            Items="@itemCompaniesList"
                            Id="CompanyId"
                            Width="150px"
                            Height="250px"
                            OptionValue="@(p => p.Id.ToString())"
                            OptionText="@(p => p.Name)"
                            @bind-SelectedOption="@Content.companiesVm"
                            @onchange="HandleCompanyChange" />
        </div> *@
        @*          <div class="card"> //Dla Ubezpieczyciela
        <FluentCombobox TOption="CompanyVm"
        Autocomplete="ComboboxAutocomplete.Inline"
        Label="Select company:"
        Items="@itemCompaniesList"
        Id="CompanyId"
        Width="150px"
        Height="250px"
        OptionValue="@(p => p.Id.ToString())"
        OptionText="@(p => p.Name)"
        @bind-SelectedOption="@Content.companiesVm"
        @onchange="HandleCompanyChange" />
        </div> *@
        <div class="card">
            <FluentTextField Id="VIN" @bind-Value="@Content.VIN"> VIN:</FluentTextField>
            <FluentValidationMessage For="@(() => Content.VIN)" />
        </div>
        <div class="card">
            <FluentTextField Id="Registration" @bind-Value="@Content.Registration">Rejestracja:</FluentTextField>
            <FluentValidationMessage For="@(() => Content.Registration)" />
        </div>
        <div class="card">
            <FluentTextField Id="OrderNumber" @bind-Value="@Content.OrderNumber">Numer zlecenia:</FluentTextField>
            <FluentValidationMessage For="@(() => Content.OrderNumber)" />
        </div>
        <div class="card">
            <FluentTextField Id="DamageNumber" @bind-Value="@Content.DamageNumber">Numer szkody:</FluentTextField>
            <FluentValidationMessage For="@(() => Content.DamageNumber)" />
        </div>
        <div class="card">
            <FluentNumberField Id="Amount" @bind-Value="@Content.Amount">Kwota:</FluentNumberField>
            <FluentValidationMessage For="@(() => Content.Amount)" />
        </div>
@*         <div class="card">
            <FluentNumberField Id="Amount" @bind-Value="@Content.Amount" Disabled="true">Kwota:</FluentNumberField>
            <FluentValidationMessage For="@(() => Content.Amount)" />
        </div> *@
        <div class="card">
            <FluentTextField Id="PaymentMethod" @bind-Value="@Content.PaymentMethod">Metoda płatności:</FluentTextField>
            <FluentValidationMessage For="@(() => Content.PaymentMethod)" /> @* Raczej jakiś select *@
        </div>
        <div class="card">
            <FluentTextField Id="NoteContent" @bind-Value="@Content.NoteContent">Treść noty:</FluentTextField>
            <FluentValidationMessage For="@(() => Content.NoteContent)" />
        </div>
        <div class="card">
            <FluentTextField Id="Attachment" @bind-Value="@Content.Attachment">Załącznik:</FluentTextField>
            <FluentValidationMessage For="@(() => Content.Attachment)" />
        </div>
    </EditForm>
</FluentDialogBody>

<!-- Footer -->
@* <FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Save</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter> *@

@code {
    [Parameter]
    public AccountingNoteFormVm Content { get; set; } = default!;
    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;
    private EditContext _editContext;

    private ClaimsPrincipal? user { get; set; }
    private string username { get; set; }
    private EmployeeVm emp { get; set; }

    private DateTime? SelectedValue { get; set; } = DateTime.Today;

    private IQueryable<CompanyVm> itemCompaniesList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Content);
        itemCompaniesList = await _mediator.Send(new GetAllCompaniesForSelectQuery());

        GenerateNoteNumber();
        await RefreshClaims();
    }

    // private void HandleCompanyChange(ChangeEventArgs e)
    // {
    //     var selectedComapany = itemCompaniesList.FirstOrDefault(c => c.Id == int.Parse(e.Value.ToString()));
    //     Content.CompanyVmId = selectedComapany.Id;
    //     Content.CompanyVmName = selectedComapany.Name;

    // }

    private async Task RefreshClaims()
    {
        try
        {
            var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authenticationState.User;
            var nameClaim = user.Claims.FirstOrDefault(c => c.Type == "name");
            Content.CreatedBy = nameClaim?.Value;
        }
        catch (Exception ex)
        {
            // Handle any errors
        }
    }

    private void GenerateNoteNumber()
    {
        var dateNow = DateTime.Now;
        Content.NoteNumber = $"NT_{dateNow.Year - 2000:D2}{dateNow.Month:D2}{dateNow.Day:D2}_{dateNow.Hour:D2}{dateNow.Minute:D2}{dateNow.Second:D2}";
    }

    private async Task SaveAsync()
    {
        Console.WriteLine("SaveAsync starts...");
        if (_editContext.Validate())
        {
            Console.WriteLine("EditContext Validation OK!...");
            //Content.Date = SelectedValue;
            await Dialog.CloseAsync(Content);
        }
        else
        {
            Console.WriteLine("EditContext Validation NOT OK!...");
            return;
        }
        if (Content.Id != 0)
        {
            await Dialog.CloseAsync(Content);
        }
    }
}
