@page "/accountingnote"
@page "/notaksiegowa/{id:int}"

@using Application.CQRS.ITWarehouseCQRS.Companies.Queries
@using Application.Forms
@using Application.CQRS.ITWarehouseCQRS.Employees.Queries
@using Application.ViewModels.Accounting
@using Application.ViewModels.General
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Application.Interfaces
@using Application.CQRS.AccountingCQRS.AccountingNote.Commands
@using Application.CQRS.AccountingCQRS.AccountingNote.Queries
@using Application.CQRS.General.Organisations.Queries
@using Application.CQRS.AccountingCQRS.BusinessPartners.Queries

@attribute [Authorize(Policy = "User")]

@inject IMediator _mediator
@* @implements IDialogContentComponent<AccountingNoteFormVm> *@
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager _navigationManager
@inject IWebHostEnvironment Environment

<h3>Noty księgowe</h3>
@if (_editContext != null)
{
    <EditForm EditContext="_editContext">
        <table class="table-container">
            <thead>
                <tr class="table-caption">
                    <th style="text-align: left; border-right: none; font-size: large;" colspan="2">
                        Informacje Ogólne
                    </th>
                    <th style="text-align: right; border-left: none; font-size: large;" colspan="2">
                        Status: @Content.Status | Numer: @Content.NoteNumber
                    </th>
                </tr>
                <tr class="table-header-left table-caption">
                    <th style="width: 130px;">Doradca serwisowy:</th>
                    <th style="width: 150px;">Dealer:</th>
                    <th style="width: 150px;">Ubezpieczyciel:</th>
                    <th style="width: 120px;">Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <FluentTextField @bind-Value="@Content.ServiceAdvisor"></FluentTextField>
                    </td>
                    <td>
                        <FluentAutocomplete TOption="LocationVm"
                                            SelectValueOnTab="true"
                                            AutoComplete="on"
                                            OnOptionsSearch="@OnLocationSearch"
                                            Placeholder="Wybierz lokalizacje..."
                                            Width="150px"
                                            Height="250px"
                                            OptionText="@(p => p.SapNumber + ' ' + p.Description)"
                                            MaximumSelectedOptions="1"
                                            @bind-SelectedOptions="@_selectedLocation"
                                            @bind-SelectedOptions:after="@HandleLocationChange" />
                    </td>
                    <td>
                        <FluentCombobox TOption="string"
                                        Items="@insurer"
                                        Id="InsurerId"
                                        Width="150px"
                                        Height="250px"
                                        @bind-Value="@Content.Insurer" />
                    </td>
                    <td>
                        <FluentDatePicker Value="SelectedValue" ValueChanged="@(e => OnDateChanged("Date1", e))" />
                    </td>
                </tr>

                <tr class="table-header-left table-caption">
                    <th style="width: 130px;">VIN:</th>
                    <th style="width: 150px;">Rejestracja:</th>
                    <th style="width: 130px;">Numer zlecenia:</th>
                    <th style="width: 120px;">Numer szkody:</th>
                </tr>
                <tr>
                    <td>
                        <FluentTextField Id="VIN"
                                         @bind-Value="@Content.VIN"
                                         Placeholder="Wpisz VIN" />
                    </td>
                    <td>
                        <FluentTextField Id="Registration"
                                         @bind-Value="@Content.Registration"
                                         Placeholder="Wpisz rejestrację" />

                    </td>
                    <td>
                        <FluentTextField Id="OrderNumber"
                                         @bind-Value="Content.OrderNumber"
                                         Placeholder="Wpisz numer zlecenia" />

                    </td>
                    <td>
                        <FluentTextField Id="DamageNumber"
                                         @bind-Value="Content.DamageNumber"
                                         Placeholder="Wpisz numer szkody" />

                    </td>
                </tr>
                <tr class="table-header-left table-caption">
                    <th>Metoda płatności:</th>
                    <th>Kwota:</th>
                    <th>Termin płatności:</th>
                </tr>
                <tr>
                    <td>
                        <FluentSelect Items=@PaymentMethodsInt
                                      OptionText="@(i => i.Text)"
                                      OptionValue="@(a => a.Value.ToString())"
                                      OptionSelected="@(a => a.Selected)"
                                      @bind-Value="@PaymentCashString"
                                      @bind-Value:after="@OnPaymentChanged" />
                    </td>
                    <td>
                        <FluentNumberField Id="Amount"
                                           @bind-Value="Content.Amount"
                                           Placeholder="Wpisz kwotę">
                        </FluentNumberField>

                    </td>
                    <td>
                        <FluentDatePicker Value="SelectedValueTo" ValueChanged="@(e => OnDateChanged("Date2", e))" />
                    </td>
                </tr>
                <tr>
                    <th class="table-header-left table-caption">Treść noty:</th>
                    <th colspan="3"> <FluentTextField @bind-Valie="Content.NoteContent" /> </th>
                </tr>
                <tr>
                    <th class="table-header-left table-caption">Załącznik:</th>
                    <th colspan="3">
                        @* <FluentInputFile @ref="@myFileUploader"
                    DragDropZoneVisible="false"
                    Mode="InputFileMode.SaveToTemporaryFolder"
                    Multiple="true"
                    AnchorId="MyUploadLoadingButton"
                    MaximumFileSize="@(100 * 1024 * 1024)"
                    Accept=".mp4, .mov, .avi"
                    OnProgressChange="@(e =>
                    {
                    _formUploading = true;
                    progressPercent = e.ProgressPercent;
                    progressTitle = e.ProgressTitle;
                    })"
                    OnCompleted="@OnCompleted" />

                    <FluentProgress Min="0" Max="100" Visible="@(progressPercent > 0)" Value="@progressPercent" />
                    <FluentLabel Alignment="HorizontalAlignment.Center">
                    @progressTitle
                    </FluentLabel>

                    <FluentButton Id="MyUploadLoadingButton" Loading="_formUploading" Appearance="Appearance.Accent">
                    Wybierz...
                    </FluentButton>

                    @if (Files.Any())
                    {
                    <h4>Plik(i) przesłane:</h4>
                    <ul>
                    @foreach (var file in Files)
                    {
                    <li>
                    <b>@file.Name</b> 🔹
                    @($"{Decimal.Divide(file.Size, 1024):N} KB") 🔹
                    @file.ContentType 🔹
                    @file.LocalFile?.FullName
                    @file.ErrorMessage
                    </li>
                    }
                    </ul>
                    } *@

                        <FluentInputFile id="fileInput" OnChange="HandleFileUpload" accept=".png, .jpg, .pdf" />
                    </th>
                </tr>

                <tr>
                    <th colspan="4">
                        <div class="center">
                            @if (strej)
                            {

                                <FluentButton IconEnd="@(new Icons.Regular.Size16.Globe())"
                                              Id="SendFormId"
                                              Appearance="Appearance.Accent"
                                              OnClick="@SendForm"
                                              BackgroundColor="var(--accent-fill-rest)"
                                              Style="width: 100px">
                                    Wyślij
                                </FluentButton>
                            }

                            @if (stwtr)
                            {
                                //<FluentSpacer Width="@buttonSpacer" />

                                <FluentButton IconEnd="@(new Icons.Regular.Size16.Globe())"
                                              Id="SendFormId"
                                              Appearance="Appearance.Accent"
                                              OnClick="@SendForm"
                                              BackgroundColor="var(--accent-fill-rest)"
                                              Style="width: 100px">
                                    Zapisz
                                </FluentButton>
                            }

                            <FluentSpacer Width="@buttonSpacer" />

                            <FluentButton IconEnd="@(new Icons.Regular.Size16.Globe())"
                                          Appearance="Appearance.Accent"
                                          Id="CancelFormId"
                                          OnClick="@CancelForm"
                                          BackgroundColor="var(--info)"
                                          Style="width: 100px">
                                Anuluj
                            </FluentButton>

                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
        
    </EditForm>
}
else
{
    <p>Ładowanie formularza...</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    public AccountingNoteFormVm Content { get; set; } = new AccountingNoteFormVm();

    private EditContext _editContext;
    private bool isLoading { get; set; } = true;
    private bool showForm { get; set; } = true;
    private string _srcPage = "view";

    private ClaimsPrincipal? user { get; set; }
    private string username { get; set; }
    private EmployeeVm emp { get; set; }

    private DateTime? SelectedValue { get; set; } = DateTime.Today;
    private DateTime? SelectedValueTo { get; set; } = DateTime.Today.AddDays(14);

    private IQueryable<CompanyVm> itemCompaniesList { get; set; }
    private CompanyVm selectedCompany;
    private int buttonSpacer = 100;

    private bool strej { get; set; } = false;
    private bool stwtr { get; set; } = false;
    private bool stzak { get; set; } = false;

    private IEnumerable<LocationVm> _locations { get; set; } = new List<LocationVm>().AsQueryable();
    private IEnumerable<LocationVm> _selectedLocation = Array.Empty<LocationVm>();

    private AccountingNoteFormVm CurrentAttachmentForUpload = new AccountingNoteFormVm();

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            Content = await _mediator.Send(new GetAccountingNoteByIdQuery(Id));
            if (Content == null)
            {
                showForm = false;
                isLoading = false;
                return;
            }
        }
        if (Content.Dealer != null)
        {
            _selectedLocation = new[]
            {
        new LocationVm
        {
            SapNumber = Content.DG,
            Description = Content.Dealer
        }
         };
        }
        else
        {
            _selectedLocation = Array.Empty<LocationVm>();
        }


        _editContext = new EditContext(Content);
        var dealIq = await _mediator.Send(new GetAllCompaniesByTypeIdQuery(4));
        //orgs = dealIq.Select(dealer => dealer.Name).AsQueryable();
        orgs = dealIq.ToList();
        _locations = await _mediator.Send(new GetLocationsQuery());

        var insurerObject = await _mediator.Send(new GetAllBusinessPartnersByTypeNameQuery("Ubezpieczyciel"));
        insurer = insurerObject.Select(dealer => dealer.Name).AsQueryable();
        //insurer = insurerId.Select(dealer => dealer.Name).AsQueryable();

        // Console.WriteLine($"Liczba elementów: {itemCompaniesList.Count()}");
        // foreach (var company in itemCompaniesList)
        // {
        //     Console.WriteLine($"Firma: {company.Name} (ID: {company.Id})");
        // }
        SetSrcPage();
        AssignStatusBool();
        if (strej)
        {
            Content.Date = SelectedValue;
            Content.PaymentDeadline = SelectedValueTo;
        }
        //GenerateNoteNumber();
        await RefreshClaims();
    }

    private List<CompanyVm> orgs { get; set; }
    private IQueryable<string> insurer { get; set; }

    bool _formUploading;
    FluentInputFile? myFileUploader = default!;
    int? progressPercent;
    string? progressTitle;

    FluentInputFileEventArgs[] Files = Array.Empty<FluentInputFileEventArgs>();

    private void OnCompanyChanged(CompanyVm company)
    {
        if (company != null)
        {
            Content.Dealer = company.Name;
            Content.DG = company.Name;
        }
    }

    private async Task OnDateChanged(string type, DateTime? newDate)
    {
        switch ((type))
        {
            case ("Date1"):
                SelectedValue = newDate;
                Content.Date = SelectedValue;
                break;
            case ("Date2"):
                SelectedValueTo = newDate;
                Content.PaymentDeadline = SelectedValue;
                break;
            default:
                throw new ArgumentException($"Nieobsługiwane wartości: {type}");
        }
    }

    private void OnLocationSearch(OptionsSearchEventArgs<LocationVm> e)
    {
        if (e.Text != null)
        {
            e.Items = _locations.Where(a =>
                a.Description.Contains(e.Text, StringComparison.OrdinalIgnoreCase) ||
                a.SapNumber.Contains(e.Text, StringComparison.OrdinalIgnoreCase));
        }
    }

    public string PaymentCashString
    {
        get => Content.PaymentMethod;  // Teraz przechowujemy stringa
        set => Content.PaymentMethod = value;
    }

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        // if(CurrentAttachmentForUpload != null)
        // {
        //     var uploadedFile = e.File;
        //     if(uploadedFile != null)
        //     {
        //         var filePath = await FileUtils.UploadFile(uploadedFile, CurrentAttachmentForUpload.Id.ToString(), Environment.WebRootPath);
        //         var attachmentFile = new Attachment
        //             {
        //                 Id = CurrentAttachmentForUpload.Attachments.Count + 1,
        //                 FilePath = filePath,
        //                 OriginalFileName = uploadedFile.Name,
        //                 AttUrl = FileUtils.GenerateUrl(filePath, Environment.WebRootPath)
        //             };
        //         CurrentAttachmentForUpload.Attachments.Add(attachmentFile);
        //     }
        // }
        // _editContext.Validate();
    }

    private async Task HandleLocationChange()
    {
        var selectedLocation = _selectedLocation.FirstOrDefault();

        if (selectedLocation == null)
        {
            Content.Dealer = null;
            Content.DG = null;
            return;
        }

        Content.Dealer = selectedLocation.Description;
        Content.DG = selectedLocation.SapNumber;
    }


    private void OnPaymentChanged()
    {
        Console.WriteLine("PaymentChanged");
    }

    private List<Option<int>> PaymentMethodsInt = new()
        {
            { new Option<int> { Value = 0, Text = "Przelew"} },
            { new Option<int> { Value = 1, Text = "Gotówka" } },
        };

    void OnCompleted(IEnumerable<FluentInputFileEventArgs> files)
    {
        Files = files.ToArray();
        progressPercent = myFileUploader!.ProgressPercent;
        progressTitle = myFileUploader!.ProgressTitle;

        // For the demo, delete these files.
        foreach (var file in Files)
        {
            file.LocalFile?.Delete();
        }
        _formUploading = false;
        StateHasChanged();
    }

    private async Task CancelForm()
    {
        if (_srcPage == "view")
        {
            _navigationManager.NavigateTo($"/notyksiegowe");
            return;
        }
        _navigationManager.NavigateTo($"/notyksiegowe/{_srcPage}");
    }

    // private void HandleCompanyChange(ChangeEventArgs e)
    // {
    //     var selectedComapany = itemCompaniesList.FirstOrDefault(c => c.Id == int.Parse(e.Value.ToString()));
    //     Content.CompanyVmId = selectedComapany.Id;
    //     Content.CompanyVmName = selectedComapany.Title;

    // }

    private void AssignStatusBool()
    {
        strej = Content.Status == "Rejestracja";
        stwtr = Content.Status == "Otwarte";
        stzak = Content.Status == "Zamkniete";
    }

    private async Task RefreshClaims()
    {
        try
        {
            var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authenticationState.User;
            var nameClaim = user.Claims.FirstOrDefault(c => c.Type == "name");
            Content.ServiceAdvisor = nameClaim?.Value;
        }
        catch (Exception ex)
        {
            // Handle any errors
        }
    }

    // private void GenerateNoteNumber()
    // {
    //     var dateNow = DateTime.Now;
    //     Content.NoteNumber = $"NT_{dateNow.Year - 2000:D2}{dateNow.Month:D2}{dateNow.Day:D2}_{dateNow.Hour:D2}{dateNow.Minute:D2}{dateNow.Second:D2}";
    // }

    private async Task SendForm()
    {
        if (_editContext.Validate())
        {
            if (stwtr)
            {
                if (Content.Amount >= Content.AmountPaid)
                {
                    Console.WriteLine("Kwota nie opłacona");
                }
                else
                {
                    Content.Status = GetNextStatus(Content);
                }
            }
            else
            {
                Content.Status = GetNextStatus(Content);
            }

            if (Content.Id == 0)
            {
                var savedId = await _mediator.Send(new CreateAccountingNoteCommand(Content));
            }
            else
            {
                var updatedForm = await _mediator.Send(new UpdateAccountingNoteCommand(Content)); ;
            }
            _navigationManager.NavigateTo($"/notyksiegowe/{_srcPage}");
        }
    }

    private void SetSrcPage()
    {
        var uri = new Uri(_navigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("srcPage", out var sourcePageValue))
        {

            if (sourcePageValue == "pracownik" || sourcePageValue == "employee" || sourcePageValue == "ksiegowe" || sourcePageValue == "accountants" || sourcePageValue == "view")
            {
                _srcPage = sourcePageValue; // Valid sourcePage is set
            }
            else
            {
                return;
            }
        }
        else
        {
            _srcPage = "view";
            return;
        }
    }

    private string GetNextStatus(AccountingNoteFormVm content)
    {
        string newStatus = string.Empty;
        switch (content.Status)
        {
            case "Rejestracja":
                newStatus = "Otwarte";
                break;

            case "Otwarte":
                newStatus = "Zamkniete";
                break;

            default:
                throw new InvalidOperationException("Nieznany status: " + content.Status);
        }
        return newStatus;
    }
}
