@inject IConfiguration _configuration

<div class="navmenu">
@*     <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label> *@
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded">
            
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Microsoft.FluentUI.AspNetCore.Components.Color.Accent">Start</FluentNavLink>
            <AuthorizeView Policy="Technician">
                <FluentNavGroup OnClick="OnClick" Title="IT CMDB IT" Icon="@(new Icons.Regular.Size24.DesktopPulse())">
                    <ChildContent>
                        <FluentNavLink Href="assets" Icon="@(new Icons.Regular.Size20.ReceiptMoney())">Assets</FluentNavLink>
                        <FluentNavLink Href="invoices" Icon="@(new Icons.Regular.Size20.AlbumAdd())">Invoices</FluentNavLink>
                        <FluentNavLink Href="invoiceitems" Icon="@(new Icons.Regular.Size20.AddSubtractCircle())">InvoiceItems</FluentNavLink>
                        
                        <FluentNavLink Href="itcmdbsettings" Icon="@(new Icons.Regular.Size20.TrayItemAdd())">IT CMDB Settings</FluentNavLink>
                        <FluentNavLink Href="generalsettings" Icon="@(new Icons.Regular.Size20.TrayItemAdd())">General Settings</FluentNavLink>

                        <FluentNavLink Href="settlementsettings" Icon="@(new Icons.Regular.Size20.TrayItemAdd())">Settlement Settings</FluentNavLink>
                  
         
            
                    </ChildContent>
                </FluentNavGroup>
            </AuthorizeView>
            <AuthorizeView Policy="User">
                
                <FluentNavGroup Href="rozrachunki" OnClick="OnClick" Title="Rozrachunki" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.MoneyHand())" IconColor="Microsoft.FluentUI.AspNetCore.Components.Color.Accent">
                    <FluentNavLink Href="bnppage" Icon="@(new Icons.Regular.Size20.Money())">Wyciągi Bankowe</FluentNavLink>
                    </FluentNavGroup>
                <FluentNavLink Href="/coc" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.BookInformation())" IconColor="Microsoft.FluentUI.AspNetCore.Components.Color.Accent">Compliance</FluentNavLink>

                @if (envi == "DEV")
                {
                    <FluentNavLink Href="/testforms" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.TextParagraphKo())" IconColor="Microsoft.FluentUI.AspNetCore.Components.Color.Accent">TestForm</FluentNavLink>
                    
                }
                
                @* <FluentNavGroup OnClick="OnClick" Title="Rozrachunki" Icon="@(new Icons.Regular.Size24.DesktopPulse())">
                    <ChildContent>
                        
                        <FluentNavLink Href="platnosciodroczone/pracownik" Icon="@(new Icons.Regular.Size20.ReceiptMoney())">Płatności odroczone</FluentNavLink>
                        <FluentNavLink Href="platnosciodroczone/kierownik" Icon="@(new Icons.Regular.Size20.ReceiptMoney())">Płatności odroczone - akceptacja</FluentNavLink>

                    </ChildContent>
                </FluentNavGroup> *@
            </AuthorizeView>
@*             <FluentNavGroup OnClick="OnClick" Title="Empty Slot for future" Icon="@(new Icons.Regular.Size20.EarthLeaf())">
                <ChildContent>


                    <FluentNavGroup OnClick="OnClick" Title="Some Area" Icon="@(new Icons.Regular.Size20.EarthLeaf())">
                        <ChildContent>

                            <FluentNavLink Href="https://sharepoint" Icon="@(new Icons.Regular.Size20.Classification())">
                                Link 1
                            </FluentNavLink>
                            <FluentNavLink Href="https://sharepoint" Icon="@(new Icons.Regular.Size20.Classification())">
                                Link 2
                            </FluentNavLink>
                            <FluentNavLink Href="https://sharepoint" Icon="@(new Icons.Regular.Size20.BuildingFactory())">
                                Link 3
                            </FluentNavLink>
                            
                        </ChildContent>
                    </FluentNavGroup>
                    

                    <FluentNavGroup OnClick="OnClick" Title="Another Area" Icon="@(new Icons.Regular.Size20.EarthLeaf())">
                        <ChildContent>

                            <FluentNavLink Href="https://sharepoint" Icon="@(new Icons.Regular.Size20.LeafOne())">
                                Another Link 1
                            </FluentNavLink>
                            <FluentNavLink Href="https://sharepoint" Icon="@(new Icons.Regular.Size20.LeafTwo())">
                                Another Link 2
                            </FluentNavLink>
                            
                        </ChildContent>
                    </FluentNavGroup>
                    
                </ChildContent>
            </FluentNavGroup>
            <FluentNavGroup OnClick="OnClick" Title="Empty Slot for future" Icon="@(new Icons.Regular.Size20.EarthLeaf())">
                <ChildContent>


                    <FluentNavGroup OnClick="OnClick" Title="Some Area" Icon="@(new Icons.Regular.Size20.EarthLeaf())">
                        <ChildContent>

                            <FluentNavLink Href="https://sharepoint" Icon="@(new Icons.Regular.Size20.Classification())">
                                Link 1
                            </FluentNavLink>
                            <FluentNavLink Href="https://sharepoint" Icon="@(new Icons.Regular.Size20.Classification())">
                                Link 2
                            </FluentNavLink>
                            <FluentNavLink Href="https://sharepoint" Icon="@(new Icons.Regular.Size20.BuildingFactory())">
                                Link 3
                            </FluentNavLink>

                        </ChildContent>
                    </FluentNavGroup>


                    <FluentNavGroup OnClick="OnClick" Title="Another Area" Icon="@(new Icons.Regular.Size20.EarthLeaf())">
                        <ChildContent>

                            <FluentNavLink Href="https://sharepoint" Icon="@(new Icons.Regular.Size20.LeafOne())">
                                Another Link 1
                            </FluentNavLink>
                            <FluentNavLink Href="https://sharepoint" Icon="@(new Icons.Regular.Size20.LeafTwo())">
                                Another Link 2
                            </FluentNavLink>

                        </ChildContent>
                    </FluentNavGroup>

                </ChildContent>
            </FluentNavGroup> *@
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
    private string envi { get; set; } = string.Empty;
    private string appVersion { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        envi = _configuration["Environment"];
        appVersion = _configuration["AppVersion"];
    }
    void OnClick(MouseEventArgs e)
    {
        Console.WriteLine("NavMenu item clicked");
    }
}

