@* Business Partner Edit Component *@
@using Application.ViewModels.Accounting
@using Application.Forms.Accounting.Enums
@inject IMediator _mediator
@implements IDialogContentComponent<BusinessPartnerVm>

<!-- Header -->
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.BuildingBank())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<!-- Body -->
<FluentDialogBody Style="overflow-y: auto; overflow-x: auto;">
    <EditForm EditContext="_editContext">
        <FluentValidationValidator @ref="_fluentValidator" />

        <div class="form-section">
            <div class="form-grid">
                <div class="form-group">
                    <label>Nazwa: <span class="required">*</span></label>
                    <FluentTextField @bind-Value="@Content.Name" @oninput="OnInputChanged" style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Content.Name)" />
                </div>

                <div class="form-group">
                    <label>Ulica: <span class="required">*</span></label>
                    <FluentTextField @bind-Value="@Content.Street" style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Content.Street)" />
                </div>

                <div class="form-group">
                    <label>Miasto: <span class="required">*</span></label>
                    <FluentTextField @bind-Value="@Content.City" style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Content.City)" />
                </div>

                <div class="form-group">
                    <label>Kod pocztowy: <span class="required">*</span></label>
                    <FluentTextField @bind-Value="@Content.PostalCode" style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Content.PostalCode)" />
                </div>

                <div class="form-group">
                    <label>Kraj:</label>
                    <FluentTextField @bind-Value="@Content.Country" style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Content.Country)" />
                </div>

                <div class="form-group">
                    <label>Nr konta bankowego:</label>
                    <FluentTextField @bind-Value="@Content.BankAccountNumber" style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Content.BankAccountNumber)" />
                </div>

                <div class="form-group">
                    <label>VAT ID:</label>
                    <FluentTextField @bind-Value="@Content.VatId" style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Content.VatId)" />
                </div>

                <div class="form-group">
                    <label>Identyfikator SAP:</label>
                    <FluentTextField @bind-Value="@Content.SAPId" style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Content.SAPId)" />
                </div>

                <div class="form-group">
                    <label>Typ "przelewu": <span class="required">*</span></label>
                    <FluentSelect Items="@_partnerTypes" @bind-Value="Content.Type" Width="100%" />
                    <FluentValidationMessage For="@(() => Content.Type)" />
                </div>

                <div class="form-group">
                    <label>Lokalizacja:</label>
                    <FluentTextField @bind-Value="@Content.Location" style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Content.Location)" />
                </div>

                <div class="form-group">
                    <label>SAPFormType:</label>
                    <FluentSelect Items="@_sapFormTypes" @bind-Value="Content.SAPFormType" Width="100%" />
                    <FluentValidationMessage For="@(() => Content.SAPFormType)" />
                </div>

                <div class="form-group">
                    <label>DefaultCurrency:</label>
                    <FluentTextField @bind-Value="@Content.DefaultCurrency" style="width: 100%;" />
                    <FluentValidationMessage For="@(() => Content.DefaultCurrency)" />
                </div>
            </div>
        </div>
    </EditForm>


</FluentDialogBody>

<!-- Footer -->
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Zapisz</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Anuluj</FluentButton>
</FluentDialogFooter>


@code {
    [Parameter]
    public BusinessPartnerVm Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    private EditContext _editContext;

    private FluentValidationValidator? _fluentValidator;

    private List<string> _partnerTypes = new List<string>
    {
        "Zwrot do korekty","Uzywane","Polisy","Podatkowe","Inne","Zwrot nadplaty","Proforma","Zwrot do TU","Administracyjne","Okulary","Nowe od Dealera","Clo","PCC","CEPIK"
    };

    private List<string> _sapFormTypes = new List<string>
    {
    "FIBLA POP",
    "FIBLA ROP",
    "FREE FORM",
    };

    private void OnInputChanged(ChangeEventArgs e)
    {
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Content);
        base.OnInitialized();
    }

    private async Task SaveAsync()
    {
        Console.WriteLine("SaveAsync starts...");
        if (_editContext.Validate())
        {
            Console.WriteLine("EditContext Validation OK!...");
            await Dialog.CloseAsync(Content);
        }
        else
        {
            Console.WriteLine("EditContext Validation NOT OK!...");
            return;
        }
        if (Content.Id != 0)
        {
            await Dialog.CloseAsync(Content);
        }
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }
}

<style>
    .form-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }
</style>