@page "/vatrates"
@page "/stawkivat"

@using Application.CQRS.AccountingCQRS.VATRates.Queries
@using Application.CQRS.AccountingCQRS.VATRates.Commands
@using Application.ViewModels.Accounting
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Policy = "Accountant")]

@inject IMediator _mediator
@inject IDialogService _dialogService
@inject IToastService _toastService

<h3>Stawki VAT</h3>

@if (vatrate == null)
{
    <FluentProgressRing>Ładowanie...</FluentProgressRing>
}
else
{
    <FluentDataGrid Items="@filteredVatrate" Pagination="@pagination" TGridItem="VATRateVm" GridTemplateColumns="50px 200px 100px 200px 100px">
        @foreach (var column in filterColumns.Where(c => c.IsVisible))
        {
            <PropertyColumn TGridItem="VATRateVm" TProp="string" Property="@(Utils.GetPropertyExpression(column.Property))" Sortable="true" Align="Align.Start" Tooltip="true" Title="@column.Label" Filtered="!string.IsNullOrWhiteSpace(column.Filter)">
                <ColumnOptions>
                    <div class="search-box">
                        <FluentSearch type="search" Autofocus="true" @bind-Value="column.Filter" @oninput="(args) => Utils.HandleFilterDebounced(column, args, debounceDispatcher, () => InvokeAsync(StateHasChanged))" Placeholder="@($"{column.Label.ToLower()}...")" />
                    </div>
                </ColumnOptions>
            </PropertyColumn>
        }

        <TemplateColumn Title="Akcje" Align="Align.End">
            @{
                var viewId = $"viewid-{context.Id}";
                var editId = $"editid-{context.Id}";
                var deleteId = $"deleteid-{context.Id}";
            }
            <FluentButton Id="@viewId" IconEnd="@(new Icons.Regular.Size20.BookOpen())" OnClick="@(() => View(context))" />
            <FluentTooltip Anchor="@viewId" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Top Delay=50>Szczegóły</FluentTooltip>

            <FluentButton Id="@editId" IconEnd="@(new Icons.Regular.Size20.Edit())" OnClick="@(() => EditItem(context))" />
            <FluentTooltip Anchor="@editId" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Top Delay=50>Edytuj</FluentTooltip>

            <FluentButton Id="@deleteId" IconEnd="@(new Icons.Regular.Size20.Delete())" OnClick="@(() => Delete(context))" />
            <FluentTooltip Anchor="@deleteId" HideTooltipOnCursorLeave="true" Position=TooltipPosition.Top Delay=50>Usuń</FluentTooltip>

        </TemplateColumn>
    </FluentDataGrid>
    <FluentPaginator State="@pagination" />
    <FluentButton IconStart="@(new Icons.Regular.Size20.Add())" OnClick="@(() => AddPanel())" />

}

@code {
    private IQueryable<VATRateVm> vatrate;
    private IQueryable<VATRateVm> filteredVatrate => vatrate.Where(x =>
    filterColumns.All(column => string.IsNullOrWhiteSpace(column.Filter) ||
    column.Property(x).Contains(column.Filter, StringComparison.CurrentCultureIgnoreCase)));

    private bool deleteConfirm = false;
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private DebounceDispatcher debounceDispatcher = new DebounceDispatcher();

    private List<FilterColumn<VATRateVm>> filterColumns = new List<FilterColumn<VATRateVm>>
    {
        new FilterColumn<VATRateVm> { FirstRow = true, Label = "ID", Property = c => c.Id.ToString(), IsVisible = true, Width = "80px" },
        new FilterColumn<VATRateVm> { FirstRow = true, Label = "KontoGl", Property = c => c.Name, IsVisible = true, Width = "1FR" },
        new FilterColumn<VATRateVm> { FirstRow = true, Label = "Procent", Property = c => c.Percentage.ToString(), IsVisible = true , Width = "1FR" },
        new FilterColumn<VATRateVm> { FirstRow = true, Label = "Informacja", Property = c => c.Information, IsVisible = true , Width = "1FR" },
        new FilterColumn<VATRateVm> { FirstRow = true, Label = "Kolejność", Property = c => c.Order.ToString(), IsVisible = true , Width = "1FR" },

    };


    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        vatrate = await _mediator.Send(new GetAllVATRateQuery());
    }

    private async Task View(VATRateVm item)
    {
        await _dialogService.ShowInfoAsync(message: $"Id: {item.Id}, Nazwa: {item.Name}, Procent: {item.Percentage}, Informacje: {item.Information}, Kolejność: {item.Order}");
    }

    private async Task Delete(VATRateVm item)
    {
        var dialog = await _dialogService.ShowConfirmationAsync(
            $"Czy na pewno chcesz usunąć stawke VAT: {item.Name}?",
            "Usuń",
            "Anuluj",
            "Potwierdź usunięcie");
        var result = await dialog.Result;
        deleteConfirm = result.Cancelled;
        ToastIntent intent;
        string message = string.Empty;

        if (deleteConfirm)
        {
            intent = ToastIntent.Error;
            message = "Operacja anulowana";
        }
        else
        {
            var i = await _mediator.Send(new DeleteVATRateCommand(item.Id));
            intent = ToastIntent.Success;
            message = "Stawka VAT została usunięta!";
        }

        _toastService.ShowToast(intent, message, 3000);
        await Load();
    }

    private async Task EditItem(VATRateVm item)
    {
        ToastIntent intent;
        string message = string.Empty;
        int resultId = 0;

        var dialog = await _dialogService.ShowDialogAsync<VATRate_Edit_Component>(item, new DialogParameters()
            {
                Height = "450px",
                Width = "450px",
                Title = item.Id > 0 ? "Aktualizuj stawki VAT" : "Dodanie nowej stawki VAT",
                PreventDismissOnOverlayClick = false,
                PreventScroll = true,
            });

        var result = await dialog.Result;

        if (!result.Cancelled && result.Data != null)
        {
            var final = (VATRateVm)result.Data;

            if (final.Id > 0)
            {
                resultId = await _mediator.Send(new UpdateVATRateCommand(final));
                intent = ToastIntent.Success;
                message = "Stawka VAT została zaktualizowana!";
            }
            else if (final.Id == 0)
            {
                resultId = await _mediator.Send(new CreateVATRateCommand(final));
                intent = ToastIntent.Success;
                message = "Stawka VAT została utworzona!";
            }
            else
            {
                intent = ToastIntent.Warning;
                message = "Coś poszło źle!";
            }
        }
        else if (result.Cancelled)
        {
            intent = ToastIntent.Info;
            message = "Operacja anulowana";
        }
        else
        {
            intent = ToastIntent.Error;
            message = "Coś poszło źle!";
        }

        await Load();
        _toastService.ShowToast(intent, message, 3000);
    }

    private async Task AddPanel()
    {
        var item = new VATRateVm();
        await EditItem(item);
    }
}