@* Category Type Edit Component *@

@implements IDialogContentComponent<WarehouseVm>


<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync"
                  Disabled="@(!_editContext.Validate())">Save</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

<FluentDialogBody>
    <EditForm EditContext="_editContext">
        <FluentValidationValidator @ref="_fluentValidator" />
        @* <ValidationSummary /> *@
        <FluentNumberField @bind-Value="@Content.Number" Placeholder="Enter number">Number:</FluentNumberField>
        <FluentValidationMessage For="@(() => Content.Number)" />
        <FluentTextField @bind-Value="@Content.Name" Placeholder="Enter name">Name:</FluentTextField>
        <FluentValidationMessage For="@(() => Content.Name)" />
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="validation-error"><p style="color:red;">@errorMessage</p></div>
        }
    </EditForm>
</FluentDialogBody>

@code {

    [Parameter]
    public WarehouseVm Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    private EditContext _editContext;

    private FluentValidationValidator? _fluentValidator;

    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        _editContext = new EditContext(Content);
        base.OnInitialized();
    }

    private async Task SaveAsync()
    {
        if (_fluentValidator.Validate())
        {
            Console.WriteLine("Walidujemy!!!!");

        }
        else
        {
            Console.WriteLine("NIE NIE Walidujemy!!!!");
        }
        await Dialog.CloseAsync(Content);
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }

}
