@page "/przelewy/{id:int}"
@page "/banktransfers/{id:int}"

@using Application.Forms.Accounting
@using Microsoft.AspNetCore.Authorization
@using Application.ViewModels.Accounting

@attribute [Authorize(Policy = "User")]

@inject IConfiguration _configuration
@inject IMediator _mediator
@inject IJSRuntime JS
@inject ILogger<BankTransferFormVm> _logger
@inject IDialogService _dialogService
@inject IToastService _toastService
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
@inject IWebHostEnvironment Environment
@inject IValidator<BankTransferFormVm> Validator

<h3>BankTransferEditPage</h3>

@if (isLoading)
{
    <FluentProgressRing />
} else     
{
    if (showForm)
    {
        <EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit" Style="max-width: 1000px">
            <FluentValidationValidator @ref="_fluentValidationValidator" />


            <table class="table-container-light">
                <thead>
                    <tr class="table-caption-light">
                        <th style="text-align: left; border-right: none; font-size: large;" colspan="2">
                            Polecenie przelewu 
                        </th>
                        <th style="text-align: right; border-left: none; font-size: large;" colspan="2">
                            Status: @formItem.Status  @(string.IsNullOrEmpty(formItem.Number) ? "" : "| Numer: " + formItem.Number)

                        </th>
                    </tr>
                </thead>
            </table>

            <FluentGrid Spacing="@Spacing" AdaptiveRendering="true" Justify="@Justification"  Style="padding: 1px; ">
                <FluentGridItem xs="5">
                    <div class="card grid-card">
                        <b>Pracownik:</b> <span class="truncate">@_userContext.LongName</span>
                    </div>
                </FluentGridItem>

                <FluentGridItem xs="3">
                    <div class="card grid-card">
                        <span class="truncate"><b>Lokalizacja:</b> @_userContext.Employee.SapNumber</span>
                    </div>
                </FluentGridItem>

                <FluentGridItem xs="4">
                    <div class="card grid-card" >
                        <span class="truncate">
                            <b>Rodzaj przelewu:</b>
                        </span>
                        <div>
                            <FluentSelect TOption="string"
                            Disabled="@IsControlFormTypeDisabled()"
                            Items="@FormTypes"
                            Width="180px"
                            Placeholder="wybierz rodzaj przelewu..."
                            @bind-Value="@formItem.FormType" 
                            @bind-Value:after="@HandleFormTypeChange"
                            />
                        </div>
                    </div>
                </FluentGridItem>
            </FluentGrid>
            <hr/>
            @if (ShowBusinessPartners)
            {
                <div class="BusinessPartners">
                    <FluentDataGrid Items = "@_businessPartners" ShowHover = "true" TGridItem="BusinessPartnerVm" >
                        <SelectColumn 
                            TGridItem="BusinessPartnerVm"
                            SelectMode = "@BPGridMode"
                            Property="@(e => e.Selected)"
                            OnSelect="HandleSelection"
                            />
                        <PropertyColumn Width="100px" Property="@(p => p.Name)" Title="Nazwa" />
                        <PropertyColumn Width="100px" Property="@(p => p.City)" Title="ID" />
                        <PropertyColumn Width="100px" Property="@(p => p.Location)" Title="ID" />

                    </FluentDataGrid>

                </div>
            }
            <div class="ODBIORCA" >
                <FluentGrid Spacing="@Spacing" AdaptiveRendering="true" Justify="@Justification"  Style="padding: 1px; ">
                    <FluentGridItem xs="4">
                        <div class="card grid-card">
                            <span class="truncate"><b>Nazwa odbiorcy:</b> </span>
                            <FluentTextField @bind-Value=formItem.RecipientName Class="full-width-for-field"></FluentTextField>

                        </div>
                    </FluentGridItem>
                    <FluentGridItem xs="4">
                        <div class="card grid-card">
                            <span class="truncate"><b>Numer NIP:</b> </span>
                            <FluentTextField @bind-Value=formItem.RecipientVatId Class="full-width-for-field"></FluentTextField>

                        </div>
                    </FluentGridItem>
                    <FluentGridItem xs="4">
                        <div class="card grid-card">
                            <span class="truncate"><b>Ulica:</b> </span>
                            <FluentTextField @bind-Value=formItem.RecipientAddressStreet Class="full-width-for-field"></FluentTextField>

                        </div>
                    </FluentGridItem>
                    <FluentGridItem xs="4">
                        <div class="card grid-card">
                            <span class="truncate"><b>Kod pocztowy:</b> </span>
                            <FluentTextField @bind-Value=formItem.RecipientAddressPostCode Class="full-width-for-field"></FluentTextField>

                        </div>
                    </FluentGridItem>
                    <FluentGridItem xs="4">
                        <div class="card grid-card">
                            <span class="truncate"><b>Miasto:</b> </span>
                            <FluentTextField @bind-Value=formItem.RecipientAddressCity Class="full-width-for-field"></FluentTextField>

                        </div>
                    </FluentGridItem>
                    <FluentGridItem xs="4">
                        <div class="card grid-card">
                            <span class="truncate"><b>Kraj:</b> </span>
                            <FluentTextField @bind-Value=formItem.RecipientAddressCountry Class="full-width-for-field"></FluentTextField>

                        </div>
                    </FluentGridItem>
                </FluentGrid>
            </div>
            <hr/>
            <div class="DANE PRZELEWU">

                <FluentGrid Spacing="@Spacing" AdaptiveRendering="true" Justify="@Justification" Style="padding: 1px; ">
                    <FluentGridItem xs="4">
                        <div class="card grid-card">
                            <span class="truncate"><b>Numer konta:</b> </span>
                            <FluentTextField @bind-Value=formItem.BankTransferMapping.BankTrasferTitle Class="full-width-for-field"></FluentTextField>

                        </div>
                    </FluentGridItem>
                    <FluentGridItem xs="4">
                        <div class="card grid-card">
                            <span class="truncate"><b>Kwota:</b> </span>
                            <InputNumber @bind-Value=formItem.Amount Class="full-width-for-field customFluentNumber"></InputNumber>

                        </div>
                    </FluentGridItem>
                    <FluentGridItem xs="4">
                        <div class="card grid-card" >
                            <span class="truncate">
                                <b>Waluta:</b>
                            </span>
                            <div>
                                @*  <FluentAutocomplete TOption="CurrencyVm"
                                                    Disabled="@IsControlFormTypeDisabled()"
                                                    SelectValueOnTab="true"
                                                    AutoComplete="on"
                                                    MaximumOptionsSearch="30"
                                                    OnOptionsSearch="@OnCurrencySearch"
                                                    Placeholder="wybierz walutę..."
                                                    MaximumSelectedOptions="1"
                                                    OptionText="@(p => p.Name)"
                                                    @bind-SelectedOptions="@_selectedCurrency"
                                                    @bind-SelectedOptions:after="@(async () => { formItem.Currency = _selectedCurrency.FirstOrDefault();
                                                                                     Console.WriteLine("Currency changed to: " + formItem.Currency.Name);
                                                                                 })"
                                                    Width="180px" /> *@
                                <FluentAutocomplete TOption="CurrencyVm"
                                Disabled="@IsControlFormTypeDisabled()"
                                SelectValueOnTab="true"
                                AutoComplete="on"
                                MaximumOptionsSearch="30"
                                OnOptionsSearch="@OnCurrencySearch"
                                Placeholder="wybierz walutę..."
                                MaximumSelectedOptions="1"
                                OptionText="@(p => p.Name)"
                                @bind-SelectedOptions="@_selectedCurrency"
                                @bind-SelectedOptions:after="@HandleCurrencyChange"
                                Width="180px"/>
                                <FluentValidationMessage For="@(() => formItem.Currency)" class="validation-error"/>
                            </div>
                        </div>
                    </FluentGridItem>
                    <FluentGridItem xs="4">
                        <div class="card grid-card">
                            <span class="truncate"><b>Tytuł przelewu:</b> </span>
                            <FluentTextArea @bind-Value=formItem.BankTransferMapping.BankTrasferTitle Class="full-width-for-field"></FluentTextArea>

                        </div>
                    </FluentGridItem>
                    <FluentGridItem xs="4" Style="height: 100px">
                        <div class="card grid-card">
                            <span class="truncate"><b>Uwagi:</b> </span>
                            <FluentTextArea @bind-Value=formItem.BankTransferMapping.Comment Class="full-width-for-field"></FluentTextArea>

                        </div>
                    </FluentGridItem>
                    @*                     <FluentGridItem xs="4">
                        <div class="card grid-card">
                            <span class="truncate"><b>Kraj:</b> </span>
                            <FluentTextField @bind-Value=formItem.RecipientAddressCountry Class="full-width-for-field"></FluentTextField>

                        </div>
                    </FluentGridItem> *@
                    <FluentGridItem xs="4">
                        <div class="card grid-card">
                            <span class="truncate"><b>Osoba fizyczna:</b> </span>
                            <FluentSwitch
                                Disabled = "@IsControlIndividualDisabled()"
                                @bind-Value="@formItem.IsIndividual"
                                @bind-Value:after="@HandleIsIndividualChange" />
                        </div>
                    </FluentGridItem>
                </FluentGrid>

            </div>
            <div class="SPLITPAYMENT">
                <FluentGrid Spacing="@Spacing" AdaptiveRendering="true" Justify="@Justification"  Style="padding: 1px; ">
                    <FluentGridItem xs="4">
                        <div class="card grid-card">

                            <span class="truncate"><b>Czy Split Payment? </b> </span>
                            <FluentSwitch 
                                Disabled="@IsSplitPaymentDisabled()"
                                @bind-Value="@formItem.SplitPayment"
                             />

                        </div>
                    </FluentGridItem>
                    @if (formItem.SplitPayment)
                    {
                        <FluentGridItem xs="4">
                            <div class="card grid-card">

                                <span class="truncate"><b>Stawka VAT: </b> </span>
                                <FluentAutocomplete TOption="VATRateVm"
                                                    Disabled="@IsSplitPaymentDisabled()"
                                                    SelectValueOnTab="true"
                                                    AutoComplete="on"
                                                    MaximumOptionsSearch="30"
                                                    OnOptionsSearch="@OnVATRateSearch"
                                                    Placeholder="wybierz walutę..."
                                                    MaximumSelectedOptions="1"
                                                    OptionText="@(p => p.Name)"
                                                    @bind-SelectedOptions="@_selectedSplitPaymentVatRate"
                                                    @bind-SelectedOptions:after="@HandleSplitPaymentVatRateChange"
                                                    Width="180px" />


                            </div>
                        </FluentGridItem>
                        <FluentGridItem xs="4">
                            <div class="card grid-card">

                                <span class="truncate"><b>Kwota VAT: </b> </span>
                                <InputNumber class="full-width-for-field customFluentNumber"
                                    @bind-Value="@formItem.SplitPaymentAmount"
                                    @bind-Value:after="@HandleSplitPaymentAmountChange" />

                            </div>
                        </FluentGridItem>
                    }
                </FluentGrid>
            </div>

        </EditForm>
    }
    else
    {
        <FluentText>Nie można załadować formularza</FluentText>
    }

}

<style>
    
</style>