@page "/zaliczkiedit"
@using Application.CQRS.AccountingCQRS.AdvancePayments.Commands
@using Application.CQRS.AccountingCQRS.AdvancePayments.Queries
@using Application.CQRS.AccountingCQRS.CostCenters.Queries
@using Application.CQRS.AccountingCQRS.GLAccounts.Queries
@using Application.CQRS.ITWarehouseCQRS.Employees.Queries;
@using Application.CQRS.General.Organisations.Queries;
@using Application.Forms.Accounting;
@using Application.ViewModels.General;
@using BOAppFluentUI.Components.Pages.Accounting.Settlements
@using BOAppFluentUI.Components.Pages.Accounting.SharedComponents
@using Infrastructure.Services;
@using Application.Forms.Accounting.Enums
@using Application.ViewModels.Accounting

@inject IMediator _mediator
@inject IToastService _toastService
@inject IDialogService _dialogService
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

@if (isLoading)
{
    <FluentProgressRing />
}else     
    {
        if(showForm){
<EditForm EditContext="_editContext" OnValidSubmit="HandleValidSubmit">
    <h3>@Title</h3>
    <table class="table-container">
        <thead>
            <tr class="table-caption">
                <th style="text-align: left; border-right: none; font-size: large;" colspan="2">
                    Informacje Ogólne
                </th>
                <th>
                    <FluentSelect Items="@_Statuses"
                                  @bind-Value="@formItem.Status"
                                  @bind-Value:after="@HandleStatusChange" />
                </th>
                <th style="text-align: right; border-left: none; font-size: large;" colspan="2">
                    Status: @formItem.Status | Numer: 12345
                </th>
            </tr>
            <tr class="table-header-left table-caption">
                <th style="width: 130px;">Zgłaszający</th>
                <th style="width: 150px;">Oddział</th>
                <th style="width: 130px;">Cel</th>
                <th style="width: 120px;">Kwota</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @formItem.EmployeeName
                </td>
                <td>
                    @*                      <FluentAutocomplete TOption="Location"
                    Disabled="@editControlDisabled"
                    SelectValueOnTab="true"
                    AutoComplete="on"
                    OnOptionsSearch="@OnLocationSearch"
                    Placeholder="wybierz lokalizację..."
                    MaximumSelectedOptions="1"
                    OptionText="@(p => p.SapNumber + ' ' + p.Name)"
                    @bind-SelectedOptions="@_selectedLocation"
                    @bind-SelectedOptions:after="@HandleLocationChange"
                    Width="180px" /> *@
                    Warszawa HQ IT
                </td>
                <td>
                    <FluentTextField TOption="string"
                                  Placeholder="Wpisz cel zaliczki..."
                                  @bind-Value="@formItem.Objective" />
                </td>
                <td>
                    <FluentNumberField @bind-Value:get="@formItem.AdvancePaymentAmount"
                                       @bind-Value:set="@(value => formItem.AdvancePaymentAmount = value)"
                                       Style="width: 100px" />
                </td>
            </tr>
        </tbody>
    </table>
    @* Wypłata przez: *@
    <table class="table-container">
        <tbody>
            <tr>
                <td class="table-caption" style="width: 170px">
                    Wypłata przez:
                </td>
                <td style="text-align: left;" colspan="5">
                    <FluentSelect Items=@AdvancePaymentMethodsInt
                                  OptionText="@(i => i.Text)"
                                  OptionValue="@(a => a.Value.ToString())"
                                  OptionSelected="@(a => a.Selected)"
                                  @bind-Value="@AdvancePaymentCashString" />
                </td>
                @if (!formItem.AdvancePaymentCash)
                {
                <td class="table-caption" style="width: 170px">
                    Kasa:
                </td>
                <td style="text-align: left;" colspan="5">
                     <FluentAutocomplete TOption="Location"
                                            SelectValueOnTab="true"
                                            AutoComplete="on"
                                            OnOptionsSearch="@OnLocationSearch"
                                            Placeholder="Wybierz kase..."
                                            MaximumSelectedOptions="1"
                                            OptionText="@(p => p.SapNumber + ' ' + p.Name)"
                                            @bind-SelectedOptions="@_selectedLocation"
                                            @bind-SelectedOptions:after="@HandleLocationChange"
                                            Width="180px" />
                </td>
                }
            </tr>
            @if (formItem.AdvancePaymentCash)
            {
                <tr>
                    <td class="table-caption" style="width: 170px">
                        Odbiorca:
                    </td>
                    <td>
                        @formItem.EmployeeName
                    </td>
                    <td class="table-caption" style="width: 150px">
                        Numer konta bankowego:
                    </td>
                    <td>
                        <FluentTextField Placeholder="wprowadź numer konta"
                                         @bind-Value="@formItem.BankAccountNumber"
                                         Style="width: 250px;" />
                        @*
                    <FluentTextField @bind-Value="iban"
                    Placeholder="Wpisz IBAN"
                    style="width: 300px;" />
                    <FluentButton @onclick="ValidateIban">Sprawdź IBAN</FluentButton>
                    @if (!string.IsNullOrEmpty(validationResult))
                    {
                    <p>Wynik walidacji: @validationResult</p>
                    }
                    *@
                    </td>
                </tr>

            }

        </tbody>
    </table>
    @if (stks || stkstl || strozk)
    {
        <BankTransferMappingEditComponent BTItem="@formItem.BTMappingAdvancePayment" CostCenters="@_costCenters" GLAccounts="@_glAccounts" FormStatus="@formItem.Status" UserContext="@_userContext" />
    }
    @*Cashier Advance Payment*@
    @if (strozk)
    {
        <table class="table-container">
            <tbody>
                <tr>
                    <td class="table-caption">
                        Wypłata zaliczki
                    </td>
                    <td class="table-caption">
                        Kasjerka:
                    </td>
                    <td style="text-align: left;">
                        <FluentTextField Disabled="true"
                                         @bind-Value="@formItem.PayoutCashier.LongName" />
                    </td>
                    <td class="table-caption">
                        Dokument AS:
                    </td>
                    <td style="text-align: left;">
                        <FluentTextField @bind-Value="@formItem.CashPayoutNumber"
                                         Style="width: auto;" />
                        <FluentValidationMessage For="@(() => formItem.CashPayoutNumber)" class="validation-error" />
                    </td>
                </tr>
            </tbody>
        </table>
    }
    <hr />
    @if (strej || stks || stkstl || strozk)
    {
        <div>
            <table class="table-container" style="width: 100%; max-width: 400px;">
                <tr style="height: 40px;">
                    <td class="table-caption">
                        Aprobujący:
                    </td>
                    <td>
                        @if (strej)
                        {
                            <FluentSelect TOption="OrganisationRoleForFormVm"
                                          Id="AL1Id"
                                          Autofocus="true"
                                          Items="@formItem.Level1Approvers"
                                          Multiple="false"
                                          OptionValue="@(p => p.EmpId.ToString())"
                                          OptionText="@(p => p.LongName)"
                                          OptionSelected="@(p => p.IsDefault)"
                                          @bind-SelectedOption="@approverL1"
                                          Height="200px"
                                          @onchange="HandleChangeApproverL1" />
                        }

                        @if (formItem.AdvancePaymentCash)
                        {
                            <p></p>
                            <FluentSelect TOption="OrganisationRoleForFormVm"
                                          Id="AL2Id"
                                          Autofocus="true"
                                          Items="@formItem.Level2Approvers"
                                          Multiple="false"
                                          OptionValue="@(p => p.EmpId.ToString())"
                                          OptionText="@(p => p.LongName)"
                                          OptionSelected="@(p => p.IsDefault)"
                                          @bind-SelectedOption="@approverL2"
                                          Height="200px"
                                          @onchange="HandleChangeApproverL2" />
                        }
                    </td>
                </tr>
            </table>
        </div>
    }
    <FluentButton IconEnd="@(new Icons.Regular.Size16.Globe())"
                  Appearance="Appearance.Accent"
                  OnClick="@SendForm"
                  BackgroundColor="var(--accent-fill-rest)"
                  Style="width: 100px" Disabled="@(!strej)">
        Wyślij
    </FluentButton>
    @if (stal1 || stal2)
    {
        <FluentSpacer Width="@buttonSpacer" />

        <FluentButton IconEnd="@(new Icons.Regular.Size16.Globe())"
                      Appearance="Appearance.Accent"
                      OnClick="@ApproveForm"
                      BackgroundColor="var(--success)"
                      Style="width: 100px"
                      Disabled="@DisableApproveButton">
            Zatwierdź
        </FluentButton>

        <FluentSpacer Width="@buttonSpacer" />

        <FluentButton IconEnd="@(new Icons.Regular.Size16.Globe())"
                      Appearance="Appearance.Accent"
                      OnClick="@RejectForm"
                      BackgroundColor="var(--error)"
                      Style="width: 100px">
            Odrzuć
        </FluentButton>
    }
    <FluentSpacer Width="@buttonSpacer" />

    <FluentButton IconEnd="@(new Icons.Regular.Size16.Globe())"
                  Appearance="Appearance.Accent"
                  OnClick="@CancelForm"
                  BackgroundColor="var(--info)"
                  Style="width: 100px">
        Anuluj
    </FluentButton>

</EditForm>
        }
    }
@code {
    private string _srcPage;
    private EditContext _editContext;
    private FluentValidationValidator? _fluentValidationValidator; //TODO
    private bool isLoading { get; set; } = true; // TODO
    private bool userAllowed { get; set; } = false; // TODO

    private AdvancePaymentFormVm formItem = new AdvancePaymentFormVm();
    private FormUserContext _userContext = new FormUserContext("Accountant", "Technician");
    private OrganisationRoleForFormVm approverL1 { get; set; } //Mangager user
    private OrganisationRoleForFormVm approverL2 { get; set; } //Manager managager
    private OrganisationRoleForFormVm approverL3 { get; set; } //Ksiegowa - TODO
    private OrganisationRoleForFormVm approverL4 { get; set; } //Ksiegowa TeamLeader - TODO
    private OrganisationRoleForFormVm approverL5 { get; set; } //Kasa - TODO

    private bool strej = false;
    private bool stal1 = false;
    private bool stal2 = false;
    private bool stks = false;
    private bool stwys = false;
    private bool stkstl = false;
    private bool strozk = false;
    private bool stzam = false;
    private bool stodrz = false;

    private bool DisableApproveButton = true; //TODO
    private bool DisableSendButton = true; //TODO
    private OrganisationVm _organisation { get; set; }
    private int buttonSpacer = 100;
    private string Title { get; set; } = string.Empty;

    private IQueryable<EmployeeVm> _employees { get; set; }
    private IEnumerable<EmployeeVm> SelectedEmpl { get; set; }
    private IQueryable<string> _Statuses = Enum.GetValues(typeof(AdvancePaymentStatuses))
    .Cast<AdvancePaymentStatuses>().Select(c => c.ToString()).AsQueryable();

    private IEnumerable<CostCenterVm> _costCenters { get; set; }
    private IEnumerable<GLAccountVm> _glAccounts { get; set; }
    private IEnumerable<Location> _locations { get; set; } = new List<Location>().AsQueryable();
    private IEnumerable<Location> _selectedLocation = Array.Empty<Location>();

    private bool IsCashPayment { get; set; } = false;
    private bool IsBankTransfer { get; set; } = false;

    private bool showForm { get; set; } = false;


    private List<string> allowedEmp { get; set; } = new List<string>();
    private List<string> allowedEditor { get; set; } = new List<string>();





    private bool DisableRejectButton = true;





    private ApprovalVm approvalInfo { get; set; }

    private void SetSrcPage()
    {
        var uri = new Uri(_navigationManager.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("srcPage", out var sourcePageValue))
        {

            if (sourcePageValue == "kierownikL1" || sourcePageValue == "managerL1" || sourcePageValue == "kierownikL11" || sourcePageValue == "managerL11" || sourcePageValue == "kierownikL12" || sourcePageValue == "managerL12" || sourcePageValue == "pracownik" || sourcePageValue == "employee" || sourcePageValue == "kasjer" || sourcePageValue == "cashier" || sourcePageValue == "ksiegowe" || sourcePageValue == "accountants")
            {
                _srcPage = sourcePageValue; // Valid sourcePage is set
            }
            else
            {
                return;
            }
        }
        else
        {
            _srcPage = "pracownik";
            return;
        }
    }

    public string AdvancePaymentCashString
    {
        get => formItem.AdvancePaymentCash ? "1" : "0";
        set => formItem.AdvancePaymentCash = value == "1";
    }

    // private string iban;
    // private string validationResult;

    // private async Task ValidateIban()
    // {
    //     if (!string.IsNullOrEmpty(iban))
    //     {
    //         bool isValid = await Utils.ValidateIbanAsync(iban);
    //         validationResult = isValid ? "Konto istnieje" : "Konto nie istnieje";
    //     }
    // }
    //     static List<Option<string>> statuses = new()
    // {
    //     new Option<string> { Value = "Rejestracja", Text = "Rejestracja" },
    //     new Option<string> { Value = "AprobataL1", Text = "Aprobata L1 (Manager)" },
    //     new Option<string> { Value = "AprobataL2", Text = "Aprobata L2 (Manager's Manager)" },
    //     new Option<string> { Value = "ZaliczkaKasa", Text = "Zaliczka (Kasa)" },
    //     new Option<string> { Value = "ZaliczkaKsiegowosc", Text = "Zaliczka (Księgowość)" },
    //     new Option<string> { Value = "ZaliczkaKsiegowoscTL", Text = "Zaliczka (Księgowość TL)" },
    //     new Option<string> { Value = "Rozliczenie", Text = "Rozliczenie" },
    //     new Option<string> { Value = "Ksiegowosc", Text = "Księgowość" },
    //     new Option<string> { Value = "KsiegowoscTL", Text = "Księgowość TL" },
    //     new Option<string> { Value = "AprobataL11", Text = "Aprobata L1.1 (Manager)" },
    //     new Option<string> { Value = "AprobataL12", Text = "Aprobata L1.2 (Dyrektor)" },
    //     new Option<string> { Value = "KasaRozliczenie", Text = "Kasa (Rozliczenie)" },
    //     new Option<string> { Value = "WyslaneDoRobota", Text = "Wysłane do Robota" },
    //     new Option<string> { Value = "Rozliczone", Text = "Rozliczone" },
    //     new Option<string> { Value = "Zamkniete", Text = "Zamknięte" }
    // };

    private async Task UpdateBankTransferMappings(EmployeeVm newEmployee)
    {
        var tglaccount = _glAccounts.Where(g => g.AccountNumber == "24000").FirstOrDefault();
        var tlocation = _locations.Where(l => l.SapNumber == formItem.OrganisationSapNumber).FirstOrDefault();
        var tcostcenter = _costCenters.Where(c => c.MPK == _userContext.Employee.DeptNumber).FirstOrDefault();

        formItem.BTMappingAdvancePayment.SapFormType = "FreeForm";
        formItem.BTMappingAdvancePayment.CostCenter = tcostcenter;
        formItem.BTMappingAdvancePayment.GLAccount = tglaccount;
        formItem.BTMappingAdvancePayment.BusinessTravel = true;

        formItem.BTMappingPayout.SapFormType = "FreeForm";
        formItem.BTMappingPayout.CostCenter = tcostcenter;
        formItem.BTMappingPayout.GLAccount = tglaccount;

    }

    private async Task CancelForm()
    {
    }

    private async Task RejectForm()
    {
        string reason = string.Empty;

        var dialog = await _dialogService.ShowDialogAsync<DeferralPaymentRejectComponent>(reason, new DialogParameters()
            {
                Height = "240px",
                Title = $"Podaj powód odrzucenia...",
                PreventDismissOnOverlayClick = true,
                PreventScroll = true,
            });
        var result = await dialog.Result;

        if (!result.Cancelled && (result.Data != null || (string)result.Data != string.Empty))
        {
            approvalInfo.IsApproved = false;
            formItem.Approvals.Add(approvalInfo);
            formItem.RejectReason = (string)result.Data;
            formItem.Status = "Odrzucone";
            //await _mediator.Send(new Update(formItem));
            var message = $"Formularz został wysłany do {formItem.EmployeeName} w celu poprawienia.";
            var intent = ToastIntent.Success;
            _toastService.ShowToast(intent, message, 3000);
            _navigationManager.NavigateTo($"/delegacje/{_srcPage}");
        }
        else
        {
            return;
        }
    }

    private async Task ApproveForm()
    {
        if (_editContext.Validate())
        {
            formItem.Approvals.Add(approvalInfo);
            formItem.Status = GetNextStatus(formItem);
            //await _mediator.Send(new Update(formItem));
            var message = $"Zaliczka została zatwierdzona!";
            var intent = ToastIntent.Success;
            _toastService.ShowToast(intent, message, 3000);
        }
    }

    private async Task SendForm()
    {
        if (_editContext.Validate())
        {
            isLoading = true;
            showForm = false;
            formItem.Approvals.Add(approvalInfo);
            formItem.Status = GetNextStatus(formItem);
            //AssignStatusBool();
            var newId = await _mediator.Send(new CreateAdvanePaymentCommand(formItem));
            var saveResult = await _mediator.Send(new GetAdvancePaymentByIdQuery(newId));
            // var newId = await _mediator.Send(new CreateBusinessTripCommand(formItem));
            // var saveResult = await _mediator.Send(new GetBusinessTripByIdQuery(newId));
            // var message = $"Formularz został wysłany do {saveResult.LVL1_EmployeeName} w celu zatwierdzenia.";
            // var intent = ToastIntent.Success;
            // _toastService.ShowToast(intent, message, 3000);
            // _navigationManager.NavigateTo($"/delegacje/{_srcPage}");
        }
    }

    private string GetNextStatus(AdvancePaymentFormVm form)
    {
        string newStatus = string.Empty;
        if (formItem.Status == "Rejestracja")
        {
            newStatus = "AprobataL1";
        }
        else if (formItem.Status == "AprobataL1")
        {
            if (!formItem.AdvancePaymentCash)
            {
                newStatus = "Ksiegowosc";
            }
            else
            {
                newStatus = "AprobataL2";
            }
        }
        else if (formItem.Status == "AprobataL2")
        {
            newStatus = "Ksiegowosc";
        }
        else if (formItem.Status == "Ksiegowosc")
        {
            newStatus = "WyslaneDoRobota";
        }
        else if (formItem.Status == "WyslaneDoRobota")
        {
            newStatus = "KsiegowoscTL";
        }
        else if (formItem.Status == "KsiegowoscTL")
        {
            newStatus = "Kasa";
        }
        else if (formItem.Status == "Kasa")
        {
            newStatus = "Zakonczone";
        }
        else if (formItem.Status == "Odrzucone")
        {
            newStatus = "Odrzucone";
        }
        return newStatus;
    }

    #region OnSearch
    private void OnLocationSearch(OptionsSearchEventArgs<Location> e)
    {
        if (e.Text != null)
        {
            e.Items = _locations.Where(a =>
                a.Name.Contains(e.Text, StringComparison.OrdinalIgnoreCase) ||
                a.SapNumber.Contains(e.Text, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }
    #endregion

    private void HandleStatusChange()
    {
        AssignStatusBool();
        SetupForm(formItem.Status);
    }

    private async Task HandleLocationChange()
    {
        formItem.CashPoint = _selectedLocation.FirstOrDefault();
        var tempOrg = await _mediator.Send(new GetOrganisationByEmpSapNumberQuery(formItem.CashPoint.SapNumber));
        if(tempOrg != null){
            formItem.Level2Approvers = SetApprovers(tempOrg.Role_Cashiers);
        }
        
    }

    private void AssignStatusBool()
    {
        strej = formItem.Status == "Rejestracja";
        stal1 = formItem.Status == "AprobataL1";
        stal2 = formItem.Status == "AprobataL2";
        stks = formItem.Status == "Ksiegowosc";
        stwys = formItem.Status == "WyslaneDoRobota";
        stkstl = formItem.Status == "KsiegowoscTL";
        strozk = formItem.Status == "Kasa";
        stodrz = formItem.Status == "Odrzucone";
        stzam = formItem.Status == "Zamkniete";
    }

    private async Task HandleChangeApproverL1(ChangeEventArgs e)
    {
        var tempEmp = _employees.First(p => p.EnovaEmpId == int.Parse(e.Value.ToString()));
        formItem.LVL1_EnovaEmpId = tempEmp.EnovaEmpId.ToString();
        formItem.LVL1_EmployeeName = tempEmp.LongName;
    }

    private async Task HandleChangeApproverL2(ChangeEventArgs e)
    {
        var tempEmp = _employees.First(p => p.EnovaEmpId == int.Parse(e.Value.ToString()));
        formItem.LVL2_EnovaEmpId = tempEmp.EnovaEmpId.ToString();
        formItem.LVL2_EmployeeName = tempEmp.LongName;
    }

    // private void OnPaymentMethodChanged(ChangeEventArgs e)
    // {
    //     var value = e?.Value?.ToString();
    //     IsCashPayment = value == true;
    //     IsBankTransfer = value == false;
    // }

    protected override async Task OnInitializedAsync()
    {
        showForm = false;
        isLoading = false;

        _editContext = new EditContext(formItem);
        await Utils.GetUserName(_authenticationStateProvider, _userContext, _mediator);
        await GetAllowedPersons();
        _employees = await _mediator.Send(new GetAllEmployeesQuery());
        _organisation = await _mediator.Send(new GetOrganisationByEmpSapNumberQuery(_userContext.Employee.SapNumber));
        _costCenters = await _mediator.Send(new GetAllCostCenterIEnumQuery());
        _glAccounts = await _mediator.Send(new GetAllGLAccountIEnumQuery());
        _locations = await _mediator.Send(new GetLocationsQuery());
        formItem.OrganisationSapNumber = _organisation.SapNumber;
        formItem.EmployeeName = _userContext.LongName;
        formItem.BankAccountNumber = _userContext.Employee.BankAccountNumber;
        //AssignStatusBool();

        ApprovalVm approval = new ApprovalVm()
            {
                Status = formItem.Status,
                EnovaEmpId = _userContext.EnovaEmpId,
                LongName = _userContext.LongName,
                Date = DateTime.Now,
                IsApproved = true
            };
        formItem.Approvals.Add(approval);

        await SetupForm(formItem.Status);
    }

    private async Task SetupForm(string status)
    {
        AssignStatusBool();
        if (status == "Rejestracja") await SetupFormRejestracja();
        else if (stal1 || stal2) await SetupFormAprobata(status);
        else if (stks) await SetupFormKsiegowosc();
        else if (stkstl) await SetupFormKsiegowoscTL();
        else if (stwys) await SetupFormWyslaneDoRobota();
        else if (strozk) await SetupFormKasa();
        else if (stzam) await SetupFormZamkniete();

        DisableApproveButton = false;
        StateHasChanged();
    }

    private async Task SetupFormKasa()
    {
        Title = "Wniosek o zaliczkę - Kasa";
        formItem.PayoutCashier = _userContext.Employee;
        formItem.PayoutCashierEmpId = _userContext.EnovaEmpId;
    }

    private async Task SetupFormZamkniete()
    {
        Title = "Wniosek o zaliczkę - Zamknięte";
    }

    private async Task SetupFormWyslaneDoRobota()
    {
        Title = "Wniosek o zaliczkę - WyslaneDoRobota";
    }

    private async Task SetupFormKsiegowosc()
    {
        Title = "Wniosek o zaliczkę - Księgowość";
        formItem.BTMappingAdvancePayment.BankTrasferTitle = $"ZAL {formItem.Number} {formItem.EmployeeName}";
    }

    private async Task SetupFormKsiegowoscTL()
    {
        Title = "Wniosek o zaliczkę - Księgowość TeamLeader";
    }

    private async Task SetupFormAprobata(string status)
    {
        if (status == "AprobataL1")
        {
            Title = "Wniosek o zaliczkę - AprobataL1";
        }
        else if (status == "AprobataL2")
        {
            Title = "Wniosek o zaliczkę - AprobataL2";
        }
    }

    private async Task SetupFormRejestracja()
    {
        Title = "Wniosek o zaliczkę - Rejestracja";
        await AssignAllApprovers(_userContext.Employee);
    }

    private async Task GetAllowedPersons()
    {
        if (formItem.Status == "Rejestracja")
        {
            allowedEmp.Add(_userContext.EnovaEmpId);
            allowedEditor.Add(_userContext.EnovaEmpId);
        }
        if (stal1 || stal2)
        {
            allowedEmp.Add(formItem.EnovaEmpId);
            allowedEmp.Add(formItem.LVL1_EnovaEmpId); //this is manager of requestor
            allowedEmp.Add(formItem.LVL2_EnovaEmpId);
            //allowedEmp.AddRange(formItem.Level2Approvers.Select(l => l.EmpId.ToString()));//this is Settlement Department
        }
        showForm = allowedEmp.Contains(_userContext.EnovaEmpId);
        isLoading = false;
        StateHasChanged();
    }

    private async Task AssignAllApprovers(EmployeeVm emp)
    {
        approverL1 = new()
            {
                IsDefault = true,
                EmpId = emp.ManagerId,
                LongName = emp.Manager.LongName
            };

        formItem.Level1Approvers.Clear();
        formItem.Level1Approvers.Add(approverL1);
        formItem.LVL1_EnovaEmpId = emp.ManagerId.ToString();
        formItem.LVL1_EmployeeName = emp.Manager.LongName;
        formItem.Level2Approvers = SetApprovers(_organisation.Role_RegionDirector);
        // formItem.Level2Approvers.Clear();
        // formItem.Level2Approvers.Add(approverL1);
        // formItem.LVL2_EnovaEmpId = emp.ManagerId.ToString();
        // formItem.LVL2_EmployeeName = emp.Manager.LongName;
    }

    private List<OrganisationRoleForFormVm> SetApprovers(List<OrganisationRoleVm> rolesIn)
    {
        return rolesIn
            .Select(role => new OrganisationRoleForFormVm(role))
            .ToList();
    }

    private void LoadAutocompleteControls()
    {
        if (!string.IsNullOrEmpty(formItem.EnovaEmpId))
        {
            var empl = _employees.Where(e => e.EnovaEmpId == int.Parse(formItem.EnovaEmpId)).First();
            SelectedEmpl = new List<EmployeeVm>() { empl };
        }
    }

    private List<Option<int>> AdvancePaymentMethodsInt = new()
        {
            { new Option<int> { Value = 0, Text = "Wypłata w kasie"} },
            { new Option<int> { Value = 1, Text = "Wypłata przelewem" } },
        };

    private void HandleValidSubmit(EditContext arg)
    {
        throw new NotImplementedException();
    }

}

<style>
    valid.disabled.outline {
        color: black !important; /* Change font color to black */
    }

    div {
        /*flex-shrink: 0; /* Prevent shrinking of elements */
    }

    .flex-container {
        display: flex; /* Enables horizontal alignment */
        align-items: center; /* Vertically centers items */
        gap: 10px; /* Adds space between elements */
        flex-wrap: wrap; /* Wraps to the next line if there's not enough space */
    }

        .flex-container > * {
            flex-shrink: 0; /* Prevents items from shrinking */
            margin: 0; /* Optional: Resets any margin */
        }

    .form-group {
        display: flex;
        align-items: center; /* Align label and control vertically */
        gap: 10px; /* Space between the label and the control */
        flex-wrap: nowrap; /* Ensure label and control stay on the same line */
        flex: 1 1 auto; /* Allow the group to resize */
        justify-content: flex-start; /* Align items to the left */
    }


    .form-section {
        display: flex;
        flex-wrap: wrap; /* Allows wrapping if content overflows */
        gap: 15px; /* Spacing between child divs */
        margin-bottom: 15px;
    }

        .form-section > div {
            display: flex;
            align-items: center; /* Vertically centers content within each div */
            gap: 10px; /* Spacing between elements inside the div */
        }

    .new-form-sectionbbb {
        display: flex;
        flex-wrap: wrap; /* Allows wrapping if content overflows */
        gap: 15px; /* Spacing between child divs */
        margin-bottom: 15px; /* Matches other form sections */
        border: 2px solid;
        border-radius: 8px; /* Rounded corners */
        padding: 10px; /* Space inside the border */
        margin: 10px 0; /* Space outside the div */
        align-items: center; /* Vertically center content */
    }

    .new-form-section {
        display: flex; /* Enable horizontal alignment */
        flex-wrap: nowrap; /* Prevent wrapping to the next line */
        align-items: center; /* Vertically align content */
        justify-content: flex-start; /* Align items to the start of the line */
        border: 2px solid;
        border-radius: 8px; /* Rounded corners */
        padding: 10px;
        margin: 10px 0;
        background-color: lightblue; /* Default background color */
        gap: 15px; /* Spacing between child divs */
        width: fit-content;
    }

        /* Child divs inside the form section */
        .new-form-section > div {
            display: flex;
            align-items: center; /* Center content within the div */
        }

        /* Background color for "Kasa" status */
        .new-form-section.kasa {
            background-color: #a2b3d4;
            border-color: #a2b3d4; /* Matching blue border */
        }

        /* Background color for "Ksiegowosc" status */
        .new-form-section.ksiegowosc {
            background-color: #d3d3d3;
            border-color: #d3d3d3; /* Matching grey border */
        }

    .fluent-grid-item {
        flex-shrink: 0; /* Prevents shrinking of elements */
    }

    .autocomplete-container {
        display: flex;
        align-items: center;
        gap: 10px; /* Adjust spacing as needed */
    }

        .autocomplete-container .fluent-autocomplete {
            display: flex;
            flex-direction: row; /* Forces label and control to align horizontally */
            align-items: center;
        }

    table {
        border-collapse: collapse; /* Optional: For a cleaner look */
        /*width: 750px; /* Optional: Adjust to fit your container */
    }

    th, td {
        padding: 5px; /* Adds padding inside each cell */
        text-align: center; /* Optional: Align text to the left */
    }

        td:first-child, th:first-child {
            padding-left: 0; /* Removes padding on the left of the first cell */
        }

   

    .info-table {
        width: 650px;
        margin-bottom: 10px;
    }

        .info-table td {
            padding: 10px;
        }

    .fluent-grid {
        display: flex;
        gap: 10px; /* Adjust the gap as needed */
    }

    .fluent-grid-item {
        display: flex;
        flex-direction: row;
        gap: 10px; /* Adjust the gap between date and time pickers */
    }

    .custom-grid-item {
        width: 150px;
    }

    .bold-label {
        font-weight: bold;
    }

    .validation-error {
        color: red;
        margin-top: 5px;
        margin-bottom: 5px;
        white-space: normal; /* Allow wrapping */
        word-wrap: break-word; /* Ensure long words break */
        display: block; /* Ensure it takes full width */
    }

        .validation-error::before {
            font-size: 1.5em; /* Adjust size as needed */
            margin-right: 5px; /* Space between icon and text */
            vertical-align: middle; /* Align properly */
        }

    .fluent-table {
        border-collapse: collapse;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .fluent-caption {
        caption-side: top;
        text-align: left;
        font-size: 1em;
        font-weight: bold;
        padding: 5px;
        background-color: dimgrey;
        color: white;
    }

    .fluent-thead {
        background-color: lightgrey;
        color: dimgray;
    }

        .fluent-thead th {
            padding: 5px;
            text-align: left;
        }

    .fluent-row {
    }

        .fluent-row td {
            padding: 5px;
        }

        .fluent-row div {
            display: flex;
            align-items: center;
        }

            .fluent-row div FluentButton {
                margin-right: 5px;
            }

    html, body {
        height: 100%;
        margin: 0;
    }

    .page {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .bodybody {
        flex: 1; /* This makes the body content take up the remaining space */
        padding-bottom: 125px; /* Ensure content doesn't overlap the footer */
    }

    .footerfooter {
        height: 125px;
        background-color: #f1f1f1; /* Example background color */
        text-align: center; /* Center the footer content */
        line-height: 75px; /* Vertically center the text */
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .emptytemp{
        margin-top: 20 px;
    }

    .disabled {
        opacity: 1 !important;
    }

    fluent-select[disabled] {
        --disabled-opacity: 0.9 !important;
    }
    fluent-combobox[disabled] {
        --disabled-opacity: 1 !important;
    }

</style>
<style>
    .all-tables-wrapper {
        display: flex;
        flex-direction: column; /* Arrange the tables vertically */
        justify-content: flex-start;
        align-items: flex-start; /* Center everything horizontally */
        gap: 20px; /* Add spacing between the groups */
    }

    .tables-wrapper {
        display: flex;
        justify-content: flex-start; /* Dynamically adjust based on content width */
        gap: 20px; /* Space between the left and right tables */
    }

    .third-table-wrapper {
        display: flex;
        justify-content: flex-start; /* Center the third table */
        width: 100%;
    }

    .table-container {
        max-height: 60px;
        width: 100%;
        max-width: 1000px; /* Restrict table width */
        border-collapse: separate;
        border-spacing: 0;
        font-family: Arial, sans-serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: visible;
    }

        .table-container thead tr:first-child th {
            max-height: 60px;
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 8px;
        }


        .table-container th {
            max-height: 60px;
            padding: 8px;
            font-size: 12px;
            border: 1px solid #ddd;
            white-space: nowrap; /* Prevent line breaks */
            overflow: visible; /* Prevent content from spilling out */
            text-overflow: ellipsis; /* Add "..." for overflowing text */
            align-items: center; /* Vertically center content */
            justify-content: space-between; /* Push text and icon to the edges */
        }

        .table-container td {
            max-height: 60px;
            padding: 8px;
            font-size: 12px;
            border: 1px solid #ddd;
            white-space: nowrap; /* Prevent line breaks */
            overflow: visible;
            text-overflow: ellipsis; /* Add "..." for overflowing text */
        }

    .table-header-left {
        max-height: 60px;
        background-color: var(--accent-fill-rest);
    }

    .table-header-right {
        background-color: color-mix(in srgb, white 15%, var(--accent-fill-rest) 60%);
    }

    .table-caption {
        max-height: 60px;
        caption-side: top; /* Place caption above the table */
        background-color: var(--accent-fill-rest); /* Match header background */
        color: white; /* Match header text color */
        font-weight: bold; /* Make it bold */
        text-align: left; /* Center the text */
        padding: 8px; /* Add padding for spacing */
        border: 1px solid #ddd; /* Optional: Match table border */
        border-bottom: none; /* Remove bottom border for seamless look with the table */
    }


</style>
<style>
    .BillTable-container {
        max-height: 60px;
        width: 100%;
        max-width: 1000px;
        border-collapse: separate;
        border-spacing: 0;
        font-family: Arial, sans-serif;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: visible; /* Prevent content overflow */
        table-layout: fixed; /* Ensures width enforcement */
    }

        .BillTable-container th,
        .BillTable-container td {
            max-height: 60px;
            padding: 8px;
            font-size: 12px;
            border: 1px solid #ddd;
            white-space: nowrap;
            position: relative;
            overflow: visible; /* Prevents width overflow */
            text-overflow: ellipsis; /* Adds "..." for long text */
        }

        .BillTable-container thead tr:first-child th {
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 8px;
        }

        .BillTable-container th:nth-child(2),
        .BillTable-container th:nth-child(3),
        .BillTable-container th:nth-child(4),
        .BillTable-container th:nth-child(6),
        .BillTable-container td:nth-child(2),
        .BillTable-container td:nth-child(3),
        .BillTable-container td:nth-child(4),
        .BillTable-container td:nth-child(6) {
            width: 120px; /* Enforce fixed column widths */
        }

    .BillTable-header-left {
        background-color: var(--accent-fill-rest);
    }

    .BillTable-header-right {
        background-color: color-mix(in srgb, white 40%, var(--accent-fill-rest) 60%);
    }

    @* .fluent-select-dropdown {
        
     *@}

</style>
<style>
    .tableBT-wrapper {
        display: table;
        width: 100%;
    }

    .tableBT-container {
        width: 100%;
        max-width: 500px;
        border-collapse: collapse; /* Ensure no space between tables */
        font-family: Arial, sans-serif;
    }

        .tableBT-container thead tr:first-child th {

            font-weight: bold;
            text-align: center;
            padding: 8px;
        }

        .tableBT-container th, .tableBT-container td {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ddd;
            white-space: nowrap; /* Prevent line breaks */
            overflow: hidden; /* Prevent content from spilling out */
            text-overflow: ellipsis; /* Add "..." for overflowing text */
            align-items: center; /* Vertically center content */
            justify-content: space-between; /* Push text and icon to the edges */
        }

    .tableBT-header-left {
        background-color: var(--accent-fill-rest);
    }

    .tableBT-container td {
        border-top: none; /* Remove border between tables */
    }

    .tableBT-fullwidth {
        width: 100%; /* Allow the table to stretch within the parent container */
        max-width: 500px; /* Match the max-width of the first two tables */
        margin: 0 auto; /* Center the table horizontally within the parent */
        table-layout: auto; /* Allow columns to adjust based on content */
    }

        .tableBT-fullwidth th,
        .tableBT-fullwidth td {
            white-space: nowrap; /* Keep content in a single line */
            overflow: hidden; /* Prevent content overflow */
            text-overflow: ellipsis; /* Truncate with "..." if content exceeds width */
            padding: 8px; /* Standard padding */
            text-align: center; /* Center-align text */
        }
</style>
<style>
    .validation-errors-list {
        margin: 0;
        padding-left: 20px; /* Indent the sub-list */
    }

        .validation-errors-list li {
            margin-bottom: 5px; /* Adjust spacing between lines */
            line-height: 1.2; /* Adjust line height for compactness */
        }

            .validation-errors-list li ul {
                margin-top: 2px; /* Reduce space before nested lists */
                padding-left: 15px; /* Indent nested lists */
            }
</style>