@page "/categorytypes"
@using Application.CQRS.ITWarehouseCQRS.CategoryTypes
@using Application.CQRS.ITWarehouseCQRS.CategoryTypes.Queries
@using Application.CQRS.ITWarehouseCQRS.CategoryTypes.Commands
@* @using BOAppFluentUI.Components.Pages.ITWarehouseAdmin.Category *@
@using Application.ViewModels
@using MediatR
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Policy = "Technician")]

@inject IMediator _mediator
@inject ILogger<CategoryType_Page> _logger
@inject IDialogService _dialogService
@inject IToastService _toastService


<h3>Category Types</h3>

@if (catypes == null)
{
    <FluentProgressRing>Loading...</FluentProgressRing>
    
}
else
{

    <FluentDataGrid Items="@catypes" TGridItem="CategoryTypeVm" GridTemplateColumns="50px repeat(2, 1fr)" ResizableColumns=true>
        
        
        <PropertyColumn Property="@(c => c.Id)" Sortable="true" Align="Align.Start" Tooltip="true" />
        <PropertyColumn Property="@(c => c.Name)" Sortable="true" Align="Align.Start" Tooltip="true" Title="Category Type Name" />
        <TemplateColumn Title="Actions" Align="Align.End">
            <FluentButton IconEnd="@(new Icons.Regular.Size20.BookOpen())" OnClick="@(() => View(context))" />
            <FluentButton IconEnd="@(new Icons.Regular.Size20.Edit())" OnClick="@(() => EditCatType(context))" />
            <FluentButton IconEnd="@(new Icons.Regular.Size20.Delete())" OnClick="@(() => Delete(context))" />

        </TemplateColumn>
    </FluentDataGrid>
    <FluentButton IconStart="@(new Icons.Regular.Size20.Add())" OnClick="@(() => Add())" />
}



@code {
    // public CategoryTypeVm Selected { get; set; }

    // CreateCategoryTypeCommandValidator cctcV = new();

    private IQueryable<CategoryTypeVm> catypes;


    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        catypes = await _mediator.Send(new GetAllCategoryTypesQuery());
        Console.WriteLine(catypes.Count());
    }

    private async Task EditCatType(CategoryTypeVm ctVm)
    {
        ToastIntent intent;
        string message = string.Empty;
        int i = 0;

        var data = ctVm;
        var dialog = await _dialogService.ShowDialogAsync<CategoryType_Edit_Component>(data, new DialogParameters()
        {
                Height = "240px",
                Title = data.Id > 0 ? "Update Category Type" : "Create new Category Type",
                PreventDismissOnOverlayClick = false,
                PreventScroll = true,
        });
        var result = await dialog.Result;
        if(!result.Cancelled && result.Data != null)
        {
            ctVm = (CategoryTypeVm)result.Data;
            if (ctVm.Id > 0)
            {
                i = await _mediator.Send(new UpdateCategoryTypeCommand(ctVm.Id, ctVm.Name));
                intent = ToastIntent.Success;
                message = "CategoryType has been updated!";
            } else if (ctVm.Id == 0)
            {
                i = await _mediator.Send(new CreateCategoryTypeCommand(ctVm.Name));
                intent = ToastIntent.Success;
                message = "CategoryType has been Created!";
            } else
            {
                intent = ToastIntent.Warning;
                message = "Something went realy wrong!";
            }

        } else if (result.Cancelled)
        {
            intent = ToastIntent.Info;
            message = "Update Cancelled...";
        } else
        {
            intent = ToastIntent.Error;
            message = "Something went wrong!!!";
        }


        await Load();
        _toastService.ShowToast(intent, message, 3000);

        Console.WriteLine(result.GetType());
    }

    private async Task View(CategoryTypeVm catType)
    {
        await _dialogService.ShowInfoAsync(message: $"Category type id: {catType.Id}, name: {catType.Name}");
    }

    private async Task Add()
    {
        CategoryTypeVm ctVm = new CategoryTypeVm { Id = 0, Name = string.Empty };
        await EditCatType(ctVm);
    }

    private async Task Delete(CategoryTypeVm ctVm)
    {
        ToastIntent intent;
        string message = string.Empty;

        var i = await _mediator.Send(new DeleteCategoryTypeCommand(ctVm.Id));

        if (i == ctVm.Id)
        {
            intent = ToastIntent.Success;
            message = "CategoryType has been deleted!";
        }
        else
        {
            intent = ToastIntent.Error;
            message = "Something went wrong!!!";
        }
        await Load();
        _toastService.ShowToast(intent, message, 3000);

    }
}
@* Disabled="@(string.IsNullOrEmpty(Content.Name) || string.IsNullOrWhiteSpace(Content.Name))" *@
